
    <div class="fixed-bar">
        <div class="item-title">
            <a class="back_xin" href="{if condition="'Sample' == $Request.param.sc && 'index' == $Request.param.sa"}{:url("Weapp/index")}{else /}{:weapp_url("Sample/Sample/index")}{/if}" title="返回列表"><i class="iconfont e-fanhui"></i></a>
            <a class="back_sz mt10" href="javascript:void(0);" onclick="click_to_eyou_1575506523('{:weapp_url("Sample/Sample/doc")}', '使用教程');"><i class="ui_tips"></i>使用教程</a>
            <div class="subject">
                <h3>{$weappInfo['name']}</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li>
                {eq name="$Request.param.sa" value="index"}
                    <a href="javascript:void(0);" class="tab current"><span>文档列表</span></a>
                {else /}
                    <a href="{:weapp_url("Sample/Sample/index")}" class="tab"><span>文档列表</span></a>
                {/eq}
                </li>

                <li>
                {range name="$Request.param.sa" value="conf" type='in'}
                    <a href="javascript:void(0);" class="tab current"><span>插件配置</span></a>
                {else /}
                    <a href="{:weapp_url("Sample/Sample/conf")}" class="tab"><span>插件配置</span></a>
                {/range}
                </li>
            </ul>
        </div>
    </div>