{include file="public/layout" /}

<body class="bodystyle" style="cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
			<a class="back_xin" href="{:url('Index/switch_map')}" title="返回"><i class="iconfont e-fanhui"></i></a>
			<div class="subject">
			    <h3>积分兑换</h3>
			    <h5></h5>
			</div>
            <ul class="tab-base nc-row">
                {eq name="'Memgift@gift_exchange_list'|is_check_access" value="1"}
                    <li>
                        <a {if condition="in_array($Request.action, ['gift_exchange_list'])"}class="current"{/if} href="{:url('Memgift/gift_exchange_list')}">
                            <span>兑换列表</span>
                        </a>
                    </li>
                {/eq}
        
                {eq name="'Memgift@index'|is_check_access" value="1"}
                    <li>
                        <a {if condition="in_array($Request.action, ['index'])"}class="current"{/if} href="{:url('Memgift/index')}">
                            <span>商品列表</span>
                        </a>
                    </li>
                {/eq}   
            </ul>
        </div>
    </div>
    <div class="flexigrid" style="min-height: 600px;">
        <div class="mDiv pt0">
            <div class="ftitle">
                <div class="fbutton" style="float: none;">
                    <!--<a data-href="{:url('Memgift/add')}" onclick="openFullframe(this, '兑换列表');">-->
                    <a href="{:url('Memgift/add')}">
                        <div class="add">
                            <span><i class="layui-icon layui-icon-addition"></i>新增商品</span>
                        </div>
                    </a>
                </div>
            </div>
            <form class="navbar-form form-inline" id="searchForm" action="{:url('Memgift/index')}" method="get" onsubmit="layer_loading('正在处理');">
                {$searchform.hidden|default=''}
                <div class="sDiv">
                    <div class="sDiv2">
                        <select name="status" class="select" style="margin:0px 5px;">
                            <option value="">--商品状态--</option>
                            <option value="1" {eq name="$Request.param.status" value="1"}selected{/eq}>显示</option>
                            <option value="0" {eq name="$Request.param.status" value="0"}selected{/eq}>隐藏</option>
                        </select>
                    </div>
                    价格范围：
                    <div class="sDiv2">
                        <input type="text" size="30" name="price1" value="{$Request.param.price1}" class="qsbox" style="background-color: #FFF;font-size: 12px;line-height: 24px;width: 40px;height: 24px;padding: 1px 5px 1px 5px;">
                    </div>
                    <span>至</span>
                    <div class="sDiv2">
                        <input type="text" size="30" name="price2" value="{$Request.param.price2}" class="qsbox" style="background-color: #FFF;font-size: 12px;line-height: 24px;width: 40px;height: 24px;padding: 1px 5px 1px 5px;">
                    </div>
                    <span style="width: 20px;display: inline-block;"></span>
                    <div class="sDiv2">
                        <input type="submit" style="border-radius: 0;color: #3398cc;line-height: 24px;padding: 0px 15px 0px 15px;font-size: 12px;background: #fff;border: 1px solid #3398cc;cursor: pointer;" value="搜索">
                    </div>
                </div>
            </form>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th abbr="download_title" axis="col3" class="w60">
                            <div class="tc">ID</div>
                        </th>
                        <th abbr="ac_id" axis="col4">
                            <div class="text-l10">商品名称</div>
                        </th>
                        <th abbr="download_time" axis="col6" class="w100">
                            <div class="tc">{$score.score_name}</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w80">
                            <div class="tc">类型</div>
                        </th>
                        <th align="center" abbr="download_time" axis="col6" class="w80">
                            <div class="tc">库存</div>
                        </th>
                        <th abbr="download_time" axis="col6" class="w100">
                            <div class="tc">兑换者</div>
                        </th>
                        <th abbr="download_time" axis="col6" class="w80">
                            <div class="tc">兑换次数</div>
                        </th>
                        <th abbr="download_time" axis="col6" class="w80">
                            <div class="tc">显示</div>
                        </th>
                        <th axis="col1" class="w100">
                            <div class="tc">操作</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w60">
                            <div class="tc">排序</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                        {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <div class="no_row">
                                    <div class="no_pic"><img src="__SKIN__/images/null-data.png"></div>
                                </div>
                            </td>
                        </tr>
                        {else/}
                        {foreach name="list" item="vo" key="k" }
                        <tr>
                            <td class="sort">
                                <div class="tc w60">
                                    {$vo.gift_id}
                                </div>
                            </td>
                            <td style="width: 100%">
                                <div class="text-l10">
                                    {$vo.giftname}
                                </div>
                            </td>
                            <td>
                                <div class="w100 tc">
                                    {$vo.score}
                                </div>
                            </td>
                            <td>
                                <div class="tc w80">
                                    {eyou:if condition="$vo.type eq -1"}
                                    实物
                                    {else /}
                                    虚拟
                                    {/eyou:if}
                                </div>
                            </td>
                            <td>
                                <div class="tc w80">
                                    {$vo.stock}
                                </div>
                            </td>
                            <td>
                                <div class="tc w100">
                                    {eyou:empty name="$vo.num"}
                                    无人兑换
                                    {else /}
                                    <a data-href="{:url('admin/Memgift/gift_exchange_list',array('gift_id'=>$vo.gift_id))}" onclick="openFullframe(this, '兑换列表');" style="cursor: pointer;"><u style="text-decoration: none;">查看兑换列表</u></a>
                                    {/eyou:empty}
                                </div>
                            </td>
                            <td>
                                <div class="tc w80">
                                    {$vo.num}
                                </div>
                            </td>
                            <td>
                                <div class="tc w80">
                                    {if condition="$vo['status'] eq 1"}
                                    <span class="yes" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"} onClick="changeTableVal('memgift','gift_id','{$vo.gift_id}','status',this);" {/eq} ><i class="fa fa-check-circle"></i>是</span>
                                    {else /}
                                    <span class="no" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"} onClick="changeTableVal('memgift','gift_id','{$vo.gift_id}','status',this);" {/eq} ><i class="fa fa-ban"></i>否</span>
                                    {/if}
                                </div>
                            </td>

                            <td class="operation">
                                <div class="w100 tc">
                                    {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}
                                    <a href="{:url('Memgift/edit',array('gift_id'=>$vo['gift_id']))}" class="btn blue">编辑</a>
                                    {/eq}

                                    {eq name="$Think.const.CONTROLLER_NAME.'@del'|is_check_access" value="1"}
                                    <i></i>
                                    <a class="btn red"  href="javascript:void(0);" data-url="{:url('Memgift/del')}" data-id="{$vo.gift_id}" data-deltype="del"  onClick="delfun(this);">删除</a>
                                    {/eq}
                                </div>
                            </td>
                            <td class="sort">
                                <div class="tc w60">
                                    {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}
                                    <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'');" onpaste="this.value=this.value.replace(/[^\d]/g,'')" onchange="changeTableVal('memgift','gift_id','{$vo.gift_id}','sort_order',this);" size="4" value="{$vo.sort_order}" />
                                    {else /}
                                    {$vo.sort_order}
                                    {/eq}
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                        {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        {notempty name="list"}
        <div class="footer-oper">
            <div class="nav-dropup">
            </div>
            {include file="public/page" /}
        </div>
        {/notempty}
    </div>
</div>
{include file="public/footer" /}