{eyou:if condition="!empty($weapp_wxlogin) || !empty($weapp_qqlogin) || !empty($weapp_wblogin)"}
    <!-- <p>第三方账号登录</p> -->
    <div class="account-login">
        {eyou:notempty name="$weapp_qqlogin"}
        <a data-href="{eyou:url link='plugins/QqLogin/login' seo_pseudo='1' seo_inlet='0' /}" class="qq-login"></a>
        {/eyou:notempty}

        {eyou:notempty name="$weapp_wxlogin"}
        <a data-href="{eyou:url link='plugins/WxLogin/login' seo_pseudo='1' seo_inlet='0' /}" class="wechat-login"></a>
        {/eyou:notempty}

        {eyou:notempty name="$weapp_wblogin"}
        <a data-href="{eyou:url link='plugins/Wblogin/login' seo_pseudo='1' seo_inlet='0' /}" class="weibo-login"></a>
        {/eyou:notempty}
    </div>
{/eyou:if}
