@font-face {
  font-family: "iconfont"; /* Project id 4175895 */
  src: url('../font/iconfont.woff2?t=1690162273896') format('woff2'),
       url('../font/iconfont.woff?t=1690162273896') format('woff'),
       url('../font/iconfont.ttf?t=1690162273896') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chanpin:before {
  content: "\e622";
}

.icon-zixun:before {
  content: "\e708";
}

.icon-qq:before {
  content: "\e6b2";
}

.icon-weixin:before {
  content: "\e63f";
}

.icon-weibo:before {
  content: "\e608";
}

.icon-huiyuanzhongxin:before {
  content: "\e619";
}

.icon-bofang:before {
  content: "\e61a";
}

.icon-home:before {
  content: "\e636";
}

.icon-xiazai:before {
  content: "\e659";
}

.icon-shoucang1:before {
  content: "\e635";
}

.icon-dianhua:before {
  content: "\e603";
}

.icon-huiyuan:before {
  content: "\e604";
}

.icon-tongzhi:before {
  content: "\e60e";
}

.icon-youxiang:before {
  content: "\e610";
}

.icon-xiangqing:before {
  content: "\e639";
}

.icon-user:before {
  content: "\e76e";
}

.icon-shopping-cart:before {
  content: "\e63b";
}

.icon-back:before {
  content: "\e67e";
}

.icon-download:before {
  content: "\e67f";
}

.icon-edit:before {
  content: "\e680";
}

.icon-check:before {
  content: "\e681";
}

.icon-eye:before {
  content: "\e682";
}

.icon-bell:before {
  content: "\e683";
}

.icon-left:before {
  content: "\e684";
}

.icon-right:before {
  content: "\e685";
}

.icon-down:before {
  content: "\e686";
}

.icon-up-arrow-right:before {
  content: "\e687";
}

.icon-image:before {
  content: "\e688";
}

.icon-info-circle:before {
  content: "\e689";
}

.icon-up-arrow-left:before {
  content: "\e68a";
}

.icon-alert-circle:before {
  content: "\e68b";
}

.icon-menu:before {
  content: "\e68c";
}

.icon-plus-circle:before {
  content: "\e68d";
}

.icon-search:before {
  content: "\e68e";
}

.icon-pause-circle:before {
  content: "\e68f";
}

.icon-paperclip:before {
  content: "\e690";
}

.icon-loader:before {
  content: "\e691";
}

.icon-star:before {
  content: "\e692";
}

.icon-help-circle:before {
  content: "\e693";
}

.icon-play-circle:before {
  content: "\e694";
}

.icon-upload:before {
  content: "\e695";
}

.icon-list:before {
  content: "\e696";
}

.icon-rotate-cw:before {
  content: "\e697";
}

.icon-map-pin:before {
  content: "\e698";
}

.icon-plus:before {
  content: "\e699";
}

.icon-icon-up:before {
  content: "\e69a";
}

.icon-users:before {
  content: "\e69b";
}

.icon-zoom-in:before {
  content: "\e69c";
}

.icon-thumbs-up:before {
  content: "\e69d";
}

.icon-message:before {
  content: "\e69f";
}

.icon-x-circle:before {
  content: "\e6a0";
}

.icon-more:before {
  content: "\e6a1";
}

.icon-user-check:before {
  content: "\e6a2";
}

.icon-x:before {
  content: "\e6a3";
}

.icon-clock:before {
  content: "\e6a4";
}

.icon-trash:before {
  content: "\e6a5";
}

