    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>SEO设置</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                {eq name='$main_lang' value='$admin_lang'}
                <li><a href="{:url('Seo/index',['inc_type'=>'seo'])}" {if condition="'seo'==$inc_type"}class="current"{/if}><span>URL配置</span></a></li>
                {/eq}

                {eq name='$main_lang' value='$admin_lang'}
                <li><a href="{:url('Seo/index',['inc_type'=>'sitemap'])}" {if condition="'sitemap'==$inc_type"}class="current"{/if}><span>Sitemp</span></a></li>
                {/eq}

                {eq name="'Links@index'|is_check_access" value="1"}
                <li><a href="{:url('Links/index')}" {if condition="'Links'==$Think.const.CONTROLLER_NAME"}class="current"{/if}><span>友情链接</span></a></li>
                {/eq}
            </ul>
        </div>
    </div>