
<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='arctype_index'}current{/neq}" value="栏目管理" onClick="window.location.href='{:url('RecycleBin/arctype_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='archives_index'}current{/neq}" value="文档管理" onClick="window.location.href='{:url('RecycleBin/archives_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='customvar_index'}current{/neq}" value="自定义变量" onClick="window.location.href='{:url('RecycleBin/customvar_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='proattr_index'}current{/neq}" value="产品参数" onClick="window.location.href='{:url('RecycleBin/proattr_index')}';">
</div>

<div class="sDiv2 addartbtn fl" style="margin-right: 6px;">
    <input type="button" class="btn {neq name='$Request.action' value='gbookattr_index'}current{/neq}" value="留言属性" onClick="window.location.href='{:url('RecycleBin/gbookattr_index')}';">
</div>