{include file="public/layout" /}
<body style="background-color: rgb(255, 255, 255); overflow-y: scroll; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    {include file="member/bar" /}
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <h3>用户属性列表</h3>
            </div>
            <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
            <div class="sDiv">
                {include file="member/users_bar" /}
            </div>
        </div>
        <!-- 操作说明 -->
        <div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">
            <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
                <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
                <span title="收起提示" id="explanationZoom" style="display: block;"></span>
            </div>
            <ul>
                <li>必填：只针对前台的用户属性有效。</li>
            </ul>
        </div>
        <br/>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                   <thead>
                    <tr>
                        <th class="sign w20" axis="col0">
                            <div class="tc"></div>
                        </th>
                        <th abbr="ac_id" axis="col4">
                            <div class="">标题</div>
                        </th>
                        <th abbr="article_time" axis="col4" class="w150">
                            <div class="tc">类型</div>
                        </th>
                        <th abbr="ac_id" axis="col4" class="w60">
                            <div class="tc">禁用</div>
                        </th>
                        <th abbr="ac_id" axis="col4" class="w60">
                            <div class="tc">必填</div>
                        </th>
                        <th axis="col1" class="w120">
                            <div class="tc">操作</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w60">
                            <div class="tc">排序</div>
                        </th>
                    </tr>
                    </thead> 
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="info"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {foreach name="info" item="vo" key="k" }
                        <tr>
                            <td class="sign">
                                <div class="w20 tc">
                                </div>
                            </td>
                            <td style="width: 100%">
                                <div style="">
                                    {eq name="'Member@attr_edit'|is_check_access" value="1"}
                                        <a href="{:url('Member/attr_edit',array('id'=>$vo['para_id']))}">{$vo.title}</a>
                                    {else /}
                                        {$vo.title}
                                    {/eq}
                                </div>
                            </td>
                            <td>
                                <div class="w150 tc">
                                   {$vo.dtypetitle}
                                </div>
                            </td>
                            <td>
                                <div class="w60 tc">
                                    {if condition='$vo.is_hidden == 1'}
                                        <span class="yes" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}onClick="changeTableVal('users_parameter','para_id','{$vo.para_id}','is_hidden',this);"{/eq}><i class="fa fa-check-circle"></i>是</span>
                                    {else /}
                                        <span class="no" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}onClick="changeTableVal('users_parameter','para_id','{$vo.para_id}','is_hidden',this);"{/eq}><i class="fa fa-ban"></i>否</span>
                                    {/if}
                                </div>
                            </td>
                            <td>
                                <div class="w60 tc">
                                    {if condition='$vo.is_required eq 1'}
                                        <span class="yes" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}onClick="changeTableVal('users_parameter','para_id','{$vo.para_id}','is_required',this);"{/eq} ><i class="fa fa-check-circle"></i>是</span>
                                    {else /}
                                        <span class="no" {eq name="$Think.const.CONTROLLER_NAME.'@edit'|is_check_access" value="1"}onClick="changeTableVal('users_parameter','para_id','{$vo.para_id}','is_required',this);"{/eq} ><i class="fa fa-ban"></i>否</span>
                                    {/if}
                                </div>
                            </td>
                            <td class="">
                                <div class="w120 tc">
                                    {eq name="$vo.is_system" value="0"}
                                        {eq name="'Member@attr_edit'|is_check_access" value="1"}
                                            <a href="{:url('Member/attr_edit',array('id'=>$vo['para_id']))}" class="btn blue"><i class="fa fa-pencil-square-o"></i>编辑</a>
                                        {/eq}
                                        {eq name="'Member@attr_del'|is_check_access" value="1"}
                                            <a class="btn red"  href="javascript:void(0);" data-url="{:url('Member/attr_del')}" data-title="{$vo.title}" data-id="{$vo.para_id}" onClick="usersdel(this);"><i class="fa fa-trash-o"></i>删除</a>
                                        {/eq}
                                    {else/}
                                        ——
                                    {/eq}
                                </div>
                            </td>
                             <td class="sort">
                                <div class="w60 tc">
                                    {eq name="'Member@edit'|is_check_access" value="1"}
                                    <input class="tc" type="text" onchange="changeTableVal('users_parameter','para_id','{$vo.para_id}','sort_order',this);"  size="4"  value="{$vo.sort_order}" />
                                    {else /}
                                    {$vo.sort_order}
                                    {/eq}
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                {eq name="'Member@attr_add'|is_check_access" value="1"}
                <div class="fbutton" >
                    <a href="{:url('Member/attr_add')}">
                        <div class="add" title="新增属性">
                            <span class="red"><i class="fa fa-plus"></i>新增属性</span>
                        </div>
                    </a>
                </div>
                {/eq}
            </div>
            <div style="clear:both"></div>
        </div>
        <!--分页位置-->
        {$page}
    </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });

    // 删除
    function usersdel(obj){
        layer.confirm('<font color="#ff0000">该属性的数据将一起清空</font>，确认彻底删除？', {
            title: false, // $(obj).data('title'),
            btn: ['确定','取消'] //按钮
        }, function(){
            layer_loading('正在处理');
            // 确定
            $.ajax({
                type : 'post',
                url : $(obj).attr('data-url'),
                data : {del_id:$(obj).attr('data-id')},
                dataType : 'json',
                success : function(data){
                    layer.closeAll();
                    if(data.code == 1){
                        layer.msg(data.msg, {icon: 1});
                        window.location.reload();
                    }else{
                        layer.alert(data.msg, {icon: 2, title:false});
                    }
                }
            })
        }, function(index){
            layer.close(index);
        });
        return false;
    }
</script>

{include file="public/footer" /}