<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>申请售后-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/bootstrap.min.css"/}
        {eyou:static file="users/skin/css/basic.css"/}
        {eyou:static file="users/skin/css/eyoucms.css"/}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
        <script type="text/javascript" src="__STATIC__/admin/js/jquery-ui/jquery-ui.min.js"></script>
    </head>

    <body class="centre shop">
        {eyou:include file="users/users_header.htm" /} 
        <div class="breadcrumbs"></div>
        <div class="ey-body-bg">
            <div class="ey-body pd0">
                <div class="ey-container w1226">
                    {eyou:include file="users/users_left.htm" /} 
                    <div class="ey-con mi-comment fr">
                        <div class="el-main main-bg">
                            <div class="column-title"><h1 class="title">申请售后</h1></div>
                            <form id="post_form">
                                <input type="hidden" name="order_id" value="{$eyou.field.order_id}" />
                                <input type="hidden" name="details_id" value="{$eyou.field.details_id}" />
                                <input type="hidden" name="order_code" value="{$eyou.field.order_code}" />
                                <input type="hidden" name="product_id" value="{$eyou.field.product_id}" />
                                <input type="hidden" name="product_name" value="{$eyou.field.product_name}" />
                                <input type="hidden" name="product_num" value="{$eyou.field.num}" />
                                <input type="hidden" name="product_img" value="{$eyou.field.litpic}" />
                                <input type="hidden" name="product_spec" value="{$eyou.field.spec_value}" />
                                <input type="hidden" name="refund_price" value="{$eyou.field.product_price}" />

                                <div class="order-progress">
                                    <div class="order-progress-tit2"> <div class="order-progress-titL"> 订单信息</div> </div>
                                    <div class="order-progress-con">
                                        <div class="section-bd">
                                            <div class="product-detail">
                                                <dl class="detail-list">
                                                    <dt class="name">
                                                        {$eyou.field.product_name}&nbsp;
                                                        {eyou:volist name='$eyou.field.product_spec_list' id='spec'}{$spec.value}&nbsp;{/eyou:volist}
                                                    </dt>
                                                    <dd class="imei-no">订单编号：{$eyou.field.order_code}</dd>
                                                </dl> 
                                                <a href="javascript:history.go(-1);" class="back">换其他产品 &gt;</a> 
                                                <img src="{$eyou.field.litpic}" class="thumb">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-progress-tit2"> <div class="order-progress-titL">申请单填写</div> </div>
                                    <div class="order-progress-con">
                                        <div class="item-from-row">
                                            <div class="from-row-l" style="width: 12%;"> <span class="red">*</span> 服务类型：</div>
                                            <div class="from-row-r">
                                                <label class="radio-label">
                                                    <span>我要换货</span>
                                                    <input type="radio" class="radio" id="service_type" name="service_type" value="1" checked="checked">
                                                    <span class="check-mark"></span>
                                                </label>
                                                <label class="radio-label">
                                                    <span>我要退货</span>
                                                    <input type="radio" class="radio" id="service_type" name="service_type" value="2">
                                                    <span class="check-mark"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="item-from-row">
                                            <div class="from-row-l" style="width: 12%;"> <span class="red">*</span> 问题描述：</div>
                                            <div class="from-row-r">
                                                <textarea rows="5" cols="60" name="content" id="content" class="fs16" maxlength="500"></textarea>
                                            </div>
                                        </div>

                                        <div class="item-from-row" id="uploadServiceImg" data-numlimit="6">
                                            <div class="from-row-l" style="width: 12%;"> 图片说明：</div>
                                            <div class="from-row-r">
                                                <div class="from-row-r" style="width: 100%;">
                                                    <div class="images_upload_main">
                                                        <a href="javascript:void(0);" onclick="uploadServiceImg();" class="el-button el-button--primary is-plain el-button--small"><i class="el-icon-picture"></i>上传图片</a>
                                                        <span style="color: #b7aeae;">提示：最多可上传6张图片，超过则不显示</span>
                                                        <div class="sort-list mt20 ui-sortable">
                                                            <div class="fieldext_upload ui-sortable-handle" style="display: none;"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-progress-tit2"> <div class="order-progress-titL">商家收货地址</div> </div>
                                    <div class="order-progress-con">
                                        <div class="item-from-row">
                                            <div class="from-row-l" style="width: 12%;"> 联系人：</div>
                                            <div class="from-row-r"> {$eyou.maddr.addr_contact_person} </div>
                                        </div>
                                        <div class="item-from-row">
                                            <div class="from-row-l" style="width: 12%;"> 联系号码：</div>
                                            <div class="from-row-r"> {$eyou.maddr.addr_contact_phone} </div>
                                        </div>
                                        <div class="item-from-row">
                                            <div class="from-row-l" style="width: 12%;"> 商家地址：</div>
                                            <div class="from-row-r"> {$eyou.maddr.addr_shipping_addr} </div>
                                        </div>
                                    </div>

                                    <div class="order-progress-tit2"> <div class="order-progress-titL">会员收货地址</div> </div>
                                    <div class="order-progress-con">
                                        <div class="item-from-row">
                                            <div class="from-row-l" style="width: 12%;"> 联系人：</div>
                                            <div class="from-row-r"> <input type="text" name="consignee" value="{$eyou.field.consignee}" id="consignee" class="el-input__inner w500"> </div>
                                        </div>
                                        <div class="item-from-row">
                                            <div class="from-row-l" style="width: 12%;"> 联系号码：</div>
                                            <div class="from-row-r"> <input type="text" name="mobile" value="{$eyou.field.mobile}" id="mobile" class="el-input__inner w500"> </div>
                                        </div>
                                        <div class="item-from-row">
                                            <input type="hidden" name="addrinfo" value="{$eyou.field.province} {$eyou.field.city} {$eyou.field.district}">
                                            <div class="from-row-l" style="width: 12%;"> 会员地址：</div>
                                            <div class="from-row-r"> {$eyou.field.province} {$eyou.field.city} {$eyou.field.district} <input type="text" name="address" value="{$eyou.field.address}" id="address" class="el-input__inner w500"> </div>
                                        </div>
                                    </div>

                                    <div class="order-progress-tit2"> <div class="order-progress-titL">提交申请</div> </div>
                                    <div class="order-progress-con">
                                        <input type="button" onclick="submitApply(this);" data-url="{$eyou.url}" class="el-button el-button--primary " value="确认提交"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 上传图片显示的样板 start -->
        <div id="uploadServiceImgTpl" style="display: none;">
            <div class="fieldext_upload">
                <div class="images_upload_item" style="width: 105px; height: 105px;">
                    <input type="hidden" name="upload_img[]">
                    <a href="javascript:void(0);">
                        <img src="" style="width: 105px; height: 105px;">
                    </a>
                    <a class="delete" href="javascript:void(0)">&nbsp;&nbsp;</a>
                </div>
            </div>
        </div>
        <!-- 上传图片显示的样板 end -->
        {eyou:static file="users/skin/js/shop_after_service_apply.js"/}
        {eyou:include file="users/users_footer.htm" /} 
