<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>售后服务-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/eyoucms.css"/}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
    </head>

    <body class="centre shop">
        {eyou:include file="users/users_header.htm" /}
        <div class="breadcrumbs"></div>
        <div class="ey-body-bg">
            <div class="ey-body pd0">
                <div class="ey-container w1226">
                    {eyou:include file="users/users_left.htm" /}
                    <div class="ey-con fr">
                        <div class="el-main xin_mian main-bg">
                            <div class="el-row shop-oper"><h1 class="title">售后服务</h1></div>
                            <div class="el-row shop-oper mt20">
                                <div class="shop-oper-bottom">
                                    <div class="shop-oper-l">
                                        {eyou:spstatus id="field3"}
                                        <div class="el-button-group">
                                            {gt name='$php_servicemeal' value='1'}
                                            <a class="el-button-xin first el-button--default {empty name='$Request.param.status'} active {/empty}" data-toggle="tab" href="{eyou:url link='user/Shop/after_service'/}"> 全部{eyou:if condition="0 != $field3.AfterService"} <em>({$field3.AfterService})</em> {/eyou:if}</a>
                                            <a class="el-button-xin el-button--default {eq name='$Request.param.status' value='ing'} active {/eq}" data-toggle="tab" href="{eyou:url link='user/Shop/after_service' vars='status=ing'/}"> 处理中 <em>({$eyou.field.ServicingTotal})</em> </a>
                                            <a class="el-button-xin el-button--default {eq name='$Request.param.status' value='ed'} active {/eq}" data-toggle="tab" href="{eyou:url link='user/Shop/after_service' vars='status=ed'/}"> 已完成 <em>({$eyou.field.ServicedTotal})</em> </a>
                                            {/gt}
                                        </div>
                                        {/eyou:spstatus}
                                    </div>
                            
                                    <div class="shop-oper-r">
                                       {eyou:spsearch id="search"}
                                       <form action="{$search.action}" method="get" >
                                           {$search.hidden}
                                           <div class="input-with-select el-input el-input-group el-input-group--append">
                                               <input type="search" name="keywords" value="{$Request.param.keywords}" autocomplete="off" placeholder="输入商品名称、订单号" class="search-text">
                                               <input type="submit" value="" class="search-btn iconfont">
                                            </div>
                                        </form>
                                        {/eyou:spsearch}
                                    </div>
                                </div>
                            </div>

                            {eyou:empty name="$eyou.field.service"}
                            <div class="ey-con-inside">
                                <div class="el-row cell tc pt100 bgfff">
                                    <p><img id='litpic_img' src="{eyou:static file='users/skin/images/null-data.png' /}"/></p>
                                    <p>当前暂无订单记录哦~</p>
                                </div>
                            </div>
                            {eyou:else/}
                            <div class="goods-con mt10">
                                {eyou:volist name="eyou.field.service" id="field"}
                                <div class="service-list-item {eyou:if condition='in_array($field.status_old, $eyou.statusArrEd)'}no{/eyou:if}">
                                    <div class="hd">
                                        <div class="status-xin"> {eyou:if condition="in_array($field.status_old, $eyou.statusArrEd)"}<span>已完成</span>{else/}处理中{/eyou:if} <small>{$field.status}</small></div>
                                        <div class="s-info">
                                            <span>{$field.add_time|date='Y-m-d H:i:s',###}</span>
                                            <span>订单号：<a href="{$field.OrDetailsUrl}" target="_blank">{$field.order_code}</a></span>
                                        </div>
                                    </div>
                                    <div class="bd">
                                        <div class="thumb">
                                            <img src="{$field.product_img}" alt="{$field.product_name}" width="100%" height="auto">
                                        </div>
                                        <div class="p-info">
                                            <p>{$field.product_name}&nbsp; {eyou:volist name='$field.product_spec_list' id='spec'}{$spec.value}&nbsp;{/eyou:volist}</p>
                                        </div>
                                        <div class="control"><a href="{$field.SeDetailsUrl}" class="button">服务单详情</a></div>
                                    </div>
                                </div>
                                {/eyou:volist}
                                <div class="dataTables_paginate"><ul class="pagination">{$eyou.field.pageStr}</ul></div>
                            </div>
                            {/eyou:empty}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {eyou:include file="users/users_footer.htm" /}
