<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>订单列表-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/eyoucms.css"/}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
    </head>

    <body class="centre shop">
        {eyou:include file="users/users_header.htm" /}
        <div class="breadcrumbs"></div>

        <div class="ey-body-bg">
            <div class="ey-body pd0">
                <div class="ey-container w1226">
                    {eyou:include file="users/users_left.htm" /}
                    <div class="ey-con fr">
                        <div class="el-main main-bg xin_mian">
                            <div class="el-row shop-oper">
                                <h1 class="title"> 我的订单<small>请谨防钓鱼链接或诈骗电话</small></h1>
                            </div>
                            <div class="el-row shop-oper mt20">
                                <div class="shop-oper-bottom">
                                    <div class="shop-oper-l">
                                        {eyou:spstatus id="field3"}
                                        <div class="el-button-group">
                                            <a class="el-button-xin first el-button--default {if empty($field3.select_status) && $field3.access_action == 'shop_centre'}active{/if}" data-toggle="tab" href="{eyou:url link='user/Shop/shop_centre'/}"> 全部有效订单{eyou:if condition="0 != $field3.All"} <em>({$field3.All})</em> {/eyou:if} </a>
                                            <a class="el-button-xin el-button--default {eq name='$field3.select_status' value='dzf'}active{/eq}" data-toggle="tab" href="{eyou:url link='user/Shop/shop_centre' vars='select_status=dzf'/}"> 待支付{eyou:if condition="0 != $field3.PendingPayment"} <em>({$field3.PendingPayment})</em> {/eyou:if} </a>
                                            <a class="el-button-xin el-button--default {eq name='$field3.select_status' value='2'}active{/eq}" data-toggle="tab" href="{eyou:url link='user/Shop/shop_centre' vars='select_status=2'/}"> 待收货{eyou:if condition="0 != $field3.PendingReceipt"} <em>({$field3.PendingReceipt})</em> {/eyou:if} </a>
                                            <a class="el-button-xin el-button--default {eq name='$field3.select_status' value='3'}active{/eq}" data-toggle="tab" href="{eyou:url link='user/Shop/shop_centre' vars='select_status=3'/}"> 已完成{eyou:if condition="0 != $field3.Completed"} <em>({$field3.Completed})</em> {/eyou:if}</a>
                                            <!-- {gt name='$php_servicemeal' value='1'}
                                            <a class="el-button-xin el-button--default {if empty($field3.select_status) && $field3.access_action == 'after_service'} active {/if}" data-toggle="tab" href="{eyou:url link='user/Shop/after_service'/}"> 售后{eyou:if condition="0 != $field3.AfterService"} <em>({$field3.AfterService})</em> {/eyou:if}</a>
                                            {/gt} -->
                                        </div>
                                        {/eyou:spstatus}
                                    </div>
                                    <div class="shop-oper-r">
                                        {eyou:spsearch id="search"}
                                        <form action="{$search.action}" method="get" >
                                           {$search.hidden}
                                            <div class="input-with-select el-input el-input-group el-input-group--append">
                                                <input type="search" name="keywords" value="{$Request.param.keywords}" autocomplete="off" placeholder="输入商品名称、订单号" class="search-text">
                                                <input type="submit" value="" class="search-btn iconfont">
                                            </div>
                                        </form>
                                        {/eyou:spsearch}
                                    </div>
                                </div>
                            </div>

                            {eyou:empty name="$eyou.field.data"}
                            <div class="ey-con-inside">
                                <div class="el-row tc pt100 pb100 bgfff">
                                    <p class="mb10"><img id='litpic_img'  src="{eyou:static file='users/skin/images/null-data.png' /}"/></p>
                                    <a href="{eyou:global name='web_cmsurl' /}" class="el-button el-button--default">马上去购物</a>
                                </div>
                            </div>
                            {eyou:else/}
                            <div class="goods-con">
                                <div>
                                    <ul class="order-list">
                                        {eyou:sporderlist id="field" pagesize="10"}
                                        <li class="uc-order-item {eyou:eq name='$field.order_status' value='0'}uc-order-item-pay{/eyou:eq} {eyou:eq name='$field.order_status' value='1'}uc-order-item-shipping{/eyou:eq} {eyou:eq name='$field.order_status' value='2'}uc-order-item-shipping{/eyou:eq} {eyou:eq name='$field.order_status' value='3'}uc-order-item-finish{/eyou:eq} {eyou:eq name='$field.order_status' value='-1'}uc-order-item-finish{/eyou:eq}">
                                            <div class="order-detail">
                                                <div class="order-summary">
                                                    {eyou:eq name="$field.order_status" value="-1"}
                                                    <div class="order-status"> 已关闭 </div>
                                                    {/eyou:eq}
                                                    {eyou:eq name="$field.order_status" value="0"}
                                                    <div class="order-status"> 等待付款 </div>
                                                    {/eyou:eq}
                                                    {eyou:eq name="$field.order_status" value="1"}
                                                    <div class="order-status"> {eyou:eq name="$field.logistics_type" value='1'}待发货{eyou:else/}待核销{/eyou:eq} </div>
                                                    {/eyou:eq}
                                                    {eyou:eq name="$field.order_status" value="2"}
                                                    <div class="order-status"> 待收货 </div>
                                                    {/eyou:eq}
                                                    {eyou:eq name="$field.order_status" value="3"}
                                                    <div class="order-status"> 已收货 </div>
                                                    {/eyou:eq}
                                                </div>
                                                <table class="order-detail-table">
                                                    <thead>
                                                        <tr>
                                                            <th class="col-main">
                                                                <p class="caption-info"> {$field.add_time|date='Y年m月d日 H:i:s',###} <span class="sep">|</span> {$field.consignee} <span class="sep">|</span> 订单号：<a href="{$field.OrderDetailsUrl}">{$field.order_code}</a><span class="sep">|</span>{$field.pay_name}</p>
                                                            </th>
                                                            <th class="col-sub">
                                                                <p class="caption-price"> 应付金额： <span class="num">{$field.order_amount}</span>
                                                                {empty name="$field.points_shop_order"}元{/empty} </p>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td class="order-items">
                                                                <ul class="goods-list">
                                                                    {eyou:spordergoods id="order_field"}
                                                                    <li>
                                                                        <div class="figure figure-thumb">
                                                                            <a class="pro-pic" href="{$order_field.arcurl}" target="_blank">
                                                                                <img src="{$order_field.litpic}" alt="{$order_field.product_name}">
                                                                            </a>
                                                                        </div>
                                                                        <div class="name">
                                                                            <a href="{$order_field.arcurl}" target="_blank">
                                                                                {$order_field.product_name}&nbsp;
                                                                                {eyou:volist name='$order_field.product_spec_list' id='spec'}{$spec.value}&nbsp;{/eyou:volist}
                                                                            </a>
                                                                            <p class="price">
                                                                                {$order_field.product_price}{empty name="$field.points_shop_order"}元{/empty} × {$order_field.num}
                                                                            </p>
                                                                        </div>
                                                                    </li>
                                                                    {/eyou:spordergoods}
                                                                </ul>
                                                            </td>
                                                            <td class="order-actions">
                                                            {eyou:eq name="$field.order_status" value="0"}
                                                                <a href="{$field.PaymentUrl}" target="_blank" class="btn-small btn-primary">立即付款</a>
                                                            {/eyou:eq}

                                                            {eyou:eq name="$field.order_status" value="1"}
                                                                {eyou:eq name="$field.logistics_type" value='1'}
                                                                <a href="javascript:void(0);" class="btn-small btn-line-gray" {$field.OrderRemind}>提醒发货</a>
                                                                {eyou:else/}
                                                                <a href="{$field.OrderDetailsUrl}" class="btn-small btn-line-gray">待核销</a>
                                                                {/eyou:eq}
                                                            {/eyou:eq}
                                                            
                                                            {eyou:eq name="$field.order_status" value="2"}
                                                                {eyou:eq name="$field.prom_type" value="0"}
                                                                <a href="JavaScript:void(0);" class="btn-small btn-line-gray" {$field.LogisticsInquiry}>物流查询</a>
                                                                {/eyou:eq}
                                                                <a href="javascript:void(0);" class="btn-small btn-line-gray" {$field.Confirm}>确认收货</a>
                                                            {/eyou:eq}
                                                            
                                                            {eyou:eq name="$field.order_status" value="3"}
                                                                <a href="JavaScript:void(0);" class="btn-small btn-line-gray">已完成</a>
                                                            {/eyou:eq}
                                                            
                                                            <a href="{$field.OrderDetailsUrl}" class="btn-small btn-line-gray">订单详情</a>
                                                            
                                                            {eyou:eq name="$field.order_status" value="3"}
                                                                {eyou:if condition="isset($field.allow_service) && 0 == $field.allow_service"}
                                                                <a href="{$field.ServiceList}" class="btn-small btn-line-gray" target="_blank">申请售后</a>
                                                                {/eyou:if}
                                                                {eyou:if condition="0 == $field.is_comment && !empty($usersConfig.shop_open_comment)"}
                                                                <a href="{$field.AddProduct}" class="btn-small btn-line-gray" target="_blank">评价商品</a>
                                                                {/eyou:if}
                                                            {/eyou:eq}

                                                            {eyou:eq name="$field.order_status" value="-1"}
                                                                <a href="JavaScript:void(0);" class="btn-small btn-line-gray">已关闭</a>
                                                            {/eyou:eq}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                        {$field.hidden}
                                        {/eyou:sporderlist}
                                    </ul>
                                    <div class="dataTables_paginate ">
                                        <ul class="pagination">
                                            {eyou:sppageorder listitem="index,end,pre,next" listsize="2"/}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {/eyou:empty}
                         </div>
                    </div>
                </div>
            </div>
        </div>
        {eyou:include file="users/users_footer.htm" /}