<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>售后服务详情-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/eyoucms.css" /}
        {eyou:static file="users/skin/css/shop.css" /}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/plugins/laydate/laydate.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
    </head>

    <body class="centre shop">
        {eyou:include file="users/users_header.htm" /}
        <div class="breadcrumbs"></div>

        <div class="ey-body-bg">
            <div class="ey-body pd0">
                <div class="ey-container w1226">
                    {eyou:include file="users/users_left.htm" /}
                    <div class="ey-con fr" >
                        <div class="el-main xin_mian main-bg">
                            <div class="service-box service-main-box">
                                <div class="service-content-box order-view-box">
                                    <div class="box-hd">
                                        <h1 class="title">服务单详情</h1>
                                        <div class="more clearfix">
                                            <h2 class="subtitle">服务单号: {$eyou.field.refund_code}</h2>
                                            <div class="actions">
                                                {eyou:if condition="!in_array($eyou.field.status, $eyou.StatusArr)"}
                                                <a href="JavaScript:void(0);" class="btn-xin el-button btn-line-gray" data-url="{$eyou.field.CancelUrl}" data-id="{$eyou.field.service_id}" onclick="cancelService(this);">取消售后</a>
                                                {/eyou:if}
                                            </div>
                                        </div>
                                    </div>

                                    {eyou:eq name="$eyou.field.status" value="2"}
                                    <form id="postForm">
                                        <input type="hidden" name="service_id" value="{$eyou.field.service_id}">
                                        <input type="hidden" name="details_id" value="{$eyou.field.details_id}">
                                        <input type="hidden" name="order_id" value="{$eyou.field.order_id}">
                                        <input type="hidden" name="status" value="4">
                                        <div class="service-detail-box">
                                            <div class="uc-order-item uc-order-item-pay">
                                                <div class="order-detail">
                                                    <div class="order-summary">
                                                        <div class="order-detail-status order-status-address">
                                                            <div class="line1"><p class="left opacity54">邮寄地址: </p></div>
                                                            <div class="line2">{$eyou.maddr.addr_shipping_addr}</div>
                                                            <div class="line3">收货人: {$eyou.maddr.addr_contact_person}（收）{$eyou.maddr.addr_contact_phone}</div>
                                                            <div class="delivery-submit">
                                                                <a href="JavaScript:void(0);" id="wl-btn" class="btn-xin btn-primary btn-small">已邮寄填写物流单号</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mi-popup" style="z-index: 100;display: none;">
                                            <div class="mi-popup__mask mi-modal" style="display: none;"></div>
                                            <div class="mi-popup__box">
                                                <div class="mi-popup__content">
                                                    <div class="mi-dialog__wrapper modal-devilvery" style="width: 500px;">
                                                        <div aria-modal="true" class="mi-dialog">
                                                            <a class="mi-dialog__headerbtn no-header" onclick="closeMsg();" href="javascript:void(0);"><i class="mi-dialog__close iconfont"></i></a>
                                                            <div class="mi-dialog__body no-header">
                                                                <div class="mi-dialog__inner">
                                                                    <div class="modal-delivery" >
                                                                        <div class="hd"><h3>填写寄回物流信息</h3></div>
                                                                        <div class="bd">
                                                                            <div class="form">
                                                                                <div class="select-wrap">
                                                                                    <div class="arrow"></div>
                                                                                    <select name="delivery[name]" id="name">
                                                                                        <option value=" ">选择物流公司</option>
                                                                                        {eyou:volist name="$eyou.ExpressList" id="ex"}
                                                                                        <option value="{$ex.express_name}">{$ex.express_name}</option>
                                                                                        {/eyou:volist}
                                                                                    </select>
                                                                                </div>
                                                                                <input maxlength="20" name="delivery[code]" id="code" placeholder="填写物流单号" class="expressId" autocomplete="off">
                                                                                <input type="text" name="delivery[cost]" class="expressId" autocomplete="off" placeholder="请输入快递费用">
                                                                                <input type="text" name="delivery[time]" id="add_time" class="expressId" autocomplete="off" placeholder="请输入选择发货时间">
                                                                            </div>
                                                                            <p class="error-tip"></p>
                                                                            <p class="tip">温馨提示: 请认真核对物流信息，一旦提交无法修改，如有其它异常，请联系客服咨询</p>
                                                                            <div class="btn-wrap">
                                                                                <a onclick="closeMsg();" href="javascript:void(0);">取消</a>
                                                                                <a onclick="submitReturnGoods(this);" href="javascript:void(0);" data-url="{:url('Shop/after_service_update', ['_ajax'=>1])}">确认</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    {/eyou:eq}

                                    <div class="box-hd">
                                        <div class="progress_xin">
                                            <div class="order-progress-xin">
                                                <ol class="progress-list clearfix progress-list-col-4">
                                                    {eyou:if condition='$eyou.field.manual_refund == 1'}
                                                    <!-- 手动退款 -->
                                                    <li class="step-xin step-first step-done">
                                                        <div class="progress-xin"><div class="text">手动退款</div></div>
                                                    </li>
                                                    <li class="step-xin step-last step-active">
                                                        <div class="progress-xin"><div class="text">已完成</div></div>
                                                    </li>
                                                    {eyou:elseif condition='$eyou.field.status == 3'}
                                                    <!-- 审核不通过 -->
                                                    <li class="step-xin step-first step-done">
                                                        <div class="progress-xin"><div class="text">审核</div></div>
                                                    </li>
                                                    <li class="step-xin step-last step-active">
                                                        <div class="progress-xin"><div class="text">审核不通过</div></div>
                                                    </li>
                                                    {eyou:elseif condition='$eyou.field.status == 8'}
                                                    <!-- 关闭售后 -->
                                                    <li class="step-xin step-first step-done">
                                                        <div class="progress-xin"><div class="text">审核</div></div>
                                                    </li>
                                                    <li class="step-xin step-last step-active">
                                                        <div class="progress-xin"><div class="text">已取消</div></div>
                                                    </li>
                                                    {eyou:else/}
                                                    <li class="step-xin step-first step-done {eyou:if condition='$eyou.field.status < 4'} step-active {/eyou:if} ">
                                                        <div class="progress-xin"><div class="text">审核</div></div>
                                                    </li>
                                                    <li class="step-xin {eyou:if condition='$eyou.field.status > 3' } step-done {/eyou:if} {eyou:if condition='$eyou.field.status > 3 && $eyou.field.status < 5'} step-active {/eyou:if}">
                                                        <div class="progress-xin"><div class="text">客户邮寄</div></div>
                                                    </li>
                                                    <li class="step-xin {eyou:if condition='$eyou.field.status > 4' } step-done {/eyou:if} {eyou:if condition='$eyou.field.status > 4 && $eyou.field.status < 6'} step-active {/eyou:if}">
                                                        <div class="progress-xin"><div class="text">受理中</div></div>
                                                    </li>
                                                    <li class="step-xin step-last {eyou:if condition='$eyou.field.status > 5' } step-done {/eyou:if} {eyou:if condition='$eyou.field.status > 5'} step-active {/eyou:if} ">
                                                        <div class="progress-xin"><div class="text">已完成</div></div>
                                                    </li>
                                                    {/eyou:if}
                                                </ol>
                                            </div>
                                            <div class="showDetail J_showOrderDetail" >
                                                <div class="order-delivery order-delivery-detail">
                                                    <div class="delivery-list-wrapper">
                                                        <ul class="delivery-list">
                                                            {eyou:volist name="$eyou.StatusLog" id="vo"}
                                                            <li class="first">{$vo.log_note} {$vo.add_time|date='Y-m-d H:i:s',###}</li>
                                                            {/eyou:volist}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            {gt name='$eyou.StatusLog|count' value='3'}
                                            <a class="order-delivery-trigger has-result"><span>展开服务详情∨</span></a>
                                            {/gt}
                                        </div>
                                        <div class="order-info">
                                            <table class="order-items-table">
                                                <tbody>
                                                    <tr>
                                                        <td class="col col-thumb">
                                                            <div class="figure figure-thumb"><a href="{$eyou.field.arcurl}"><img src="{$eyou.field.product_img}"></a></div>
                                                        </td>
                                                        <td colspan="2" class="col col-name">
                                                            <p class="name">
                                                                <a href="{$eyou.field.arcurl}">{$eyou.field.product_name}&nbsp;{eyou:volist name='$eyou.field.product_spec_list' id='spec'}{$spec.value}&nbsp;{/eyou:volist}</a>
                                                            </p>
                                                        </td>
                                                        <td colspan="2" class="col">￥{$eyou.field.refund_price}</td>
                                                        <td colspan="2" class="col">x</td>
                                                        <td colspan="2" class="col">{$eyou.field.product_num}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            {eyou:eq name="$eyou.field.status" value="6"}
                                            <div class="order-detail-info">
                                                <table class="info-table">
                                                    <tbody>
                                                        <tr> <th>温馨提示：</th> <td>卖家已为你重新发货，详情如下</td> </tr>
                                                        <tr> <th>快递公司：</th> <td>{$eyou.field.admin_delivery.name}</td> </tr>
                                                        <tr> <th>快递单号：</th> <td>{$eyou.field.admin_delivery.code}</td> </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            {/eyou:eq}
                                            <div class="order-detail-info">
                                                <table class="info-table">
                                                    <tbody>
                                                        <tr> <th>进度查询: </th> <td>{$eyou.field.StatusName}</td> </tr>
                                                        {eq name="$eyou.field.service_type_old" value="2"}
                                                        <tr>
                                                            <th>退还余额：</th>
                                                            <td>￥{$eyou.field.refund_total_price}(减<span style="color: red;">{$eyou.field.ShippingFee}</span>运费)</td>
                                                        </tr>
                                                        {/eq}
                                                        <tr> <th>申请单号: </th> <td>{$eyou.field.refund_code}</td> </tr>
                                                        <tr> <th>服务类型: </th> <td>{$eyou.field.service_type}</td> </tr>
                                                        <tr>
                                                            <th>问题描述: </th>
                                                            <td>
                                                                {$eyou.field.content}
                                                                <br />
                                                                {eyou:volist name='$eyou.field.upload_img' id='vo'}
                                                                    {eyou:notempty name="$vo"}
                                                                    <a href="{$vo}" target="_blank"><img src="{$vo}" width="80" height="80" style="margin-top: 5px;"/></a>
                                                                    {/eyou:notempty}
                                                                {/eyou:volist}
                                                            </td>
                                                        </tr>
                                                        <tr> <th>联系人: </th> <td>{$eyou.field.consignee}</td> </tr>
                                                        <tr> <th>联系电话: </th> <td>{$eyou.field.mobile}</td> </tr>
                                                        <tr> <th>收货地址: </th> <td>{$eyou.field.address}</td> </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {eyou:static file="users/skin/js/shop_after_service_details.js"/}
        {eyou:include file="users/users_footer.htm" /}
