<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>填写订单信息</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/bootstrap.min.css" /}
        {eyou:static file="users/skin/css/eyoucms.css" /}
        {eyou:static file="users/skin/css/basic.css" /}
        {eyou:static file="users/skin/css/shop_under_order.css"/}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
        <style>
            #yezf_balance_tips {
                position: absolute;
                bottom: 0;
            }
            #verify_store_name {
                font-weight: 700;
            }
        </style>
    </head>

    <body>
        <div class="ey-cart-header">
            <div class="ey-cart-header-con">
                <div class="ey-logo"></div>
                <div class="ey-cart-title"><h2>确认订单</h2></div>
                <div class="ey-cart-header-r">
                    {egt name='$php_servicemeal' value='1'}
                    <div class="right-item user-news">
                        <a href="{:url('user/UsersNotice/index')}">
                            <span class="num hide" id="users_unread_num" {gt name="$unread_num" value="0"} style="display: block !important;" {/gt}>{$unread_num}</span>
                            <span class="icon"><i class="el-icon-bell"></i></span>
                        </a>
                    </div>
                    {/egt}
                    <div class="right-item user-photo">
                        <a href="{eyou:Diyurl link='user/Users/index' /}"><img src="{$users.head_pic|get_head_pic=###}"/></a>
                        <div class="user-drop">
                            <ul>
                                <li><a href="{eyou:Diyurl link='user/Users/index' /}">个人中心</a></li>
                                {eyou:if condition="getUsersConfigData('shop.shop_open') == 1"}
                                <li><a href="{eyou:Diyurl link='user/Shop/shop_centre' /}">我的订单</a></li>
                                {/eyou:if}
                                <li><a href="{eyou:Diyurl link='user/Users/collection_index' /}">我的收藏</a></li>
                                <li><a href="{eyou:Diyurl link='user/Users/logout' /}">安全退出</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ey-body-bg">
            <div class="ey-body" style="padding: 0;">
                <div class="ey-container w1226">
                    <form action="" name='theForm' id="theForm" method="post">
                        {eyou:spsubmitorder id="field"}
                        <div class="mi-checkout page-main">
                            <div class="container">
                                <div class="checkout-wrap">
                                    <div class="checkout-main">
                                        <div class="checkout-detail">
                                            <div class="detail-section address-detail">
                                                <div class="ey-con-inside">
                                                    {eyou:empty name="$field.PromType"}
                                                    <div class="section-options section-shipment">
                                                        <div class="options-desc options-header"><div class="title">配送方式</div></div>
                                                        <div class="options-desc options-body mt20">
                                                            <div class="options-list">
                                                                {eyou:if condition="!empty($field.onlyVerify)"}
                                                                <span class="delivery-type-item on" {$field.selectVerify}>到店自提<i class="el-icon-check"></i></span>
                                                                {eyou:elseif condition="!empty($field.onlyDelivery)"/}
                                                                <span class="delivery-type-item on" {$field.selectDelivery}>快递配送<i class="el-icon-check"></i></span>
                                                                {eyou:elseif condition="!empty($field.allLogisticsType)"/}
                                                                <span class="delivery-type-item on" {$field.selectDelivery}>快递配送<i class="el-icon-check"></i></span>
                                                                <span class="delivery-type-item" {$field.selectVerify}>到店自提<i class="el-icon-check"></i></span>
                                                                {/eyou:if}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="column-title line30 mb20" {$field.selectVerifyID}>
                                                        <div class="column-name mb10"><a href="JavaScript:void(0);" onclick="selectVerifyStore(false);" class="el-button el-button--primary el-button--small">选择自提门店</a></div>
                                                        <div id="verify_store_name"></div>
                                                    </div>
                                                    <div class="el-row" {$field.selectVerifyInfo}>
                                                        <div class="el-row">
                                                            <label class="el-form-item__label" style="width: 100px;">姓名</label>
                                                            <input class="form-control" type="text" name="buyer" autocomplete="off" style="width: 300px;"> 
                                                        </div>
                                                        <div class="el-row">
                                                            <label class="el-form-item__label" style="width: 100px;">预留手机号</label>
                                                            <input class="form-control" type="text" name="phone" style="width: 300px;" autocomplete="off" maxlength="11" onkeyup="this.value=this.value.replace(/[^\d]/g, '');" onpaste="this.value=this.value.replace(/[^\d]/g, '');">
                                                        </div>
                                                    </div>
                                                    <div {$field.selectDeliveryAddress}>
                                                        {notempty name="$field.shop_prompt"}<div class="mb20 red">温馨提示：{$field.shop_prompt}</div>{/notempty}
                                                        <div style="padding: 0 0 14px 0;" class="address-list show-less-list" {$field.UlHtmlId}>
                                                            {eyou:spaddress id="addr_field" key="addr_i"}
                                                            {$addr_field.DefaultHidden}
                                                            <div class="address-item" {$addr_field.SelectEd} {$addr_field.ul_il_id} style="{eyou:gt name='$addr_i' value='4'}display: none;{/eyou:gt}">
                                                                <div class="address-info">
                                                                    <div class="name" {$addr_field.ConsigneeId}>{$addr_field.consignee}</div> 
                                                                    <div class="tel" {$addr_field.MobileId}>{$addr_field.mobile}</div>
                                                                    <div class="address-con">
                                                                        <span {$addr_field.InfoId}>{$addr_field.Info}</span>
                                                                        <span class="info" {$addr_field.AddressId}>{$addr_field.address}</span>
                                                                    </div> 
                                                                    <div class="address-action">
                                                                        <span {$addr_field.ShopEditAddr}>修改</span>
                                                                        <span {$addr_field.ShopDelAddr}>删除</span>
                                                                    </div>
                                                                </div>
                                                                <div class="address-info-solt" style="display: none;"></div>
                                                            </div>
                                                            {/eyou:spaddress}
                                                            <div class="address-item" {$field.ShopAddAddr} style="{eyou:egt name='$addr_i' value='4'}display: none;{/eyou:egt}">
                                                               <div class="add-desc"><i class="iconfont iconfont-plus"></i><span>添加新地址</span></div>
                                                            </div>
                                                            <div class="more-btn" id="addressShowHide" data-showhide="hide" style="display: none;"><span>显示更多地址<i class="iconfont-normal"></i></span></div>
                                                        </div>
                                                    </div>
                                                    {eyou:else/}
                                                    <div class="el-row">
                                                        <!-- 虚拟商品提示信息 -->
                                                        <div class="el-row">
                                                            <div class="mb20 red">
                                                                该商品为虚拟商品，仅支持在线支付且无需选择收货地址及运费计算。若商品是充值类商品，请将您的手机号或需充值的卡号填入留言中。
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {/eyou:empty}
                                                </div>
                                            </div>

                                            <div class="detail-section">
                                                <div class="detail-header" id="goods-list_html">商品</div>
                                                <div class="goods-list">
                                                    {eyou:spordergoods id="goods"}
                                                    <div class="good-item">
                                                        <div class="item-desc good-img"><img src="{$goods.litpic}"></div>
                                                        <div class="item-desc good-name">
                                                            <a href="{$goods.arcurl}" target="_blank">
                                                                <span>{$goods.title}&nbsp; {eyou:volist name='$goods.product_spec_list' id='spec'}{$spec.value}&nbsp;{/eyou:volist}</span>
                                                            </a>
                                                        </div>
                                                        <div class="item-desc price-box">
                                                            <div class="item-desc good-price">{$goods.users_price}元 x {$goods.product_num}</div>
                                                            <div class="item-desc good-status"></div>
                                                            <div class="item-desc good-total">{$goods.subtotal}元</div>
                                                        </div>
                                                    </div>
                                                    {$goods.ProductHidden}
                                                    {/eyou:spordergoods}
                                                </div>
                                            </div>

                                            <div class="confirm-pay">
                                                <div class="section section-payment">
                                                    <div class="payment-box">
                                                        <div class="payment-header clearfix">
                                                            <div class="title" style="color: #333; font-size: 18px; line-height: 38px; font-weight: normal;">{eyou:eq name="$field.use_pay_type" value="0"}未开启支付方式{eyou:else/}支付方式{/eyou:eq}</div>
                                                        </div>
                                                        <div class="payment-body">
                                                            {$field.PayTypeHidden}
                                                            <div class="pay-type">
                                                                <div class="li_div">
                                                                    <div class="pay-con" style="overflow: hidden; padding: 10px 0; display: flex; flex-direction: row;">
                                                                        {eyou:sppayapilist id='vo'}
                                                                        {eyou:notempty name="$vo.pay_id"}
                                                                        <div>
                                                                            <div class="pay-type-item" data-type="zxzf_{$vo.pay_mark}" onclick="selectPayType(this);">
                                                                                <img src="{$vo.pay_img}" alt="{$vo.pay_name}"> <i class="el-icon-check"></i>
                                                                            </div>
                                                                        </div>
                                                                        {/eyou:notempty}
                                                                        {$vo.hidden}
                                                                        {/eyou:sppayapilist}
                                                                        <input type="hidden" id="PayID">
                                                                        <input type="hidden" id="PayMark">
                                                                        <input type="hidden" id="PayType">

                                                                        {eyou:if condition="empty($field.shop_open_offline) && empty($field.PromType)"}
                                                                        <div>
                                                                            <div class="pay-type-item" data-type="hdfk_payOnDelivery" onclick="selectPayType(this);">
                                                                                <img src="{eyou:static file='users/skin/images/pay_hdfk.png' /}" alt="货到付款">
                                                                                <i class="el-icon-check"></i>
                                                                            </div>
                                                                        </div>
                                                                        {/eyou:if}

                                                                        {eyou:eq name="$field.pay_balance_open" value="1"}
                                                                        <div>
                                                                            <div class="pay-type-item" data-type="yezf_balance" onclick="selectPayType(this);">
                                                                                <img src="{eyou:static file='users/skin/images/pay_yiyou.png' /}" alt="余额支付">
                                                                                <i class="el-icon-check"></i>
                                                                            </div>
                                                                            <div class="fc9 " id="yezf_balance_tips" style="display: none;">可用{$field.UsersMoney}元</div>
                                                                        {/eyou:eq}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="detail-section count-detail">
                                                <div class="section-message">
                                                    <textarea class="el-textarea__inner" rows="3" name="message" placeholder="给商家留言，选填"></textarea>
                                                </div>
                                                <div class="section-bill">
                                                    {$field.TotalAmountOld}
                                                    <div class="bill-item">
                                                        <div class="bill-name">商品件数：</div>
                                                        <div class="bill-money">{$field.TotalNumber}件</div>
                                                    </div>
                                                    <div class="bill-item">
                                                        <div class="bill-name">商品总价：</div>
                                                        <div class="bill-money"><span>{$field.TotalAmount}</span>元</div>
                                                    </div>
                                                    <div class="bill-item">
                                                        <div class="bill-name">运费：</div>
                                                        <div class="bill-money">{$field.ShippingMoney} 元</div>
                                                    </div>
                                                    <div class="bill-item total-price">
                                                        <div class="bill-name">应付总额：</div>
                                                        <div class="bill-money"><em {$field.TotalAmountId}>{$field.TotalAmount}</em>元</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="detail-section footer-detail clearfix">
                                                <div class="handle-action">
                                                    <div class="operating-button">
                                                        <a href="javascript:void(0);" class="btn btn-primary" {$field.ShopPaymentPage} >去结算</a>
                                                        {eyou:eq name="$field.submit_order_type" value="0"}
                                                        <a href="{$field.ReturnCartUrl}" class="btn btn-return">返回购物车</a>
                                                        {/eyou:eq}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {$field.TokenValue}
                        {$field.hidden}
                        {/eyou:spsubmitorder}
                    </form>
                </div>
            </div>
        </div>
        {eyou:static file="users/skin/js/shop_under_order.js"/}
{eyou:include file="users/users_footer.htm" /}