<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>会员中心-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/eyoucms.css" /}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm" /}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="users/skin/js/global.js"/}
    </head>

    <body class="centre">
        {eyou:include file="users/users_header.htm" /}
        <div class="breadcrumbs"></div>

        <div class="ey-body-bg">
            <div class="ey-body pd0">
                <div class="ey-container w1226">
                    {eyou:include file="users/users_left.htm" /}
                    <div class="ey-con fr" >
                        <div class="main-bg user-box clearfix">
                            <div class="uc-main-box u_xinxi">
                                <div class="uc-content-box portal-content-box">
                                    <div class="box-bd">
                                        <div class="portal-main clearfix">
                                            <div class="user-card">
                                                <h2 class="username">{$users.nickname}</h2>
                                                <p class="tip" id="atip">{$greeting}</p>
                                                {if isset($others.signin_conf.score_signin_status) && $others.signin_conf.score_signin_status == 1 && $php_servicemeal > 1}
                                                <div class="signin-link">
                                                    <a href="javascript:void(0);" {if !$others.signin_info} onclick="userSignin(this);" {else/} style="color: #b0b0b0;" {/if}>{if !$others.signin_info}签到{else/}已签到{/if}</a>
                                                </div>
                                                {/if}
                                                <a href="{eyou:url link='user/Users/info' /}" class="link">修改个人信息 &gt;</a>
                                                <img src="{$users.head_pic|get_head_pic=###}" class="avatar">
                                            </div>
                                            <div class="user-actions">
                                                <ul class="action-list">
                                                    <li>会员等级：
                                                    <a href="{eyou:url link='user/Level/level_centre'/}">
                                                        {eyou:egt name='$users.level' value='3'}<span class="grade">{else/}<span class="grade">{/eyou:egt}{$users.level_name}</span>
                                                    </a>
                                                    </li>
                                                    {empty name="$users.is_mobile"}
                                                    <li>绑定手机： <span><span class="tel"><a href="{eyou:url link='user/Users/info' /}">去绑定</a></span></span> </li>
                                                    {else/}
                                                    <li>绑定手机： <span><span class="tel">{$users.mobile}</span></span> </li>
                                                    {/empty}
                                                    {empty name="$users.is_email"}
                                                    <li>绑定邮箱： <span><span class="email"><a href="{eyou:url link='user/Users/info' /}">去绑定</a></span></span> </li>
                                                    {else/}
                                                    <li>绑定邮箱： <span><span class="email">{$users.email}</span></span> </li>
                                                    {/empty}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </div>  
                         <div class="clearfix">
                            <div class="portal-data">
                                <div class="portal-data-item">
                                    <span><a href="{eyou:url link='user/Users/score_index' /}" id="usersScores">{$users.scores|default=0}</a></span>
                                    <span>{$score_name|default=''}</span>
                                </div>
                                <div class="portal-data-item">
                                    <span><a href="{eyou:url link='user/Pay/pay_account_recharge' /}">{$users.users_money|default=0}</a></span>
                                    <span>余额</span>
                                </div>
                                {egt name='$php_servicemeal' value='1'}
                                <div class="portal-data-item">
                                    <span><a href="{eyou:url link='user/UsersNotice/index' /}">{$allNotice_num}{gt name="$unread_num" value="0"}<i class="badge"></i>{/gt}</a></span>
                                    <span>消息</span>
                                </div>
                                {/egt}
                                <div class="portal-data-item">
                                    <span><a href="{eyou:url link='user/Users/footprint_index' /}">{$others.footprint_num}</a></span>
                                    <span>足迹</span>
                                </div>
                            </div>
                         </div>  
                         {if isset($usersConfig['shop_open']) && $usersConfig['shop_open'] == 1 && $php_servicemeal > 1}
                         <div class="clearfix">
                            <div class="uc-main-box">
                                <div class="uc-content-box portal-content-box">
                                    <div class="box-bd">
                                        <div class="portal-sub">
                                            <ul class="info-list clearfix">
                                                {eyou:spstatus id="field3"}
                                                <li>
                                                    <div class="pic"> <img src="{eyou:static file='users/skin/images/portal-icon-1.png' /}"> </div>
                                                    <div class="info">
                                                        <h3>待支付的订单：<span class="num">{$field3.PendingPayment}</span></h3>
                                                        <a href="{eyou:url link='user/Shop/shop_centre' vars='select_status=dzf'/}">查看待支付订单<i class="iconfont"></i></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="pic"> <img src="{eyou:static file='users/skin/images/portal-icon-2.png' /}"> </div>
                                                    <div class="info">
                                                        <h3>待收货的订单：<span class="num">{$field3.PendingReceipt}</span></h3>
                                                    <a href="{eyou:url link='user/Shop/shop_centre' vars='select_status=2'/}">查看待收货订单<i class="iconfont"></i></a>
                                                    </div>
                                                </li>
                                                {if isset($usersConfig['shop_open']) && $usersConfig['shop_open'] == 1 && $php_servicemeal >= 2}
                                                <li>
                                                    <div class="pic"> <img src="{eyou:static file='users/skin/images/portal-icon-3.png' /}"> </div>
                                                    <div class="info">
                                                        <h3>待评价商品数：<span class="num">{$field3.waitComment}</span></h3>
                                                        <a href="{eyou:url link='user/ShopComment/need_comment_list'/}">查看待评价商品<i class="iconfont"></i></a>
                                                    </div>
                                                </li>
                                                {/if}
                                                {eyou:gt name='$php_servicemeal' value='1'}
                                                <li>
                                                    <div class="pic"> <img src="{eyou:static file='users/skin/images/portal-icon-5.png' /}"> </div>
                                                    <div class="info">
                                                        <h3>售后中的商品：<span class="num">{$field3.AfterService}</span></h3>
                                                        <a href="{eyou:url link='user/Shop/after_service'/}">查看售后中的商品<i class="iconfont"></i></a>
                                                    </div>
                                                </li>
                                                {/eyou:gt}
                                                {/eyou:spstatus}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/if}
                        <div class="main-bg" style="display: none;" id="eyExpandTpl">
                            <div class="el-main">
                                <div class="index-plugs">
                                    {if condition="in_array('memgift', $useFunc) && $php_servicemeal > 1"}
                                    <a href="{eyou:url link='user/Memgift/users_gift_list' /}" class="plugs-item">
                                        <div class="plugs-item-l"><img src="{eyou:static file='users/skin/images/user-getgift-100x100.png' /}" /></div>
                                        <div class="plugs-item-r"><span>积分兑换</span></div>
                                    </a>
                                    {/if}
                                    {notempty name="$usersOrderUrl"}
                                    {if condition="isset($partChannel['article']['data']['is_article_pay']) && $partChannel['article']['data']['is_article_pay'] == 1"}
                                    <a href="{eyou:url link='user/Users/article_index'/}" class="plugs-item">
                                        <div class="plugs-item-l"><img src="{eyou:static file='users/skin/images/user-arc-100x100.png' /}" /></div>
                                        <div class="plugs-item-r"><span>会员订单</span></div>
                                    </a>
                                    {elseif condition="isset($partChannel['download']['data']['is_download_pay']) && $partChannel['download']['data']['is_download_pay'] == 1" /}
                                    <a href="{eyou:url link='user/Users/download_index'/}" class="plugs-item">
                                        <div class="plugs-item-l"><img src="{eyou:static file='users/skin/images/user-arc-100x100.png' /}" /></div>
                                        <div class="plugs-item-r"><span>会员订单</span></div>
                                    </a>
                                    {elseif condition="isset($partChannel['media']['data']['is_media_pay']) && $partChannel['media']['data']['is_media_pay'] == 1" /}
                                    <a href="{eyou:url link='user/Users/media_index'/}" class="plugs-item">
                                        <div class="plugs-item-l"><img src="{eyou:static file='users/skin/images/user-arc-100x100.png' /}" /></div>
                                        <div class="plugs-item-r"><span>会员订单</span></div>
                                    </a>
                                    {/if}
                                    {/notempty}
                                    {egt name='$php_servicemeal' value='2'}
                                        {notempty name="$part_channel.ask.status"}
                                        <a href="{eyou:url link='user/Ask/ask_index' /}" class="plugs-item">
                                            <div class="plugs-item-l"><img src="{eyou:static file='users/skin/images/user-ask-100x100.png' /}" /></div>
                                            <div class="plugs-item-r"><span>我的问答</span></div>
                                        </a>
                                        {/notempty}
                                    {/egt}
                                    {notempty name="$others.weapp_menu_info"}
                                        {volist name="$others.weapp_menu_info" id="vo"}
                                        <a href="{:url($vo.mca)}" class="plugs-item">
                                            <div class="plugs-item-l"><img src="{$Think.const.ROOT_DIR}{$vo.litpic}" /></div>
                                            <div class="plugs-item-r"><span>{$vo.title}</span></div>
                                        </a>
                                        {/volist}
                                    {/notempty}
                                </div>
                            </div>
                        </div>  
                     </div>  
                </div>
            </div>
        </div>
        {eyou:static file="users/skin/js/users_welcome.js"/}
        {eyou:include file="users/users_footer.htm" /}