<!-- 栏目图片，判断当前栏目是否有上传图片，如果没有则调用顶级栏目图片 -->
<div class="channel-banner" {eyou:notempty name='$eyou.field.typelitpic'} style="background-image: url({$eyou.field.typelitpic})" {eyou:else /} style="background-image: url({$eyou.field.typeid|gettoptype=###,'litpic'})" {/eyou:notempty}>
    <div class="banner-info">
        <div class="container-layout text-center">
            <h3 class="text-white">{$eyou.field.typename}</h3>
            <p class="Conv_DINCondensedC text-white">{$eyou.field.englist_name}</p>
        </div>
    </div>
</div>