<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>标签页_{eyou:global name="web_name" /}</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="skin/style/pintuer.css" /}
        {eyou:static file="skin/style/header.css" /}
        {eyou:static file="skin/style/style.css" /}
        {eyou:static file="skin/style/iconfont.css" /}
        <!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
    </head>
    <body>
        <div id="mobile-mask">
            <!-- 公用头部 begin -->
            {eyou:include file="header.htm" /}
            <!-- 公用头部 end -->    
            <div class="layout bg-white">
                <div class="container">
                    <div class="line nav-bread">
                        <div class="xl12">
                            <h2 class="text-main">标签</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout bg-gray">
                <div class="container">
                    <!-- 最新标签tag begin -->
                    <div class="line">
                        <div class="xl12">
                            <div class="blank-big"></div>
                            <div class="title-l">
                                <h2>最新标签</h2>
                            </div>
                            <div class="blank"></div>
                            {eyou:tags getall='0' sort='new'}
                            <a href="{$field.link}" class="tag tags bg-yellow radius-rounded text-white margin-bottom padding"
                                {$field.target}>{$field.tag}</a>
                            {/eyou:tags}
                            <div class="blank-small"></div>
                        </div>
                    </div>
                    <!-- 最新标签tag end -->
                    <!-- 当月热门标签tag begin -->
                    <div class="line">
                        <div class="xl12">
                            <div class="blank-small"></div>
                            <div class="title-l">
                                <h2>当月热门标签</h2>
                            </div>
                            <div class="blank"></div>
                            {eyou:tags getall='0' sort='month'}
                            <a href="{$field.link}" class="tag tags bg-yellow radius-rounded text-white margin-bottom padding"
                                {$field.target}>{$field.tag}</a>
                            {/eyou:tags}
                            <div class="blank-small"></div>
                        </div>
                    </div>
                    <!-- 当月热门标签tag end -->    

                    <!-- 本周热门标签tag begin -->
                    <div class="line">
                        <div class="xl12">
                            <div class="blank-small"></div>
                            <div class="title-l">
                                <h2>本周热门标签</h2>
                            </div>
                            <div class="blank"></div>
                            {eyou:tags getall='0' sort='week'}
                            <a href="{$field.link}" class="tag tags bg-yellow radius-rounded text-white margin-bottom padding"
                                {$field.target}>{$field.tag}</a>
                            {/eyou:tags}
                            <div class="blank-small"></div>
                        </div>
                    </div>
                    <!-- 本周热门标签tag end -->
                    <div class="blank-big"></div>
                </div>
            </div>
            <!-- 公用底部 begin -->
            {eyou:include file="footer.htm" /}
            <!-- 公用底部 end -->
        </div>
        {eyou:static file="skin/js/jquery.min.js" /}
        {eyou:static file="skin/js/pintuer.js" /}
        {eyou:static file="skin/js/common.js" /}
    </body>
</html>
