<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>搜索页_{$eyou.field.keywords}_{eyou:global name="web_name" /}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/style/pintuer.css" /}
{eyou:static file="skin/style/header.css" /}
{eyou:static file="skin/style/style.css" /}
{eyou:static file="skin/style/iconfont.css" /}
<!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
</head>
<body>
<div id="mobile-mask">
    <!-- 公用头部 begin -->
    {eyou:include file="header.htm" /}
    <!-- 公用头部 end -->
	<div class="layout bg-gray">
		<div class="container-layout">
			<div class="line">
				<div class="padding-big-top padding-big-bottom height">
					搜索结果：<span class="text-yellow">“{$eyou.field.keywords}”</span>相关的内容
				</div>
			</div>
		</div>
		<div class="container-layout">
			<div class="line">
				<div class="xl12 xs12">
					<ul class="normal-list">
						{eyou:list titlelen='60' pagesize='20'}
						<li class="dot">
							<a href="{$field.arcurl}" title="{$field.title}">【{$field.typename}】{$field.title}</a>
							<span class="hidden-l">{$field.update_time|MyDate='Y-m-d',###}</span>
						</li>
						{/eyou:list}
					</ul>
				</div>
				<!-- 分页 begin -->
				<div class="blank-small"></div>
				<div class="xl12 xs12 text-center">
					<ul class="pagination">
					   {eyou:pagelist listitem='pre,pageno,next' listsize='9' /}
					</ul>
				</div>
				<div class="blank-small"></div>				
				<!-- 分页 end -->				
			</div>
		</div>
	</div>
	<!-- 公用底部 begin -->
	{eyou:include file="footer.htm" /}
	<!-- 公用底部 end -->
</div>
{eyou:static file="skin/js/jquery.min.js" /}
{eyou:static file="skin/js/pintuer.js" /}
{eyou:static file="skin/js/common.js" /}
{eyou:static file="skin/js/mobile.js" /}
</body>
</html>