<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{$eyou.field.seo_title}</title>
        <meta name="keywords" content="{$eyou.field.seo_keywords}" />
        <meta name="description" content="{$eyou.field.seo_description}" />
        <link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="skin/style/pintuer.css" /}
        {eyou:static file="skin/style/header.css" /}
        {eyou:static file="skin/style/style.css" /}
        {eyou:static file="skin/style/iconfont.css" /}
        <!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
    </head>
    <body>
        <div id="mobile-mask">
            <!-- 公用头部 begin -->
            {eyou:include file="header.htm" /}
            <!-- 公用头部 end -->    
            <!-- 公用栏目图片 begin -->
            {eyou:include file="banner.htm" /}
            <!-- 公用栏目图片 end -->
            <!-- 横向栏目样式 begin -->
            <div class="nav-x">
                <div class="container-layout">
                    <div class="menu-toggle">
                        <button class="button icon-navicon" data-target="#subnav">
                            <span>
                                {$eyou.field.typename}
                                {eyou:empty name="$eyou.field.children"}<i class="iconfont icon-down margin-small-right"></i>{/eyou:empty}
                            </span>
                        </button>
                        <ul class="nav-navicon text-center" id="subnav">
                            {eyou:models type="first" id="field2" currentstyle="active"}
                            <li>
                                <a href="{$field2.typeurl}" class="{$field2.currentstyle}">{$field2.typename}</a>
                            </li>
                            {/eyou:models}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 横向栏目样式 end -->

            <div class="layout bg-gray">
                <div class="blank"></div>
                <div class="container-layout">
                    <div class="line-large">
                        <div class="video-list">
                            {eyou:list pagesize='8'}
                            <div class="xl12 xs12">
                                <div class="media bg-white radius">
                                    <div class="media-img">
                                        <a class="play border-none text-center radius-circle text-white text-middle"
                                            href="{$field.arcurl}"><i class="iconfont icon-bofang"></i></a>
                                        <div class="playtime radius-rounded text-center text-white text-small">{$field.total_duration}</div>
                                        <a href="{$field.arcurl}" title="{$field.title}"><img src="{$field.litpic}"
                                                class="img-responsive"></a>
                                    </div>
                                    <div class="media-body text-left">
                                        <div class="padding">
                                            <h2><a href="{$field.arcurl}" class="text-main text-middle">{$field.title}</a></h2>
                                            <div class="price-info height">
                                                <ul>
                                                    <li class="v2-1 text-yellow float-left">
                                                        {eyou:gt name="$field.users_price" value="0"}
                                                        <span class="Conv_DINCondensedC text-big">￥{$field.users_price}</span>
                                                        {eyou:else/}
                                                            {eyou:eq name="$field.arc_level_id" value="0"}
                                                            免费
                                                            {eyou:else/}
                                                            VIP
                                                            {/eyou:eq}
                                                        {/eyou:gt}
                                                    </li>
                                                    <li class="v2-2 text-gray text-right float-right">
                                                        <i class="iconfont icon-eye margin-small-right margin-left"></i>{$field.click}
                                                    </li>
                                                    <div class="clearfix"></div>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {/eyou:list}
                        </div>

                        <!-- 分页 begin -->
                        <div class="blank-small"></div>
                        <div class="text-center">
                            <ul class="pagination">
                                {eyou:pagelist listitem='pre,pageno,next' listsize='9' /}
                            </ul>
                        </div>
                        <!-- 分页 end -->
                    </div>
                </div>
                <div class="blank-small"></div>
            </div>
            <!-- 公用底部 begin -->
            {eyou:include file="footer.htm" /}
            <!-- 公用底部 end -->
        </div>
        {eyou:static file="skin/js/jquery.min.js" /}
        {eyou:static file="skin/js/pintuer.js" /}
        {eyou:static file="skin/js/common.js" /}
        {eyou:static file="skin/js/mobile.js" /}
        <!-- 菜单 -->
        <script type="text/javascript">
            $(document).ready(function() {
                $('.nav-tree li').hover(function() {
                    $(this).children('ul').show();
                    $(this).focus().addClass('focusa')
                }, function() {
                    $(this).children('ul').hide();
                    $(this).focus().removeClass('focusa')
                });
            });
        </script>
    </body>
</html>
