<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{$eyou.field.seo_title}</title>
        <meta name="keywords" content="{$eyou.field.seo_keywords}" />
        <meta name="description" content="{$eyou.field.seo_description}" />
        <link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="skin/style/pintuer.css" /}
        {eyou:static file="skin/style/header.css" /}
        {eyou:static file="skin/style/style.css" /}
        {eyou:static file="skin/style/iconfont.css" /}
        <!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
    </head>
    <body>
        <div id="mobile-mask">
            <!-- 公用头部 begin -->
            {eyou:include file="header.htm" /}
            <!-- 公用头部 end -->    
            <!-- 公用栏目图片 begin -->
            {eyou:include file="banner.htm" /}
            <!-- 公用栏目图片 end -->   
            <!-- 横向栏目样式 begin -->
            <div class="nav-x">
                <div class="container-layout">
                    <div class="menu-toggle">
                        <button class="button icon-navicon" data-target="#subnav">
                            <span>
                                {$eyou.field.typename}
                                {eyou:empty name="$eyou.field.children"}<i class="iconfont icon-down margin-small-right"></i>{/eyou:empty}
                            </span>
                        </button>
                        <ul class="nav-navicon text-center" id="subnav">
                            {eyou:models type="first" id="field2" currentstyle="active"}
                            <li>
                                <a href="{$field2.typeurl}" class="{$field2.currentstyle}">{$field2.typename}</a>
                            </li>
                            {/eyou:models}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 横向栏目样式 end -->
            <div class="layout bg-gray">
                <div class="blank-small"></div>
                <div class="container-layout">
                    <div class="line-large">
                        {eyou:list titlelen='40' pagesize='8'}
                        <div class="xl12 xs4 xm4 margin-bottom">
                            <a class="glightbox" href="{$field.litpic}" title="{$field.title}"><img src="{$field.litpic}"
                                    alt="{$field.title}" class="img-responsive" /></a>
                            <div class="bg-white height-middle">
                                <div class="padding">
                                    <h2 class="text-default">{$field.title}</h2>
                                </div>
                            </div>
                        </div>
                        {/eyou:list}
                    </div>
                </div>
                <div class="blank-small"></div>
            </div>
            <!-- 公用底部 begin -->
            {eyou:include file="footer.htm" /}
            <!-- 公用底部 end -->
        </div>
        {eyou:static file="skin/js/jquery.min.js" /}
        {eyou:static file="skin/js/pintuer.js" /}
        {eyou:static file="skin/js/common.js" /}
        {eyou:static file="skin/js/mobile.js" /}
        <!-- glightbox begin-->
        {eyou:static file="skin/Lib/glightbox/css/glightbox.css" /}
        {eyou:static file="skin/Lib/glightbox/js/glightbox.min.js" /}
        <script>
            var lightbox = GLightbox();
            lightbox.on('open', (target) => {});
        </script>
        <!-- glightbox end-->
    </body>
</html>
