<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{$eyou.field.seo_title}</title>
        <meta name="keywords" content="{$eyou.field.seo_keywords}" />
        <meta name="description" content="{$eyou.field.seo_description}" />
        <link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="skin/style/pintuer.css" /}
        {eyou:static file="skin/style/header.css" /}
        {eyou:static file="skin/style/style.css" /}
        {eyou:static file="skin/style/iconfont.css" /}
        <!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
    </head>
    <body>
        <div id="mobile-mask">
            <!-- 公用头部 begin -->
            {eyou:include file="header.htm" /}
            <!-- 公用头部 end -->
            <div class="layout bg-black">
                <!-- 当前位置 begin -->
                <div class="container-layout">
                    <div class="line">
                        <div class="xl12 xs12">
                            <div class="nav-bread">
                                <i class="iconfont icon-home margin-small-right" aria-hidden="true"></i>{eyou:position/}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 当前位置 end -->
                <div class="container-layout">
                    <div class="line bg-main">
                        <div class="xl12 xs12">
                            <div class="jw-video">
                                <!--  视频 begin-->
                                {eyou:videoplay aid='$eyou.field.aid' autoplay='off' id='video'}
                                <video src="{$video.file_url}" {$video.id} width="100%" controls preload="auto"
                                    oncontextmenu="return fase"></video>
                                {$video.hidden}
                                {/eyou:videoplay}
                                <!--  视频 end-->
                            </div>
                            <!-- 播放权限遮罩 begin -->
                            <div class="jw-video-expense text-center" id="VideoDiv13579" style="display: none;">
                                <div class="apply text-center">
                                    <p class="text-middle text-white" id="MsgTitle13579"></p>
                                    <div class="blank-middle"></div>
                                    <div class="button button-big bg-yellow text-center radius-rounded text-middle" id="MsgOnclick13579"></div>
                                </div>
                            </div>
                            <!-- 播放权限遮罩 end -->
                        </div>

                        <div class="xl12 xs12">
                            <div class="video-period-title">
                                <span class="text-middle text-white">视频选集</span>
                                <span class="margin-left margin-right text-gray">{$eyou.field.total_video}课时</span>
                                <span class="text-gray">总时长：{$eyou.field.total_duration}</span>
                            </div>
                            <!-- 课程目录 -->
                            <ul class="video-period-list">
                                {eyou:videolist aid='$eyou.field.aid' id='video'}
                                <li>
                                    <a href="javascript:;" {$video.onclick}>
                                        <p title="{$video.file_title}">{$i}.{$video.file_title}</p>
                                        <div class="video-info">
                                            时长：{$video.file_time}
                                            <span>{eyou:eq name="video.gratis" value="1"}<span class="text-white">试看</span>{eyou:else/}<span
                                                    class="text-gray VideoButton13579"></span>{/eyou:eq}</span>
                                        </div>
                                    </a>
                                </li>
                                {$video.hidden}
                                {/eyou:videolist}
                            </ul>
                            <!-- 课程目录 end -->
                        </div>

                    </div>
                    <div class="blank"></div>
                    <div class="line">
                        <div class="xl12 xs12">
                            <!-- 标题 begin -->
                            <h1 class="text-white">{$eyou.field.title}</h1>
                            <!-- 标题 end -->
                            <div class="blank"></div>
                            <p class="video-catalogue text-gray hidden-l"><i class="iconfont icon-clock margin-small-right"></i>更新时间：<span class="total-time">{$eyou.field.update_time|MyDate='y-m-d',###}</span></p>
                            <div class="blank hidden-l"></div>
                            <p class="hidden-l">
                                {eyou:notempty name='$eyou.field.courseware' /}
                                <a href="{$eyou.field.courseware}" target="_blank" class="button radius button-small bg-yellow border-none margin-right"><i class="iconfont icon-xiazai margin-small-right"></i>本课素材</a>
                                {eyou:else /}
                                {/eyou:notempty}
                            </p>
                            <div class="blank"></div>
                        </div>
                        <div class="xl12 xs12">
                            <!-- 价格 begin -->
                            <div class="video-period" id="video-period-20190425">
                                {eyou:gt name="$eyou.field.users_price" value="0"}
                                  {eyou:eq name="$eyou.field.users_free" value="0"}
                                	<div class="price text-white">￥{$eyou.field.users_price}</div>
                                  {eyou:else /}
                                  <div class="video-buy-now button button-big bg-yellow text-center radius-rounded text-middle" id="Mianfei13579"></div>
                                  {/eyou:eq}
                                {eyou:else /}
                                  <div class="video-free-now button button-big bg-yellow text-center radius-rounded text-middle" id="Mianfei13579">免费</div>
                                {/eyou:gt}
                            </div>
                            <!-- 价格 end-->
                        </div>
                    </div>
                </div>
                <div class="blank-middle"></div>
            </div>

            <div class="layout bg-gray">
                <div class="blank-middle"></div>
                <div class="container-layout">
                    <div class="line">
                        <div class="xl12 xs12 xm9 xb9">
                            <div class="bg-white radius">
                                <!-- 详细内容 begin -->
                                <div class="video-detail">
                                    <div class="tab">
                                        <div class="tab-head">
                                            <ul class="tab-nav">
                                                <li class="active"><a href="#overview">课程介绍</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-body">
                                            <div class="tab-panel active" id="overview">
                                                <div class="article">
                                                    <div class="post">
                                                        <!-- 内容详情 begin -->
                                                        {$eyou.field.content}
                                                        <!-- 内容详情 end -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 详细内容 end-->
                            </div>
                            <div class="blank-small"></div>

                            <div class="prenext-text bg-white padding-big-left padding-big-right padding-top padding-bottom radius">
                                <div class="line">
                                    <!-- 上一篇 begin -->
                                    <div class="xl12 xs12 xm6 xb6 text-l">
                                        {eyou:prenext get='pre' titlelen='30'}
                                        <span class="text-gray">上一篇:</span>
                                        <a href="{$field.arcurl}" class="text-main" title="{$field.title}">{$field.title}</a>
                                        {eyou:else /}
                                        <span class="text-gray">上一篇:</span>
                                        <a class="text-gray">到头啦！</a>
                                        {/eyou:prenext}
                                    </div>
                                    <!-- 上一篇 end -->
                                    <!-- 下一篇 begin -->
                                    <div class="xl12 xs12 xm6 xb6 text-r">
                                        {eyou:prenext get='next' titlelen='30'}
                                        <span class="text-gray">下一篇:</span>
                                        <a href="{$field.arcurl}" class="text-main" title="{$field.title}">{$field.title}</a>
                                        {eyou:else /}
                                        <span class="text-gray">下一篇:</span>
                                        <a class="text-gray">真没啦！</a>
                                        {/eyou:prenext}
                                    </div>
                                    <!-- 下一篇 end -->
                                </div>
                            </div>
                            <div class="blank-small"></div>
                        </div>

                        <div class="xl12 xs12 xm3 xb3">
                            <div class="title-l">
                                <h2>热门课程</h2>
                            </div>
                            <div class="blank-small"></div>
                            <div class="list-post-x">
                                {eyou:artlist loop='5' orderby='rand'}
                                <div class="media media-x">
                                    {eyou:eq name='$field.is_litpic' value='1'}
                                    <div class="thumb-md float-left radius">
                                        <a href="{$field.arcurl}" title="{$field.title}"><img src="{$field.litpic}" class="img-responsive" alt="{$field.title}"></a>
                                        <div class="playicon border-none text-center radius text-white text-small" href="{$field.arcurl}"><i class="iconfont icon-bofang"></i></div>
                                        <div class="playtime radius-rounded text-center text-white text-small">{$field.total_duration}</div>
                                    </div>
                                    {/eyou:eq}
                                    <div class="media-body">
                                        <h3><a href="{$field.arcurl}" class="text-middle">{$field.title}</a></h3>
                                    </div>
                                </div>
                                {/eyou:artlist}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blank-small"></div>
            </div>
            <!-- 公用底部 begin -->
            {eyou:include file="footer.htm" /}
            <!-- 公用底部 end -->
        </div>
        {eyou:static file="skin/js/jquery.min.js" /}
        {eyou:static file="skin/js/pintuer.js" /}
        {eyou:static file="skin/js/common.js" /}
        {eyou:static file="skin/js/mobile.js" /}
    </body>
</html>
