@font-face {
  font-family: "iconfont-m"; /* Project id 2649994 */
  src: url('iconfont-m.woff2?t=1695110209559') format('woff2'),
       url('iconfont-m.woff?t=1695110209559') format('woff'),
       url('iconfont-m.ttf?t=1695110209559') format('truetype');
}

.iconfont-m {
  font-family: "iconfont-m" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kongzhuangtai:before {
  content: "\e63c";
}

.icon-weixin:before {
  content: "\e7e5";
}

.icon-mi:before {
  content: "\e638";
}

.icon-icon:before {
  content: "\e639";
}

.icon-bianji:before {
  content: "\e63a";
}

.icon-daishouhuo:before {
  content: "\e637";
}

.icon-fenlei_selected:before {
  content: "\e627";
}

.icon-chaping:before {
  content: "\e628";
}

.icon-haoping:before {
  content: "\e62a";
}

.icon-wode_selected:before {
  content: "\e62b";
}

.icon-gouwuche:before {
  content: "\e62d";
}

.icon-gouwuche_selected:before {
  content: "\e62e";
}

.icon-shouye_selected:before {
  content: "\e630";
}

.icon-zhongping:before {
  content: "\e631";
}

.icon-shangcheng:before {
  content: "\e632";
}

.icon-shangchuantupianshipin:before {
  content: "\e633";
}

.icon-wode:before {
  content: "\e634";
}

.icon-shouye:before {
  content: "\e635";
}

.icon-meiyoudingdan:before {
  content: "\e636";
}

.icon-weidu:before {
  content: "\e625";
}

.icon-yidu:before {
  content: "\e626";
}

.icon-tuichu:before {
  content: "\e624";
}

.icon-daifukuan:before {
  content: "\e615";
}

.icon-daipingjia:before {
  content: "\e616";
}

.icon-wodeguanzhu:before {
  content: "\e617";
}

.icon-shouhoufuwu:before {
  content: "\e618";
}

.icon-shouhuodizhi:before {
  content: "\e619";
}

.icon-daifahuo:before {
  content: "\e61a";
}

.icon-tuihuanxiu:before {
  content: "\e61b";
}

.icon-gerenxinxi:before {
  content: "\e61c";
}

.icon-xiaoxitongzhi:before {
  content: "\e61d";
}

.icon-zhanghuchongzhi:before {
  content: "\e61e";
}

.icon-wodeyouhui:before {
  content: "\e61f";
}

.icon-fenlei:before {
  content: "\e623";
}

