html {
	background:#f5f7f8; 
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
     font:14px;
     color:#333;
     font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}
input,select,textarea {
    font-size:100%;
}
/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
    text-align:inherit;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:none;
    font-variant:normal;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul ,li{
    list-style:none;
}

/* 对齐是排版最重要的因素，别让什么都居中 */
caption,th {
    text-align:left;
}
/* 来自yahoo，让标题都自定义，适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
	color:#ff6f06;
    text-decoration:none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
	color:#666;
    text-decoration:none;
}
/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.block {
    display:block;
}
/* 设置浮动，减少浮动带来的 bug */
.fl,.fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}

.bg-f{
    background-color: #fff;
}
.bor{
   border: 1px solid #e8e8ed; 
}
.red{color: red;}    
.w250{width: 250px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mb15{margin-bottom: 15px !important;}

.ask-title{
    padding-left: 20px;
    height: 46px;
    background: #fbfbfc;
    border-bottom: 1px solid #e8e8ed;
    font-size: 16px;
    font-weight: 500;
    color: #222226;
    line-height: 46px;
}


.ask-header{
    position: relative;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
}
.ask-header .logo{
}
.ask-header .logo img{
    height: 38px;
}
.ask-header .ask-header-main{
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1400px;
    min-width: 1100px;
    height: 38px;
    line-height: 38px;
    overflow: hidden;
}
.ask-header .tips{
    font-size: 16px;
    color: #999;
}
.ask-header .site-search{
    position: relative;
}
.ask-header .ask-btn{
    border-radius: 50px;
    padding: 0 20px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    background-color:#ff6f06;
}
.ask-header .ask-btn .fa{
    margin-right:4px;
}

.ask-header input.search-text{
    border: 1px solid #e8eef6;
   border-radius: 50px;
    background-color: #fff;
    color: #111E2C;
    font-size: 13px;
    padding: 0 30px 1px 22px;
    height: 36px;
    outline: none;
    width: 150px;
    box-shadow: 0 0 38px 42px #fff inset;
}
.ask-header button.search-bt {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 4px;
    background: none;
    border: 0;
    cursor: pointer;
}
.ask-header .user-box{
    display: block;
    cursor: pointer;
}
.ask-header .user-box .user-img{
    float: left;
    width: 38px;
    height: 38px;
    overflow: hidden;
    display: inline-block;
}
.ask-header .user-box .user-img img{
    width: 38px;
    height: 38px;
    border-radius: 50px;
}
.ask-header .user-box .user-name{
    float: left;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    margin-left: 10px;
}
.ask-content{
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1100px;
    overflow: hidden;
    display: flex;
}
.ask-content .nav-cate .icon-hongbao{
    color: #F44336;
    margin-right:4px;
}
.ask-content .ask-right{
    width: 334px;
     margin-left: 20px;
}

.ask-content .ask-left{
    width: calc(100% - 524px);
}

.ask-content.ask-details .ask-left{
    flex: 1;
}

.ask-content .ask-left .nav-cate{
    border: 1px solid #e8e8ed;
    height: 46px;
    line-height: 46px;
}
.ask-content .ask-left .nav-cate li{
    float: left;
    border-right:1px solid #e8e8ed;
}
.ask-content .ask-left .nav-cate .fa{
    margin-right: 6px;
}
.ask-content .ask-left .nav-cate li a{
    display: block;
    padding: 0 40px;
}
.ask-content .ask-left .nav-cate li .cur{
    border-bottom: 2px solid #ff6f06;
    color: #ff6f06;
    height: 45px;
    line-height: 45px;
}
.ask-content .ask-left .nav-cate  .search-num{
    display: inline-block;
    padding: 0 10px;
}
.ask-content .ask-left .nav-cate  .search-num span{
    color: red;
    font-weight: 700;
}
.ask-content .ask-aside{
    width:150px;
    margin-right: 20px;
  
}
.ask-content .ask-aside-list{
    width:150px;
    height: auto ;
}
.ask-content .ask-aside-list ul li{
    padding: 0 15px;
}
.ask-content .ask-aside-list  li a{
    display: block;
    line-height: 34px;
    font-size: 15px;
    color: #333;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.ask-content .ask-aside-list li:hover{
    background-color: #f5f6f7;
    color:#ff6f06;
}
.ask-content .ask-aside-list .cur{
    background-color: #f5f6f7;
}

.ask-content .ask-left .ask-item:last-child{
    border-bottom:0;
}
.ask-content .ask-left .ask-item {
   display: flex;
    padding: 18px 20px;
    border-bottom: 1px solid #e9eff4;
    position: relative;
    word-break: break-all;
}

.ask-content .ask-left .ask-item .ask-item-l{
    display: flex;
    text-align: center;
    width: 65px;
    margin-right:20px;
    flex-direction: column;
}
.ask-content .ask-left .ask-item .ask-item-l .num{
    font-size: 20px;
    font-weight: bold;
}
.ask-content .ask-left .ask-item .ask-item-l .label{
    color: #999;
}

.ask-content .ask-left .ask-item .ask-item-r{
    flex: 1;
    width: calc(100% - 85px);
}

.ask-content .ask-left .ask-item .question-box{
   
}
.ask-content .ask-left .ask-item .question-box .title{
    position: relative;
    max-height: 50px;
    line-height: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.ask-content .ask-left .ask-item .question-box .title .reward{
   display: inline-block;
   margin-right: 10px;
   color: #ff5b4d;
   font-size: 14px; 
}
.ask-content .ask-left .ask-item .question-box .title a{
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    word-break: break-all;
    cursor: pointer;
}
.ask-content .ask-left .ask-item .question-box .title a:hover{
    color: #ff6f06;
}

.ask-content .ask-left .ask-item .question-box .desc{
    width: 100%;
    margin-top: 6px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    
}
.ask-content .ask-left .ask-item .question-foot{
    margin-top: 6px;
    display: flex;
}
.ask-content .ask-left .ask-item .question-foot .tags{
    flex: 1;
    display: flex;
    align-items: center;
}
.ask-content .ask-left .ask-item .question-foot .tags ul{
    display: flex;
}
.ask-content .ask-left .ask-item .question-foot .tags li a{
    margin-right: 6px;
    font-size: 12px;
    color: #666666;
    font-weight: 400;
    cursor: auto;
}
.ask-content .ask-left .ask-item .question-foot .tags li img{
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.ask-content .ask-left .ask-item .question-foot .tags li a:hover{
     color: #507999;
}
.ask-content .ask-left .ask-item .question-foot .tags span{
    font-size: 13px;
    color: #999;
    margin-left: 6px;
}
.ask-content .ask-left .ask-item .question-foot .user-box{
    display: flex;
    margin-top: 6px;
    font-size: 14px;
    color: #666666;
    line-height: 30px;
    margin-right: 16px;
    margin-left: 6px;
}
.ask-content .ask-left .ask-item .question-foot .user-box .name{
    margin-right: 10px;
}
.ask-content .ask-left .ask-item .question-foot .user-box .cate{
    margin-right: 10px;
    color: #333;
}
.ask-content .ask-right .user-box{
   padding:0 10px;

}
.ask-content .ask-right .user-box .user-login{
    display: flex;
    text-align: center;
}
.ask-content .ask-right .user-box .user-login:first-child{
    border-bottom: 1px solid #eee;
}
.ask-content .ask-right .user-box .item{
    display: inline-block;
    flex:1;
    padding:20px 10px;
     font-size: 14px;
     overflow: hidden;
}
.ask-content .ask-right .user-box a.item:hover{
    color: #666;
}

.ask-content .ask-right .user-box .item p{
    font-size: 20px;
    color: #333;
    word-break: break-all;
}
.ask-content .ask-right .user-box .user-login .item:first-child{
   margin-right: 10px;
}

.ask-content .ask-right .user-logout{
    padding:14px 10px;
    font-size: 14px;
    text-align: center;
}
.ask-content .ask-right .user-logout a{
    color: #ff6f06;
    margin-right: 6px;
}

.ask-content .ask-right .ask-rank{
    padding:10px 15px;
}
.ask-content .ask-right .ask-rank .item{
    display: flex;
    align-items: center;
    height: 44px;
    line-height: 44px;
    border-bottom: 1px dashed #e8e8ed;
    margin-bottom: 0;
}
.ask-content .ask-right .ask-rank .item:last-child{
    border: 0;
}
.ask-content .ask-right .ask-rank .item .rank{
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 400;
    color: #999aaa;
    border-radius: 50px;
}
.ask-content .ask-right .ask-rank .item:first-child .rank{
    background-color:#ebc271;
    color: #fff;
}
.ask-content .ask-right .ask-rank .item:nth-child(2) .rank{
    background-color:#c6c9cc;
    color: #fff;
}
.ask-content .ask-right .ask-rank .item:nth-child(3) .rank{
    background-color:#d1b7a7;
    color: #fff;
}
.ask-content .ask-right .ask-rank .item img{
    margin-left: 20px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.1);
}
.ask-content .ask-right .ask-rank .item .name{
    display: inline-block;
    margin-left: 8px;
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ask-content .ask-right .ask-rank .item .name a{
    font-size: 14px;
    font-weight: 500;
    color: #222226;
    word-break: break-all;
   cursor: auto;
}
.ask-content .ask-right .ask-rank .item .num{
    width: 65px;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ask-content .ask-right .ask-pay{
    padding: 10px 15px;
}
.ask-content .ask-right .ask-pay .item{
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px dashed #e8e8ed;
    margin-bottom: 0;
}
.ask-content .ask-right .ask-pay .item:last-child{
    border: 0;
}


.ask-content .ask-right .ask-pay .item .pay{
    background: #ffe9e5;
    vertical-align: middle;
    display: inline-block;
    padding: 0 5px;
    height: 24px;
    line-height: 24px;
    margin-right: 8px;
    color: #ff5b4d;
    font-size: 14px;
}

.ask-content .ask-right .ask-pay .item .pay i{
    color: #F44336;
    margin-right: 4px;
}

.ask-content .ask-right .ask-pay .item .pay-tit{
    flex: 1;
    font-size: 14px;
    color: #333;
}
.ask-content .ask-right .ask-pay .item .rank{
    text-align: center;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 15px;
    font-weight: 400;
    color: #999aaa;
    border-radius: 50px;
}
.ask-content .ask-right .ask-pay .item:first-child .rank {
    color: red;
     font-weight: 700;
}
.ask-content .ask-right .ask-pay .item:nth-child(2) .rank {
   color:#ff9800;
    font-weight: 700;
}
.ask-content .ask-right .ask-pay .item:nth-child(3) .rank {
   color: #ffc107;
    font-weight: 700;
}

.ask-footer{
    position: relative;
    width: 100%;
    background-color: #e8eaea;
}
.ask-footer .ask-footer-con{
    margin: 0 auto;
    max-width: 1400px;
    min-width: 1100px;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.details-main{
    padding: 20px;
}
.details-main .user-info{
    display: flex;
    align-items: center;
}
.details-main .title .fa{
    font-size: 20px;
}
.details-main .title .fa.fa-check-circle{
    color:#09b509;
}
.details-main .title .fa.fa-question-circle{
    color: #ff6f06;
}
.details-main .title .reward {
    display: inline-block;
    margin-left: 6px;
    color: #ff5b4d;
    font-size: 14px;
}
.details-main .title h2{
    display: inline;
    font-size: 20px;
    font-weight: 700;
    color: #222226;
    line-height: 30px;
}
.details-main .txt-con{
    font-size: 14px;
    line-height: 24px;
}
.details-main .txt-con img{
    max-width: 100%;
}

.details-main .user-info .user-box{
   display: flex;
   align-items: center;
   cursor: auto;
}
.details-main .user-info img{
    width: 36px;
    height: 36px;
    border-radius: 50px;
}
.details-main .user-info .name{
    font-size: 14px;
    margin-left: 8px;
}
.details-main .user-info .user-info-l{
    display: flex;
    align-items: center;
    flex: 1;
}
.details-main .user-info .user-info-l .time{
   font-size: 14px;
   color: #999;
   margin-left: 15px;
}
.details-main .user-info .user-info-r{
    font-size: 14px;
    color: #999;
}
.details-main .user-info .user-info-r a{
    color: #999;
}
.details-main .user-info .user-info-r a:hover{
    color: #ff6f06;
}
.details-main .tool{
    display: flex;
    font-size: 14x;
}
.details-main .tool .tool-l{
    flex: 1;
    font-size: 0;
}

.details-main .tool .tool-l .btn{
    display: inline-block;
    padding: 6px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
}
.details-main .tool .tool-l .btn.zan{
    background-color: #ffede7;
    color: #f77045;
    border: 1px solid #fba58a;
}
.details-main .tool .tool-l .read{
    color: #999;
    padding: 6px 0;
}
.details-main .tool i{
    margin-right: 4px;
}

.details-main .tool .tool-l .answer{
    background-color: #edfded;
    color: #2fc12f;
    border: 1px solid #a1dca1;
}

.details-main .tool .tool-r{
    font-size:0;
}
.details-main .tool .tool-r a{
    font-size: 14px;
    display: inline-block;
    margin-right: 10px;
}

.details-reply .reply-item{
    display:inline-block;
    width: calc(100% - 60px);
    padding:30px;
    border-bottom: 1px solid #e9eff4;
    position: relative;
    word-break: break-all;
}
.details-reply .reply-tit{
    width: calc(100% - 40px);
    display: flex;
    padding:15px 20px;
    border-bottom: 1px solid #e9eff4;
     font-size: 16px;
}
.details-reply .reply-item:last-child{
    border: 0;
}

.details-reply .reply-tit .reply-tit-l{
    flex: 1;
}
.details-reply .reply-tit .best-col{
    color: #09b509;
}
.details-reply .reply-tit .reply-tit-r{
    font-size: 14px;
}
.details-reply .reply-tit .reply-tit-r a:hover{
    color: #666;
}

.details-reply .reply-item .user-info{
    display: flex;
    width: 100%;
    align-items: center;
}
.details-reply .reply-item .user-info .user-box{
    display: flex;
    align-items: center;
    cursor: auto;
}
.details-reply .reply-item .user-info .user-box img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.details-reply .reply-item .user-info .user-box .name{
    margin-left: 6px;
    font-size: 14px;
}
.details-reply .reply-item .user-info .time{
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}
.details-reply .reply-item .txt-con{
    font-size: 14px;
    line-height: 24px;
}
.details-reply .reply-item .txt-con img{
    max-width: 100%;
}
.details-reply .reply-item .tool{
    display: flex;
    align-items: center;
}
.details-reply .reply-item .tool .tool-l .btn{
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    color: #555;
    cursor: pointer;
}
.details-reply .reply-item .tool .tool-l .btn em{
    margin: 0 4px;
}
.details-reply .reply-item .tool .tool-l .btn i{
    margin-right: 4px;
    color: #999;
}
.details-reply .reply-item .tool .tool-l{
    flex: 1;
}
.details-reply .reply-item .tool .tool-r{
    font-size: 14px;
}
.details-reply .reply-item .tool .tool-r a{
    margin-left: 10px;
}

.details-reply .reply-item .ask-comment{
    line-height: 24px;
}

.details-reply .reply-item .ask-comment .ask-comment-item{
    padding: 8px 20px;
    background-color: #f5f6f7;
}

.details-reply .reply-item .reply-form{
    padding: 8px 0;
    display: flex;
    width: 100%;
    align-items: center;
    display: none;
}

.details-reply .reply-item .reply-form input{
    flex: 1;
    height: 36px;
    line-height: normal;
    margin-right: 12px;
    border-radius: 4px;
    padding-left: 20px;
    border: 1px solid #e8e8ed;
    background-color: #fff;
    font-size: 14px;
}
.details-reply .reply-item .btn-comment{
    display: inline-block;
    user-select: none;
    width: 56px;
    height: 36px;
    border-radius: 4px;
    padding: 0;
    background: #ff6f06;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
}

.details-reply .reply-item .comment-form{
    width:calc(100% - 40px);
    align-items: center;
    display: none;
    padding: 8px 20px;
    border: 1px solid #e8e8ed;
    background: #f8f8f8;
}

.details-reply .reply-item .comment-form input{
    flex: 1;
    height: 36px;
    line-height: normal;
    margin-right: 12px;
    border-radius: 4px;
    padding-left: 20px;
    border: 1px solid #e8e8ed;
    background-color: #fff;
    font-size: 14px;
}

.ask-right .tags-cut{
    display: flex;
}
.ask-right .tags-cut .tit{
    flex: 1;
}
.ask-right .tags-cut ul{
    display: flex;
    margin-right: 10px;
}
.ask-right .tags-cut ul li a{
    padding: 0 10px;
    font-size: 14px;
}
.ask-right .tags-cut .Tag a{
    color:#ff6f06;
    font-size: 16px;
}
.details-reply .details-answer{
    padding: 20px;
    width: calc(100% - 40px);
}

.details-reply .details-answer .details-answer-tool .answer-btn{
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 36px;
    background: #ff6f06;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 36px;
    border-radius: 4px;
    cursor: pointer;
}
.details-reply .details-answer .details-answer-login{
    padding: 10px;
    border: 1px solid #eee;
}
.details-reply .details-answer .details-answer-login .info{
    color: #999;
    font-size: 14px;
}
.details-reply .details-answer .details-answer-login span{
    margin-right: 6px;
}
.details-reply .details-answer .details-answer-login a{
    color: #ff6f06;
    font-size: 14px;
}
.details-reply .details-answer .details-answer-login .line{
    font-size: 12px;
}
.details-reply .no-answer img{
    display: block;
    margin: 0 auto;
}
.details-reply .no-answer p{
    text-align: center;
    font-size: 12px;
    color: #999;
}

.ask-content .ask-from{
    position: relative;
    padding: 30px;
}
.ask-content .ask-from .site-nav{
    position:absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    color: #999;
}
.ask-content .ask-from .site-nav a:hover{
    color: #ff6f06;
}
.ask-content .ask-from .site-nav a{
    color: #999;
}
.ask-content .ask-from .ask-from-item{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.ask-content .ask-from .ask-from-item .title-info{
    font-size: 14px;
    color: #999;
}
.ask-content .ask-from .ask-from-item .input-inner{
   width: calc(100% - 32px);
    background-color: #fff;
    border: 1px solid #ccccd8;
    color: #555666;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}
.ask-content .ask-from .ask-from-item .select-inner{
    position: relative;
    border: 1px solid #ccccd8;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
     padding-left:15px;
     width:282px;
}
.ask-content .ask-from .ask-from-item .balance {
    font-size: 14px;
    color: #999;
}
.ask-content .ask-from .ask-from-item .balance em{
    color: red;
    font-size: 16px;
    font-weight: 700;
}
.ask-content .ask-from .ask-from-item .pay a{
    color: #ff6f06;
}

.ask-content .ask-from .ask-from-item .answer-btn{
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 36px;
    background: #ff6f06;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 36px;
    border-radius: 4px;
    cursor: pointer;
}
.ask-content .ask-about{
    padding: 15px 10px;
	font-size: 14px;
	color: #777;
	line-height: 28px;
}
.ask-content .ask-about li{
    font-size: 14px;
    line-height:1.5;
    margin-bottom: 15px;
    color:#555666;
}
.ask-content .ask-about li:last-child{
    margin-bottom: 0;
}

/*分页*/
.dataTables_paginate{
   padding: 20px 0;
   text-align: center;
   background-color: #fff;
   border-bottom: 1px solid #e9eff4;
   border-left: 1px solid #e9eff4;
   border-right: 1px solid #e9eff4;
}
.pagination {
	display:inline-block;
	padding-left:0;
	border-radius:4px
}
.pagination>li {
	display:inline
}
.pagination>li>a, .pagination>li>span {
    border-radius:unset;
	position:relative;
	float:left;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#999;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left:0;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color:#ff6f06;
	background-color:#eee;
	border-color:#ddd
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index:2;
	color:#fff;
	cursor:default;
	background-color:#ff6f06;
	border-color:#ff6f06
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	color:#777;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd
}