html {
	background:#f5f7f8; 
	-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
	
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;
    padding:0;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
     font:14px;
     color:#333;
     font-family: PingFang SC,Hiragino Sans GB,Arial,Microsoft YaHei,Verdana,Roboto,Noto,Helvetica Neue,sans-serif;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}
input,select,textarea {
    font-size:100%;
}
/* 去掉 table cell 的边距并让其边重合 */
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* ie bug：th 不继承 text-align */
th {
    text-align:inherit;
}
/* 去除默认边框 */
fieldset,img {
    border:none;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:none;
    font-variant:normal;
}
/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}
address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}
/* 去掉列表前的标识，li 会继承 */
ol,ul ,li{
    list-style:none;
}

/* 对齐是排版最重要的因素，别让什么都居中 */
caption,th {
    text-align:left;
}
/* 来自yahoo，让标题都自定义，适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}
/* 统一上标和下标 */
sub,sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline;
}
sup {
    top:-0.5em;
}
sub {
    bottom:-0.25em;
}
/* 让链接在 hover 状态下显示下划线 */
a:hover {
	color:#ff6f06;
    text-decoration:none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,a {
	color:#666;
    text-decoration:none;
}
/* 去除 ie6 & ie7 焦点点状线 */
a:focus,*:focus {
    outline:none;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
    overflow:hidden;
}
.clearfix {
    zoom:1; /* for ie6 & ie7 */
}
.clear {
    clear:both;
    display:block;
    font-size:0;
    height:0;
    line-height:0;
    overflow:hidden;
}
/* 设置显示和隐藏，通常用来与 js 配合 */
.hide {
    display:none;
}
.block {
    display:block;
}
/* 设置浮动，减少浮动带来的 bug */
.fl,.fr {
    display:inline;
}
.fl {
    float:left;
}
.fr {
    float:right;
}

.bg-f{
    background-color: #fff;
}
.bor{
   border: 1px solid #e8e8ed; 
}
.bor-tb{
   border-top: 1px solid #e8e8ed; 
   border-bottom: 1px solid #e8e8ed;
}
.red{color: red;}
.w60{width: 60px !important;}
.w100{width: 100px !important;}
.w250{width: 250px !important;}
.ml5{margin-left: 5px !important;}
.ml10{margin-left: 10px !important;}
.ml15{margin-left: 15px !important;}
.ml20{margin-left: 20px !important;}
.ml30{margin-left: 30px !important;}
.mr10{margin-right: 10px !important;}
.mr15{margin-right: 15px !important;}
.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt15{margin-top: 15px !important;}
.mt20{margin-top: 20px !important;}
.mb15{margin-bottom: 15px !important;}

body{
    padding-top: 62px;
}
.ask-header{
    position: fixed;
    top: 0;
    z-index:999;
    padding:15px 10px;
    width: calc(100% - 20px);
    background-color: #fff;
    border-bottom: 1px solid #e8e8ed;
}
.ask-header .ask-header-main{
    display: flex;
    align-items: center;
}
.ask-header .logo{
    flex: 1;
    margin-right: 4px;
}

.ask-header .logo img{
    height: 26px;
}
.ask-header .ask-header-main .ask-header-m{
    flex: 1;
}
.ask-header .ask-header-r{
    display: flex;
}
.ask-header .ask-header-r .user-img{
    width: 30px;
    height: 30px;
}
.ask-header .ask-header-r .user-img img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.ask-header .ask-header-r .home{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #f4f4f4;
    line-height: 30px;
    text-align: center;
} 
.ask-header .ask-header-m .search{
    display: flex;
    position: relative;
    border: 1px solid #e8eef6;
    border-radius: 50px;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 30px 0 10px;
}
.ask-header .ask-header-m .search .search-text{
   width: 100%;
   border: 0;
   background-color: #ffffff;
   color: #111E2C;
   height: 30px; 
}
.ask-header .ask-header-m .search .search-bt{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 4px;
    top: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
.select-main{
    padding:0 10px;
}
.select-main .select-main-t{
     display: flex;
}

.select-main .select-main-b{
    display:none;
    position: relative;
    border: 1px solid #dcdfe6;
    background-color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 30px 0 10px;
}
.select-main .select-main-b .search-text{
   width: 100%;
   border: 0;
   background-color: #ffffff;
   color: #111E2C;
   height: 36px; 
   font-size: 14px;
}
.select-main .select-main-b .search-button{
    position: absolute;
    width: 36px;
    height: 36px;
    right:0;
    top: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
.select-main .select-main-b .search-button i{
    font-size: 16px;
    color: #666;
}

.select-main .select-main-l{
    flex: 1;
}
.select-main .select-main-r .search-btn{
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
    background-color: #ffffff;
    border: 1px solid #dcdfe6;
    color: #666666;
    font-size: 14px;
}
.select-main .select-main-r .search-btn i{
    margin-left: 2px;
}
.cate-select{
    margin: 0 auto;
    height: 36px;
    line-height: 36px;
    display: block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    color: #555;
    border: 1px solid #DCDFE6;
    text-shadow: none;
    transition: box-shadow 0.25s ease;
    z-index: 2;
}
.cate-select select{
    cursor: pointer;
    font-size: 14px;
    padding: 0 10px;
    line-height: 36px;
    width: 100%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.cate-select:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-top-color: #DCDFE6;
    top: 14px;
    right: 10px;
    cursor: pointer;
    z-index: -2;
}

.nav-cate {
    margin: 0 auto;
    width: calc(100% - 20px);
    display: flex;
    border: 1px solid #e8e8ed;
    height: 40px;
    line-height: 40px;
}
.nav-cate .search-num{
    padding: 0 10px;
    font-size: 14px;
}
.nav-cate .search-num span {
    color: red;
    font-weight: 700;
}
.nav-cate .nav-cate-item {
    flex: 1;
    text-align: center;
    border-right: 1px solid #e8e8ed;
}
.nav-cate .nav-cate-item:last-child{
    border: none;
}
.nav-cate .nav-cate-item a {
    display: inline-block;
    width: 100%;
    font-size: 14px;
}
.nav-cate .fa {
    margin-right: 6px;
}
.nav-cate .nav-cate-item .cur {
    border-bottom: 2px solid #ff6f06;
    color: #ff6f06;
    height: 36px;
    line-height: 36px;
}
.nav-cate .icon-hongbao {
    color: #F44336;
    margin-right: 4px;
}

.ask-list .ask-item {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #e9eff4;
    position: relative;
    word-break: break-all;
}
.ask-list .ask-item .ask-item-l {
    display: flex;
    text-align: center;
    width: 40px;
    margin-right: 10px;
    flex-direction: column;
}
.ask-list .ask-item .ask-item-l .num {
    margin-top: 8px;
    font-size: 15px;
    line-height: 1;
    color: #555;
}
.ask-list .ask-item .ask-item-l .label {
    margin-top: 2px;
    color: #999;
    font-size: 14px;
}
.ask-list .ask-item .ask-item-r {
    flex: 1;
    width: calc(100% - 50px);
}
.ask-list .ask-item .question-title {
    position: relative;
    max-height: 50px;
    line-height: 1.4;
    display: inline;
    overflow: hidden;
}
.ask-list .ask-item .question-title .reward {
    display: inline-block;
    margin-right: 10px;
    color: #ff5b4d;
    font-size: 14px;
}
.ask-list .ask-item .question-title a {
    font-weight: 700;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
}
.ask-list .ask-item .question-foot {
    margin-top: 6px;
}
.ask-list .ask-item .question-foot .tags {
    flex: 1;
    display: flex;
}
.ask-list .ask-item .question-foot .tags span{
    font-size: 12px;
    margin-left: 6px;
    color: #999;
     line-height: 20px;
}

.ask-list .ask-item .question-foot .tags li{
    display: inline-block;
}
.ask-list .ask-item .question-foot .tags li a {
    margin-right: 4px;
    line-height: 20px;
    font-size: 12px;
    color: #666666;
    font-weight: 400;
}
.ask-list .ask-item .question-foot .tags li img {
    width: 20px;
    height: 20px;
    border-radius: 50px;
}
.ask-list .ask-item .question-foot .user-box {
    display: flex;
    font-size: 14px;
    color: #666666;
    line-height:1.5;
    margin-right: 16px;
    margin-left: 6px;
}
.ask-list .ask-item .question-foot .user-box .name {
    margin-right: 10px;
}
.ask-list .ask-item .question-foot .user-box .cate {
    margin-right: 10px;
    color: #333;
}
.ask-list .ask-item .question-foot .user-box .data{
    color: #999;
}

.ask-float-btn{
    position: fixed;
    display: block;
    z-index: 999;
    bottom: 120px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 46px;
    text-align: center;
    background-color: #ff6f06;
    color: #fff;
    font-size: 12px;
    line-height:14px;
    border-radius: 50px;
    cursor: pointer;
    box-shadow:0px 0px 0px 4px #fde4d2;
}
.ask-float-btn i{
    margin-top: 4px;
    font-size: 14px;
}
.ask-float-btn span{
    width: 100%;
    display: inline-block;
}

.ask-footer{
    position: relative;
    width: 100%;
    background-color: #e8eaea;
    padding: 20px 0;
    text-align: center;
    font-size: 12px;
    color: #999;
}

.details-main {
    padding: 15px;
}
.details-main .user-info {
    display: flex;
    align-items: center;
}

.details-main .user-info .user-box {
    display: flex;
    align-items: center;
}
.details-main .user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.details-main .user-info .name {
    font-size: 14px;
    margin-left: 8px;
}
.details-main .user-info .time {
    font-size: 14px;
    color: #999;
    margin-left: 10px;
}
.details-main .title .fa.fa-check-circle {
    color: #09b509;
}
.details-main .title .fa.fa-question-circle {
    color: #ff6f06;
}
.details-main .title .fa {
    font-size: 20px;
}
.details-main .title h2 {
    display: inline;
    font-size: 20px;
    font-weight: 700;
    color: #222226;
    line-height:30px;
}
.details-main .title .reward {
    display: inline-block;
    margin-left: 6px;
    color: #ff5b4d;
    font-size: 14px;
}
.details-main .txt-con {
    font-size: 14px;
    line-height: 24px;
}
.details-main .txt-con img {
    max-width: 100%;
}
.details-main .tool {
    display: flex;
    font-size: 14x;
}
.details-main .tool .tool-l {
    flex: 1;
    font-size: 0;
}
.details-main .tool .tool-l .btn {
    display: inline-block;
    padding: 4px 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 6px;
}
.details-main .tool .tool-l .btn.zan {
    background-color: #ffede7;
    color: #f77045;
    border: 1px solid #fba58a;
}
.details-main .tool .tool-l .answer {
    background-color: #edfded;
    color: #2fc12f;
    border: 1px solid #a1dca1;
}
.details-main .tool i {
    margin-right: 4px;
}
.details-main .tool .tool-l .read {
    color: #999;
    padding: 6px 0;
}
.details-main .tool .tool-r {
    font-size: 0;
    line-height: 30px;
}
.details-main .tool .tool-r a {
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}
.details-reply .reply-tit {
    width: calc(100% - 20px);
    display: flex;
    padding:10px;
    border-bottom: 1px solid #e9eff4;
    font-size: 16px;
}
.details-reply .reply-tit .best-col {
    color: #09b509;
}
.details-reply .reply-tit .reply-tit-l {
    flex: 1;
}
.details-reply .reply-tit .reply-tit-r {
    font-size: 14px;
}
.details-reply .reply-item:last-child {
    border: 0;
}
.details-reply .reply-item {
    display: inline-block;
    width: calc(100% - 30px);
    padding: 15px;
    border-bottom: 1px solid #e9eff4;
    position: relative;
    word-break: break-all;
}
.details-reply .reply-item .user-info {
    display: flex;
    width: 100%;
    align-items: center;
}
.details-reply .reply-item .user-info .user-box {
    display: flex;
    align-items: center;
}
.details-reply .reply-item .user-info .user-box img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
.details-reply .reply-item .user-info .user-box .name {
    margin-left: 6px;
    font-size: 14px;
}
.details-reply .reply-item .user-info .time {
    font-size: 13px;
    color: #999;
    margin-left: 10px;
}
.details-reply .reply-item .txt-con {
    font-size: 14px;
    line-height: 24px;
}
.txt-con img{
     width: 100%;
     height: auto;
}
.details-reply .reply-item .tool {
    display: flex;
    align-items: center;
}
.details-reply .reply-item .tool .tool-l {
    flex: 1;
}
.details-reply .reply-item .tool .tool-l .btn {
    font-size: 14px;
    margin-right: 10px;
    display: inline-block;
    color: #555;
    cursor: pointer;
}
.details-reply .reply-item .tool .tool-l .btn i {
    margin-right: 4px;
    color: #999;
}
.details-reply .reply-item .tool .tool-l .btn em {
    margin: 0 4px;
}
.details-reply .reply-item .tool .tool-r {
    font-size: 14px;
}
.details-reply .reply-item .tool .tool-r a {
    margin-left: 10px;
}
.details-reply .reply-item .ask-comment {
    line-height: 24px;
}
.details-reply .reply-item .ask-comment .ask-comment-item {
    padding: 10px ;
    background-color: #f5f6f7;
}
.details-reply .reply-item .reply-form {
    padding-top: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    display: none;
}
.details-reply .reply-item .reply-form input {
    flex: 1;
    height: 36px;
    line-height: normal;
    margin-right: 10px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #e8e8ed;
    background-color: #fff;
    font-size: 14px;
}
.details-reply .reply-item .btn-comment {
    display: inline-block;
    user-select: none;
    width: 56px;
    height: 36px;
    border-radius: 4px;
    padding: 0;
    background: #ff6f06;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
}
.details-reply .reply-item .comment-form {
    display: flex;
    width: calc(100% - 20px); 
    align-items: center;
    display: none;
    padding: 8px 10px;
    border: 1px solid #e8e8ed;
    background: #f8f8f8;
}
.details-reply .reply-item .comment-form input {
    flex: 1;
    height: 36px;
    line-height: normal;
    margin-right: 10px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #e8e8ed;
    background-color: #fff;
    font-size: 14px;
}

.details-reply .details-answer-login {
    width: 100%;
    padding: 8px;
    border-radius: 2px;
    background-color: #f4f4f4;
}
.details-reply .details-answer-login .info {
    color: #999;
    font-size: 14px;
}
.details-reply .details-answer-login span {
    margin-right: 6px;
}
.details-reply .details-answer-login a {
    color: #ff6f06;
    font-size: 14px;
}
.details-reply .details-answer-login .line {
    font-size: 12px;
}
.details-reply .reply-item .details-answer-rich{
    display: flex;
}
.details-reply .reply-item .details-answer-rich input {
    flex: 1;
    height: 36px;
    line-height: normal;
    margin-right: 10px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    font-size: 14px;
}
.details-reply .no-answer img{
    display: block;
    margin: 0 auto;
}
.details-reply .no-answer p{
    text-align: center;
    font-size: 12px;
    color: #999;
}
.ask-title {
    padding-left: 20px;
    height: 46px;
    background: #fbfbfc;
    border-bottom: 1px solid #e8e8ed;
    font-size: 16px;
    font-weight: 500;
    color: #222226;
    line-height: 46px;
}
.hot-list .item{
    padding: 15px;
    border-bottom: 1px dashed #e8e8ed;
}
.hot-list .item .title{
    line-height: 1.5;
}
.hot-list .item .title a{
    color: #333;
    font-size: 16px;
}
.hot-list .item:last-child{
    border: 0;
}
.hot-list .item .footer{
    font-size: 14px;
    color: #666;
}
.hot-list .item .footer a{
    display: inline-block;
    padding: 4px 6px;
    background-color: #eef0f3;
}

.ask-from{
    padding:20px 15px;
    position: relative;
}
.ask-from .ask-from-item {
    margin-bottom: 15px;
}
.ask-from .ask-from-item:last-child{
    margin-bottom: 0;
}
.ask-from .ask-from-item .input-inner {
    width: calc(100% - 32px);
    background-color: #fff;
    border: 1px solid #dcdfe6;
    color: #555666;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
}
.ask-from .ask-from-item .select-inner {
    position: relative;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 15px;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.ask-from .ask-from-item.cate-select{
    border: 1px solid #dcdfe6;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.ask-from .ask-from-item.cate-select:before{
    top: 16px;
}
.ask-from .ask-from-item .textarea-inner{
    width:calc(100% - 30px);
    display: block;
    padding: 5px 15px;
    line-height: 1.5;
    font-size: 14px;
     border: 1px solid #dcdfe6;
}
.ask-from .ask-from-item span{
    font-size: 14px;
}
.ask-from .ask-from-item .balance{
    color: #999;
}
.ask-from .ask-from-item .balance em{
    color:red;
    font-weight: 700;
    margin: 0 4px;
}
.ask-from .ask-from-item .pay a{
    font-size: 15px;
    color: #ff6f06;
    font-weight: 700;
}
.ask-from .ask-from-item .answer-btn {
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 36px;
    background: #ff6f06;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 36px;
    border-radius: 4px;
    cursor: pointer;
}
/*分页*/
.dataTables_paginate{
   padding: 20px 0;
   text-align: center;
   background-color: #fff;
   border-bottom: 1px solid #e9eff4;
}
.pagination {
	display:inline-block;
	padding-left:0;
	border-radius:4px
}
.pagination>li {
	display:inline
}
.pagination>li>a, .pagination>li>span {
    border-radius:unset;
	position:relative;
	float:left;
	padding:6px 12px;
	margin-left:-1px;
	line-height:1.42857143;
	color:#999;
	text-decoration:none;
	background-color:#fff;
	border:1px solid #ddd
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
	margin-left:0;
	border-top-left-radius:4px;
	border-bottom-left-radius:4px
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius:4px;
	border-bottom-right-radius:4px
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
	color:#ff6f06;
	background-color:#eee;
	border-color:#ddd
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	z-index:2;
	color:#fff;
	cursor:default;
	background-color:#ff6f06;
	border-color:#ff6f06
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
	color:#777;
	cursor:not-allowed;
	background-color:#fff;
	border-color:#ddd
}
    