<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{$MenuTitle}-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/basic.css"/}
        {eyou:static file="users/skin/css/eyoucms.css"/}
        <!-- 新样式 2020-11-25 -->
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/mobile_global.js"/}
    </head>

    <body>
        <div class="ey-header-status">
            <div class="header-status-l"><a href="javascript:history.go(-1);"><i class="el-icon-arrow-left"></i></a></div>
            <div class="header-status-m">{$MenuTitle}</div>
            <div class="header-status-r">{eyou:notempty name="$eyou.field.data"}<span id="management-button">管理</span>{/eyou:notempty}</div>
        </div>

        <div class="h50"></div>
        <div class="ey-container">
            <div class="ey-con">
                {eyou:empty name="$eyou.field.data"}
                <div class="ey-row min-hg-c-100 flex flex-center">
                    <div class="tc mt-100">
                        <p class=""><img id='litpic_img' src="{eyou:static file='users/skin/images/null-data.png' /}"/></p>
                        <p class="fc9">当前暂无投稿哦~</p>
                    </div>
                </div>
                {eyou:else/}
                <div class="ey-row min-hg-c-162 bgfff ptb0">
                    {eyou:volist name="$eyou.field.data" id="vo"}
                    <div class="balances" id="release_{$vo.aid}">
                        <div class="related-content mr5">
                            <div>
                                <label class="checkbox-label release-checkbox checkbox_z">
                                    <span> &nbsp; </span>
                                    <input class="checkbox" type="checkbox" name="ids[]" value="{$vo.aid}" >
                                    <span class="check-mark"></span>
                                </label>
                            </div>
                        </div>
                        <a class="balances-pic" href="{$vo.arcurl}">
                            <img class="pic" src="{$vo.litpic|default='__PUBLIC__/static/common/images/not_adv.jpg'}">
                        </a>
                        <a class="balances-info" href="{$vo.arcurl}">
                            <div class="title fs15"><span>{$vo.title}</span></div>
                            <div><span class="mr10">{$vo.typename}</span><span>{$vo.update_time|date='Y-m-d H:i:s',###}</span></div>
                            <div>
                                {eyou:if condition="($vo['arcrank'] >= 0)"}
                                <span class="color-green-text">已审核</span>
                                {eyou:else /}
                                <span class="color-base-text">未审核</span>
                                {/eyou:if}
                            </div>
                        </a>
                        <div class="balances-num">
                            <div class="">
                                <a href="javascript:void(0);" data-editurl="{$vo.editurl}" onclick="editArchives(this);"><i class="el-icon-edit-outline"></i></a>
                            </div>
                        </div>
                    </div>
                    {/eyou:volist}
                </div>
                {$page}
                <div class="foot-batch related-content">
                    <div class="mr5">
                        <label class="checkbox-label checkbox_z">
                            <input class="checkbox" type="checkbox" id="checkboxAll">
                            <span class="check-mark"></span>
                            <span class="ml5">全选</span>
                        </label>
                    </div>
                    <div class="fr">
                        <a class="addr_y" href="javascript:void(0);" onclick="batchDelArchives(this);" data-url="{$eyou.field.delurl}">批量删除</a>
                    </div>
                </div>
                {/eyou:empty}
                <div class="h50"></div>
                <div class="public-btn"><a href="{eyou:url link='user/UsersRelease/article_add'/}">添加投稿</a></div>
            </div>
        </div>
        {eyou:static file="users/skin/js/release_centre.js"/}
    </body>
</html>