<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>选择商品结算</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}

        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
        {eyou:static file="/public/static/common/js/mobile_global.js"/}
    </head>

    <body class="centre">
        <div class="ey-container">
            <div class="el-row">
                <div class="goods-con">
                    {eyou:volist name="$result" id="field"}
                    <div class="column-title{eyou:neq name='$i' value='1'} mt20{/eyou:neq}"> <div class="column-name">{$field.name}</div> </div>
                    {eyou:volist name="$field.list" id="vo"}
                    <div class="goods-item border-b-1-e">
                        <div class="item-main">
                            <div class="item-con">
                                <div class="item-con-l">
                                    <span class="pro-pic"><img src="{$vo.litpic}" alt="{$vo.title}"></span>
                                </div>
                                <div class="item-con-m">
                                    {$vo.title} <span style="color: red;"></span>
                                </div>
                                <div class="item-con-r">
                                    <span class="price_flag">￥</span><span>{$vo.users_price}</span> x <span>{$vo.product_num}</span>
                                </div>
                            </div>
                        </div>
                        <div class="item-bottom">
                            <div class="item-bottom-l"></div>
                            <div class="item-bottom-r">
                                小计：<span class="price_flag">￥</span><span class="red">{$vo.subtotal}</span>
                            </div>
                        </div>
                    </div>
                    {/eyou:volist}
                    <div class="goods-item">
                        <div class="item-bottom">
                            <div class="item-bottom-l"></div>
                            <div class="item-bottom-r">
                                <span style="color: #999; font-size: 12px;">不含运费</span>
                                <span class="price">合计:<span>￥</span><em>{$field.amount}</em></span>
                                <a class="el-button el-button--primary el-button--medium" href="JavaScript:void(0);" {$field.submitBuyGoods}>结算( <span>{$field.number}</span> )</a>
                            </div>
                        </div>
                    </div>
                    {/eyou:volist}
                </div>
            </div>
        </div>
    </body>
    {eyou:static file="users/skin/js/shop_to_split_goods.js"/}
</html>