<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>售后服务详情-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/bootstrap.min.css" /}
        {eyou:static file="users/skin/css/basic.css" /}
        {eyou:static file="users/skin/css/eyoucms.css" /}
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
        {eyou:static file="/public/plugins/laydate/laydate.js"/}
        {eyou:static file="/public/static/common/js/mobile_global.js"/}
    </head>

    <body>
        <div class="ey-header-status">
            <div class="header-status-l"> <a href="javascript:history.go(-1);"><i class="el-icon-arrow-left"></i></a> </div>
            <div class="header-status-m">售后服务详情</div> 
            <div class="header-status-r"> <a href="{eyou:url link='user/Users/index' /}"><i class="el-icon-user"></i></a> </div>
        </div>

        <div class="h50"></div>
        <div class="ey-container">
            <div class="ey-row pt0">
                <div class="ey-row p10 pt0 bgfff mt10 bor-5">
                    <div class="column-title"> <div class="column-title-l">商品信息</div> <div class="column-title-r"></div> </div>
                    <div class="order-goods goods-con">
                        <div class="goods-item">
                            <div class="item-main">
                                <div class="item-con">
                                    <div class="item-con-l"> <a href="{$eyou.field.arcurl}" class="pro-pic"><img src="{$eyou.field.product_img}"></a> </div>
                                    <div class="item-con-m">
                                        <a href="{$eyou.field.arcurl}"> {$eyou.field.product_name} </a>
                                        <div class="f12 fc9">{eyou:volist name='$eyou.field.product_spec_list' id='spec'}{$spec.value}&nbsp;{/eyou:volist}</div>
                                        <div class="price-info mt5">
                                            <span class="users_price"><i class="f12">￥</i>{$eyou.field.refund_price}</span>
                                            <span class="product_num"><i class="f12">x</i>{$eyou.field.product_num}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-con">
                                    {eq name="$eyou.field.service_type_old" value="2"}
                                    <span class="price_flag f14">退还余额：￥{$eyou.field.refund_total_price}(减<span style="color: red;">{$eyou.field.ShippingFee}</span>运费)</span>
                                    {/eq}
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>

                {eyou:eq name="$eyou.field.status" value="6"}
                <div class="ey-row p10 pt0 bgfff mt10 bor-5">
                    <div class="column-title"> <div class="column-title-l">商家发货物流</div> <div class="column-title-r"></div> </div>
                    <div class="order-progress-con">
                        <div class="span-row"> <div class="span-row-l">温馨提示： </div> <div class="span-row-r" style="color: red;">卖家已为你重新发货，详情如下</div> </div>
                        <div class="span-row"> <div class="span-row-l">快递公司： </div> <div class="span-row-r"> {$eyou.field.admin_delivery.name} </div> </div>
                        <div class="span-row"> <div class="span-row-l">快递单号： </div> <div class="span-row-r"> {$eyou.field.admin_delivery.code} </div> </div>
                    </div>
                </div>
                {/eyou:eq}

                {eyou:eq name="$eyou.field.status" value="2"}
                <div class="ey-row p10 pt0 bgfff mt10 bor-5">
                    <div class="column-title"> <div class="column-title-l">商家收货信息</div> <div class="column-title-r"></div> </div>
                    <div class="order-progress-con">
                        <div class="span-row">
                            <div class="span-row-l"> 商家提示：</div>
                            <div class="span-row-r"> <span style="color: red;">{$eyou.field.service_type}申请已审核通过，请尽快将货物寄回给卖家</span> </div>
                        </div>
                        <div class="span-row"> <div class="span-row-l">联系人：</div> <div class="span-row-r"> {$eyou.maddr.addr_contact_person} </div> </div>
                        <div class="span-row"> <div class="span-row-l">联系号码：</div> <div class="span-row-r"> {$eyou.maddr.addr_contact_phone} </div> </div>
                        <div class="span-row"> <div class="span-row-l">商家地址：</div> <div class="span-row-r"> {$eyou.maddr.addr_shipping_addr} </div> </div>
                    </div>
                </div>
                <div class="ey-row p10 pt0 bgfff mt10 bor-5">
                    <div class="column-title"> <div class="column-title-l">会员退货信息</div> <div class="column-title-r"></div> </div>
                    <form id="postForm">
                        <input type="hidden" name="service_id" value="{$eyou.field.service_id}">
                        <input type="hidden" name="order_id" value="{$eyou.field.order_id}">
                        <input type="hidden" name="status" value="4">
                        <div class="order-progress-con">
                            <div class="span-row">
                                <div class="span-row-l" style="line-height: 40px; height: 40px;"> 快递公司：</div>
                                <div class="span-row-r">
                                    <input type="text" name="delivery[name]" class="el-input__inner" autocomplete="off" placeholder="请输入快递公司">
                                </div>
                            </div>
                            <div class="span-row">
                                <div class="span-row-l" style="line-height: 40px; height: 40px;"> 快递费用：</div>
                                <div class="span-row-r">
                                    <input type="text" name="delivery[cost]" class="el-input__inner" autocomplete="off" placeholder="请输入快递费用">
                                </div>
                            </div>
                            <div class="span-row">
                                <div class="span-row-l" style="line-height: 40px; height: 40px;"> 快递单号：</div>
                                <div class="span-row-r">
                                    <input type="text" name="delivery[code]" class="el-input__inner" autocomplete="off" placeholder="请输入快递单号">
                                </div>
                            </div>
                            <div class="span-row">
                                <div class="span-row-l" style="line-height: 40px; height: 40px;"> 发货时间：</div>
                                <div class="span-row-r">
                                    <input type="text" name="delivery[time]" id="add_time" class="el-input__inner" autocomplete="off" placeholder="请输入选择发货时间">
                                </div>
                            </div>
                            <div class="span-row">
                                <div class="span-row-l"></div>
                                <div class="span-row-r"> <a href="JavaScript:void(0);" class="el-button el-button--primary el-button--medium" data-url="{$eyou.ServiceUrl}" onclick="submitReturnGoods(this);" style="color: #fff;">确认提交</a> </div>
                            </div>
                        </div>
                    </form>
                </div>
                {/eyou:eq}

                <div class="ey-row p10 pt0 bgfff mt10 bor-5">
                    <div class="column-title"> <div class="column-title-l">服务信息</div> <div class="column-title-r"></div> </div>
                    <div class="order-progress-con">
                        <div class="span-row"> <div class="span-row-l">申请单号：</div> <div class="span-row-r">{$eyou.field.refund_code}</div> </div>
                        <div class="span-row"> <div class="span-row-l">申请类型：</div> <div class="span-row-r">{$eyou.field.service_type}</div> </div>
                        <div class="span-row"> <div class="span-row-l">申请时间：</div> <div class="span-row-r">{$eyou.field.add_time|date='Y-m-d H:i:s',###}</div> </div>
                        <div class="span-row"> <div class="span-row-l">当前状态：</div> <div class="span-row-r">{$eyou.field.StatusName}</div> </div>
                        <div class="span-row"> <div class="span-row-l">您的姓名：</div> <div class="span-row-r">{$eyou.field.consignee}</div> </div>
                        <div class="span-row"> <div class="span-row-l">您的手机：</div> <div class="span-row-r">{$eyou.field.mobile}</div> </div>
                        <div class="span-row"> <div class="span-row-l">收货地址：</div> <div class="span-row-r">{$eyou.field.address}</div> </div>
                        <div class="span-row"> <div class="span-row-l">问题描述：</div> <div class="span-row-r">{$eyou.field.content}</div> </div>
                        <div class="span-row">
                            <div class="span-row-l"></div>
                            <div class="span-row-r">
                                {eyou:volist name='$eyou.field.upload_img' id='vo'}
                                    {eyou:notempty name="$vo"}
                                    <a href="{$vo}" target="_blank"><img src="{$vo}" width="80" height="80" style="margin-top: 5px;"/></a>
                                    {/eyou:notempty}
                                {/eyou:volist}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="ey-row p10 pt0 bgfff mt10 mb10 bor-5">
                    <div class="column-title"> <div class="column-title-l">服务进程</div>  <div class="column-title-r"></div> </div>
                    {eyou:volist name="$eyou.StatusLog" id="vo"}
                    <div class="order-progress-con">
                        <div class="span-row"> <div class="span-row-l">操作者：</div> <div class="span-row-r">{$vo.name}</div> </div>
                        <div class="span-row"> <div class="span-row-l">操作时间：</div> <div class="span-row-r">{$vo.add_time|date='Y-m-d H:i:s',###}</div> </div>
                        <div class="span-row"> <div class="span-row-l">操作备注：</div> <div class="span-row-r">{$vo.log_note}</div> </div>
                    </div>
                    {/eyou:volist}
                </div>

                {eyou:if condition="!in_array($eyou.field.status, $eyou.StatusArr)"}
                <div class="el-row tr mt10 mb20 p10 bor-5">
                    <a href="JavaScript:void(0);" data-url="{$eyou.field.CancelUrl}" data-id="{$eyou.field.service_id}" onclick="cancelService(this);" class="el-button el-button--primary is-round el-button--small">取消服务</a>
                </div>
                {/eyou:if}
            </div>
        </div>
        {eyou:static file="users/skin/js/shop_after_service_details.js"/}
    </body>
</html>
