<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <title>订单详情-{eyou:global name='web_name' /}</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
        <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="users/skin/css/bootstrap.min.css" /}
        {eyou:static file="users/skin/css/basic.css" /}
        {eyou:static file="users/skin/css/eyoucms.css" /}
        <!-- 新样式 2020-12-8 -->
        {eyou:static file="users/skin/css/element/index.css" /}
        {eyou:static file="users/skin/css/e-user.css" /}
        {eyou:include file="users/skin/css/diy_css.htm"/}
        {eyou:static file="/public/static/common/js/jquery.min.js"/}
        {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
        {eyou:static file="/public/static/common/js/tag_global.js"/}
        {eyou:static file="/public/static/admin/js/clipboard.min.js"/}
        {eyou:static file="/public/static/common/js/mobile_global.js"/}
    </head>

    <body>
        {eyou:include file="users/users_header.htm" /}
        <div class="ey-header-status">
            <div class="header-status-l"><a href="javascript:history.go(-1)"><i class="el-icon-arrow-left"></i></a></div>
            <div class="header-status-m">订单详情</div> 
            <div class="header-status-r"></div> 
        </div>

        <div class="h50"></div>
        <div class="ey-container">
            <div class="ey-row pt0">
            {eyou:sporder id="field"}
                {eyou:if condition="!empty($field.eyCountdownTimes) && !empty($field.paymentExpire)"}
                <div class="p10 mt10 bgfff bor-5">
                    <i class="el-icon-time" aria-hidden="true"></i> 支付剩余时间：<span class="red" id="{$field.eyCountdownTimes}"></span>
                </div>
                {/eyou:if}

                <div class="p10 mt10 bgfff bor-5">
                    <div class="column-title">
                        <div class="column-title-l">订单号 ：{$field.order_code}<a class="order_code" onclick="orderCopy();" data-clipboard-text="{$field.order_code}">复制</a></div> 
                        <div class="column-title-r"><span class="" style="font-size: 16px;font-weight: 700;">{$field.order_status_name}</span> </div> 
                    </div>
                </div>

                {eyou:if condition="2 == $field.logistics_type"}
                <div class="p10 bgfff mt10 bor-5">
                    <div class="column-title"><div class="column-title-l" style="font-weight: 700;">核销信息</div><div class="column-title-r"></div></div>
                    <div class="order-progress-con">
                        <span class="span-row">自提点：<span style="font-weight: 700;">{$field.verifyData.store_name}</span></span>
                        <span class="span-row">核销码：{$field.verifyData.verify_code}</span>
                        <span class="span-row qrcode" id="qrcode"></span>
                        <span class="span-row">营业时间：{$field.verifyData.store_business}</span>
                        <span class="span-row">详细地址：{$field.verifyData.store_address}</span>
                    </div>
                </div>
                {/eyou:if}

                <div class="p10 bgfff mt10 bor-5">
                    <div class="mb10 order-goods goods-con">
                        <div class="goods-item">
                            <div class="item-main">
                                <!-- 获取订单商品 -->
                                {eyou:spordergoods id="field2"}
                                <div class="item-con">
                                    <div class="item-con-l"><a href="{$field2.arcurl}" class="pro-pic"><img src="{$field2.litpic}"></a></div>
                                    <div class="item-con-m">
                                        <a href="{$field2.arcurl}">
                                            {$field2.product_name}
                                            {eyou:eq name="$field2.has_deleted" value="1"}<span style="color: red;">{$field2.msg_deleted}</span>{/eyou:eq}
                                        </a>
                                        <div class="info mt5">
                                            {eyou:volist name='$field2.product_spec_list' id='spec'}{$spec.value}&nbsp;{/eyou:volist}
                                        </div>
                                        <div class="price-info mt5">
                                            <span class="users_price"><i class="f12">{empty name="$field.points_shop_order"}￥{/empty}</i>{$field2.product_price}</span>
                                            <span class="product_num"><i class="f12">x</i>{$field2.num}</span>
                                        </div>
                                    </div>
                                </div>
                                {/eyou:spordergoods}
                            </div>
                        </div>
                    </div>      
                </div>  
                
                <div class="p10 bgfff mt10 bor-5">
                    <div class="order-progress-con">
                    {eyou:if condition="1 == $field.prom_type"}
                        <span class="span-row">
                            <div class="span-row-l">配送方式：</div>
                            <div class="span-row-r">无需物流</div>
                        </span>
                        <span class="span-row">
                            <div class="span-row-l">买家留言：</div>
                            <div class="span-row-r">{$field.user_note}</div>
                        </span>
                    {eyou:else/}
                        {eyou:if condition="1 == $field.logistics_type"}
                        <span class="span-row">
                            <div class="span-row-l">配送方式：</div>
                            <div class="span-row-r">快递配送</div>
                        </span>
                        <span class="span-row">
                            <div class="span-row-l">收货信息：</div>
                            <div class="span-row-r">{$field.ConsigneeInfo}</div>
                        </span>
                        {/eyou:if}
                        {eyou:if condition="1 == $field.logistics_type"}
                            {eyou:notempty name='$field.express_name' /}
                            <span class="span-row">
                                <div class="span-row-l">快递公司：</div>
                                <div class="span-row-r">{$field.express_name}</div>
                            </span>
                            {/eyou:notempty}
                            {eyou:notempty name='$field.express_order' /}
                            <span class="span-row">
                                <div class="span-row-l">物流单号：</div>
                                <div class="span-row-r">{$field.express_order}
                                {eyou:if condition="'2' == $field.order_status or '3' == $field.order_status"}
                                <a href="JavaScript:void(0);" {$field.LogisticsInquiry}></a>
                                {/eyou:if}</div>
                            </span>
                            {/eyou:notempty}
                        {eyou:elseif condition="$field.logistics_type == 2"}
                        <span class="span-row">
                            <div class="span-row-l">配送方式：</div>
                            <div class="span-row-r">到店自提</div>
                        </span>
                        <span class="span-row">
                            <div class="span-row-l">姓名：</div>
                            <div class="span-row-r">{$field.verifyData.buyer}</div>
                        </span>
                        <span class="span-row">
                            <div class="span-row-l">手机号：</div>
                            <div class="span-row-r">{$field.verifyData.phone}</div>
                        </span>
                        {eyou:else/}
                        {/eyou:if}
                        {eyou:notempty name='$field.user_note' /}
                        <span class="span-row">
                            <div class="span-row-l">买家留言：</div>
                            <div class="span-row-r">{$field.user_note}</div>
                        </span>
                        {/eyou:notempty}
                    {/eyou:if}
                    {eyou:notempty name='$field.virtual_delivery' /}
                        <span class="span-row">
                            <div class="span-row-l">商家回复：</div>
                            <div class="span-row-r">{$field.virtual_delivery}</div>
                        </span>
                    {/eyou:notempty}
                    </div>  
                </div>
                <div class="p10 bgfff mt10 bor-5">
                    <div class="order-progress-con">
                        <div class="span-row">
                            <div class="span-row-l">创建时间：</div>
                            <div class="span-row-r">{$field.add_time|date='Y-m-d H:i:s',###}</div>
                        </div>
                        <div class="span-row">
                            <div class="span-row-l">支付方式：</div>
                            <div class="span-row-r">{$field.pay_name}</div>
                        </div>
                        {eyou:notempty name="$field.pay_time"}
                        <div class="span-row">
                            <div class="span-row-l">支付时间：</div>
                            <div class="span-row-r">{$field.pay_time|date='Y-m-d H:i:s',###}</div>
                        </div>
                        {/eyou:notempty}
                    </div>  
                </div>
                <div class="p10 bgfff mt10 bor-5">
                    <div class="order-goods goods-con">
                        <div class="goods-item">
                            <div class="item-info p10">
                                <span>运费<span class="fr">￥{$field.shipping_fee}</span></span>
                                {empty name="$field.points_shop_order"}
                                <span>订单金额<span class="fr">￥{$field.TotalAmount}</span></span>
                                {else/}
                                <span>订单金额<span class="fr">{$field.order_total_amount}</span></span>
                                {/empty}
                                <span>实付金额<span class="fr" style="font-weight: 600;"><i class="ml5 red">{empty name="$field.points_shop_order"}￥{/empty}{$field.order_amount}</i></span></span>
                            </div>
                        </div>
                    </div>      
                </div>
               
                <div class="tr mt10 p10 bor-5">
                {eyou:eq name='$field.order_status' value='0'}
                <a href="JavaScript:void(0);" title="取消订单" class="el-button is-round el-button--default el-button--medium el-button--small"  {$field.CancelOrder}>取消订单</a>
                    {eyou:eq name="is_wechat" value='2'}
                    <a href="{$field.PaymentUrl}" target="_blank" class="el-button el-button--primary is-round el-button--small">立即付款</a>
                    {eyou:else/}
                    <a href="JavaScript:void(0);" onclick="UpdatePayMethod('{$field.order_id}','{$field.order_code}');" class="el-button el-button--primary is-round el-button--small">立即付款</a>
                    {/eyou:eq}
                {/eyou:eq}

                {eyou:eq name="$field.order_status" value="1"}
                    {eyou:eq name="$field.logistics_type" value='1'}
                    <a href="javascript:void(0);" class="el-button is-round el-button--primary el-button--small" {$field.OrderRemind}>提醒发货</a>
                    {eyou:else/}
                    <a href="{$field.OrderDetailsUrl}" class="el-button is-round el-button--primary el-button--small">待核销</a>
                    {/eyou:eq}
                {/eyou:eq}

                {eyou:eq name="$field.order_status" value="2"}
                    {eyou:eq name="$field.prom_type" value="0"}
                        {eyou:eq name="$is_wechat" value="1"}
                            <a href="{$field.MobileExpressUrl}" class="el-button el-button--primary is-round el-button--small">物流查询</a>
                        {eyou:else/}
                            <a href="JavaScript:void(0);" class="el-button el-button--primary is-round el-button--small" {$field.LogisticsInquiry} mg05>物流查询</a>
                        {/eyou:eq}
                    {/eyou:eq}
                    <a href="javascript:void(0)" class="el-button el-button--primary is-round el-button--small" {$field.Confirm}>确认收货</a>
                {/eyou:eq}

                {eyou:eq name="$field.order_status" value="3"}
                    {eyou:if condition="isset($field.allow_service) && 0 == $field.allow_service"}
                    <a href="{$field.ServiceList}" title="申请售后" class="el-button el-button--primary is-round el-button--small">申请售后</a>
                    {/eyou:if}
                    {eyou:if condition="0 == $field.is_comment && !empty($usersConfig.shop_open_comment)"}
                    <a href="{$field.AddProduct}" title="评价商品" class="el-button el-button--primary is-round el-button--small">评价商品</a>
                    {/eyou:if}
                {/eyou:eq}
                </div>
                {$field.hidden}
            {/eyou:sporder}
            </div>
            <input type="hidden" id="unified_id">
            <input type="hidden" id="unified_number">
            <input type="hidden" id="transaction_type">
        </div>
        <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
        {eyou:static file="users/skin/js/shop_centre.js"/}
    </body>
</html>