<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>播放记录-{eyou:global name='web_name' /}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link href="{eyou:global name='web_cmspath'/}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    {eyou:static file="users/skin/css/eyoucms.css"/}
    <!-- 新样式 2020-11-25 -->
    {eyou:static file="users/skin/css/element/index.css" /}
    {eyou:static file="users/skin/css/e-user.css" /}
    {eyou:include file="users/skin/css/diy_css.htm"/}

    {eyou:static file="/public/static/common/js/jquery.min.js"/}
    {eyou:static file="/public/plugins/layer-v3.1.0/layer.js"/}
    {eyou:static file="/public/static/common/js/tag_global.js"/}
    {eyou:static file="/public/static/common/js/mobile_global.js"/}
    
</head>

<body class="centre">
<!-- 头部信息 -->
<div class="ey-header-status">
	<div class="header-status-l">
		<a href="{eyou:url link='user/Users/index'/}"><i class="el-icon-arrow-left"></i></a>
	</div>
	<div class="header-status-m">我的足迹</div>
	<div class="header-status-r">
        {eyou:notempty name="$eyou.field.list"}
		<span id="management-button">管理</span>
        {/eyou:notempty}
	</div>
</div>
<!-- 头部信息结束 -->
<div class="h50"></div>
{eyou:include file="users/users_footprint_header.htm" /}

<div class="ey-container">
    {eyou:empty name="$eyou.field.list"}
    <div class="ey-con">
        <div class="ey-row min-hg-c-92 flex flex-center">
            <div class="tc mt-92">
                <p class=""><img id='litpic_img' src="{eyou:static file='users/skin/images/null-data.png' /}"/></p>
                <p class="fc9">当前暂无播放记录哦~</p>
            </div>
        </div>
    </div>
    {eyou:else/}
    <div class="ey-con min-hg-c-92 bgfff">
        <div class="ey-row ptb0">
        {eyou:volist name="$eyou.field.list" id="vo"}
            <div class="balances">
                <div class="related-content mr5">
                    <div>
                        <label class="checkbox-label checkbox_z">
                            <span> &nbsp; </span>
                            <input class="checkbox" type="checkbox" name="ids[]" value="{$vo.play_id}">
                            <span class="check-mark"></span>
                        </label>
                    </div>
                </div>
                <a class="balances-pic" href="{$vo.arcurl}">
                    {eyou:empty name='$vo.litpic' /}
                    <img class="pic" src="__PUBLIC__/static/common/images/not_adv.jpg"> 
                    {eyou:else /}
                    <img class="pic" src="{$vo.litpic}">
                    {/eyou:empty}
                </a>
                <a class="balances-info" href="{$vo.arcurl}">
                    <div class="title-1 fs15">
                        <span>{$vo.title}</span>
                    </div>
                    <div>
                        <span class="mr5">总时长:{$vo.sum_file_time}</span>
                        <span>已观看:{$vo.sum_play_time}</span>
                    </div>
                    <div>
                        <span class="mr5">上次观看:{$vo.last_update_time}</span>
                    </div>
                    
                </a>
                <div class="balances-num">
                    <a class="addr_q" href="{$vo.arcurl}">
                        {eq name='$vo.process' value='100%'}重新学习{else /}继续学习{/eq}
                    </a>
                </div>
            </div>
        {/eyou:volist}
        </div>
        {$page}
        <div class="foot-batch related-content">
            <div class="mr5">
                <label class="checkbox-label checkbox_z">
                    <input class="checkbox" type="checkbox" onclick="javascript:$('input[name*=ids]').prop('checked',this.checked);">
                    <span class="check-mark"></span>
                    <span class="ml5">全选</span>
                </label>
            </div>
            <div class="fr">
                <a class="addr_y" href="javascript:void(0);" onclick="BatchDelData(this, 'ids');" data-url="{$delurl}">批量删除</a>
            </div>
        </div>
    </div>
    {/eyou:empty}
</div>
<script>
        // 管理相关
        const managementButton = $('#management-button');
        const relatedContent = $('.related-content');
        function handleClick() {
          if (relatedContent.is(':hidden')) {
            relatedContent.show();
            managementButton.text('完成');
          } else {
            relatedContent.hide();
            managementButton.text('管理');
          }
        }
        managementButton.on('click', handleClick);
    
    //注意进度条依赖 element 模块，否则无法进行正常渲染和功能性操作
    layui.use('element', function(){
        var element = layui.element;
    });

    // 内容查看
    function ArcUrl(obj) {
        window.open($(obj).attr('data-arurl'));
    }

    // 批量删除足迹
    function BatchDelData(obj, name) {
        var a = [];
        $('input[name^='+name+']').each(function(i,o){
            if($(o).is(':checked')){
                a.push($(o).val());
            }
        })
        if(a.length == 0){
            showErrorAlert('请至少选择一项！');
            return false;
        }
        // 删除按钮
        layer.confirm('确认批量删除播放记录？', {
            title: false,
            skin: 'xin-demo-btn',
            btn: ['确定', '取消'], //按钮
            closeBtn: 0,
            shadeClose: true
        }, function () {
            layer_loading('正在处理');
            $.ajax({
                type: "POST",
                url: $(obj).attr('data-url'),
                data: {del_id:a},
                dataType: 'json',
                success: function (res) {
                    layer.closeAll();
                    if(res.code == 1){
                        layer.msg(res.msg, {icon: 1});
                        window.location.reload();
                    }else{
                        showErrorAlert(res.msg);
                    }
                },
                error:function(e){
                    layer.closeAll();
                    showErrorAlert(e.responseText);
                }
            });
        }, function (index) {
            layer.closeAll(index);
        });
    }
    
</script>
<!-- END -->