{include file="public/layout" /}
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit; min-width:400px;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page" style="min-width: 400px;">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>邮件模板</h3>
                <h5></h5>
            </div>
            <ul class="tab-base nc-row">
                <li><a href="{:url("System/smtp_tpl")}" class="tab {eq name="$Request.action" value="smtp_tpl"}current{/eq}"><span>模板列表</span></a></li>
            </ul>
        </div>
    </div>
    <div class="flexigrid">
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0" style="width: 100%">
                    <thead>
                    <tr>
                        <th class="sign w10" axis="col0">
                            <div class="tc">&nbsp;</div>
                        </th>
                        <th abbr="article_title" axis="col3" class="w150">
                            <div class="">模板名称</div>
                        </th>
                        <th abbr="article_title" axis="col3" class="">
                            <div class="">邮件标题</div>
                        </th>
                        <!-- <th abbr="ac_id" axis="col4">
                            <div class="">发送邮件内容格式</div>
                        </th> -->
                        <th abbr="article_time" axis="col6" class="w50">
                            <div class="tc">启用</div>
                        </th>
                        <th abbr="article_time" axis="col6" class="w100">
                            <div class="tc">更新时间</div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody>
                    {empty name="list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <i class="fa fa-exclamation-circle"></i>没有符合条件的记录
                            </td>
                        </tr>
                    {else/}
                        {foreach name="list" item="vo" key="k" }
                        <tr>
                            <td class="sign">
                                <div class="w10 tc">&nbsp;</div>
                            </td>
                            <td class="">
                                <div class="w150">
                                    {$vo.tpl_name}
                                </div>
                            </td>
                            <td style="width: 100%">
                                <div class="">
                                    {eq name="'Member@level_edit'|is_check_access" value="1"}
                                        <input type="text" name="tpl_title" value="{$vo.tpl_title}" onchange="changeTableVal('smtp_tpl','tpl_id','{$vo.tpl_id}','tpl_title',this);" style="width: 94%;">
                                    {else /}
                                        {$vo.tpl_title}
                                    {/eq}
                                </div>
                            </td>
                            <!-- <td style="width: 100%">
                                <div style="">
                                    {$vo.tpl_content}
                                </div>
                            </td> -->
                            <td class="">
                                <div class="w50 tc">
                                    {eq name="$vo['is_open']" value='1'}
                                        <span class="yes" onClick="changeTableVal('smtp_tpl','tpl_id','{$vo.tpl_id}','is_open',this);"><i class="fa fa-check-circle"></i>是</span>
                                    {else /}
                                        <span class="no" onClick="changeTableVal('smtp_tpl','tpl_id','{$vo.tpl_id}','is_open',this);"><i class="fa fa-ban"></i>否</span>
                                    {/eq}
                                </div>
                            </td>
                            <td class=""> 
                                <div class="w100 tc">
                                    {$vo.update_time|MyDate='Y-m-d',###}
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$pageStr}
    </div>
</div>
<script>
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });
    });
</script>

{include file="public/footer" /}