{include file="public/layout" /}
<body style="overflow: auto; cursor: default; -moz-user-select: inherit;background-color:#F4F4F4;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
{include file="shop/left" /}
<div id="geduan_div" class="h10"></div>
<div id="page_div" class="page min-hg-c mb-20" style="min-width: auto;box-shadow: none;">
    <div class="flexigrid flexigrid-xin" style="position: unset !important;overflow: unset;">
        <div class="fixed-bar">
            <div class="item-title">
                <ul class="tab-base nc-row">
                    <li> <a href='{:url("OrderVerify/drive_list")}'>提货点</a> </li>
                    <li> <a href='{:url("OrderVerify/verifier_list")}' class="current" style="padding-bottom: 26px;">核销员</a> </li>
                </ul>
            </div>
        </div>
        <div class="header-bar header-bj">
            <div class="more">
                <div class="search">
                    <div class="content" >
                        <form id="searchForm" action="{:url('OrderVerify/verifier_list')}" method="get" onsubmit="layer_loading('正在处理');" style="display: unset;">
                            {$searchform.hidden|default=''}
                            <input type="hidden" id="query" name="query" value="{$param.query}">
                            <div class="ey-form-item"><label class="users-form-item-label">会员名称：</label>
                                <div class="users-form-item-content">
                                    <div class="users-select">
                                        <div tabindex="0" class="users-select-selection">
                                            <div class="sDiv2">
                                                <input type="text" size="50" name="title" id="title" value="{$param.title}" class="qsbox" style="width: 170px;" placeholder="会员名称|核销员名称">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="ey-form-item" style="margin-left: 20px;">
                            <div class="users-form-item-content">
                                <span class="bt-xin" id="submitForm" onclick="searchQuery();">查询</span>
                                <span class="bt-xin-no" onclick="searchQuery('reset');">重置</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="geduan-xin"></div>
    <div class="flexigrid">
        <div class="mDiv">
            <div class="ftitle">
                <div class="fbutton"><a href="{:url('OrderVerify/verifier_add')}"><div class="add"><span><i class="layui-icon layui-icon-addition"></i>添加核销员</span></div></a></div>
            </div>
        </div>

        <div class="hDiv">
            <div class="hDivBox">
                <table cellpadding="0" cellspacing="0" style="width: 100%">
                    <thead>
                        <tr>
                            <th abbr="article_title" axis="col3" class="w50">
                                <div class="tc">ID</div>
                            </th>
                            <th axis="col2" class=""> <div class="text-l10">会员名称</div> </th>
                            <th axis="col2" class="w100"> <div class="tc">核销员名称</div> </th>
                            <th axis="col2" class="w300"> <div class="tc">所属提货点</div> </th>
                            <th axis="col2" class="w200"> <div class="tc">添加时间</div> </th>
                            <th axis="col2" class="w100"> <div class="tc">开启核销</div> </th>
                            <th axis="col2" class="w100"> <div class="tc">操作</div> </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="bDiv" style="height: auto; min-height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table style="width: 100%">
                    <tbody id="treet1">
                    {empty name="$list"}
                        <tr>
                            <td class="no-data" align="center" axis="col0" colspan="50">
                                <div class="no_row">
                                    <div class="no_pic"><img src="__SKIN__/images/null-data.png"></div>
                                </div>
                            </td>
                        </tr>
                    {else/}
                        {foreach name="$list" item="vo" key="k" }
                            <tr>
                                <td class="sort">
                                    <div class="tc w50">
                                        {$vo.id}
                                    </div>
                                </td>
                                <td style="width: 100%;">
                                    <div class="text-l10 tl">
                                        <img id="img_head_pic" class="pl10" style="width: 40px; height: 40px;" src="{$vo.head_pic|get_default_pic=###}">
                                        <p style="margin-top: 5px;">{$vo.nickname}</p>
                                    </div>
                                </td>
                                <td class="sort">
                                    <div class="tc w100">
                                        {$vo.name}
                                    </div>
                                </td>
                                <td class="">
                                    <div class="tc w300">
                                        {$vo.title}
                                    </div>
                                </td>
                                <td class="">
                                    <div class="tc w200">
                                        {$vo.add_time|MyDate='Y-m-d H:i:s',###}
                                    </div>
                                </td>
                                <td class="">
                                    <div class="tc w100">
                                        {eq name="$vo['status']" value='0'}
                                        <span class="yes" onclick="changeTableVal('verifier', 'id', '{$vo.id}', 'status', this);"> <i class="fa fa-check-circle"></i>是</span>
                                        {else /}
                                        <span class="no" onclick="changeTableVal('verifier', 'id', '{$vo.id}', 'status', this);"> <i class="fa fa-ban"></i>否</span>
                                        {/eq}
                                    </div>
                                </td>

                                <td class="operation">
                                    <div class="w100 tc">
                                        <a href="{:url('OrderVerify/verifier_edit',['id'=>$vo.id])}" class="btn blue">编辑</a>
                                        <i></i>
                                        <a class="btn red" href="javascript:void(0);" data-url="{:url('OrderVerify/verifier_del')}" data-id="{$vo.id}" onClick="delfun(this);">
                                            删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {/foreach}
                    {/empty}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tDiv">
            <div class="tDiv2"> {include file="public/page" /} </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
<script>
    $(function() {
        try {
            if (typeof(eval('is_conceal_1649209614')) == "function" && is_conceal_1649209614()) {
                $(".page").css("margin-left", "");
            } else {
                $(".page").css("margin-left", "110px");
            }
        } catch (e) {
        }
    });
    function searchQuery(isReset) {
        if (isReset && 'reset' == isReset) {
            window.location.href = "{:url('OrderVerify/drive_list', ['query'=>$Request.param.query])}";
        } else {
            $('#searchForm').submit();
        }
    }
</script>
{include file="public/footer" /}
