<!DOCTYPE html>
<html>
	<head>
        <title>{$eyou.field.seo_title}</title>
        <meta name="description" content="{$eyou.field.seo_description}" />
        <meta name="keywords" content="{$eyou.field.seo_keywords}" />
        <meta name="renderer" content="webkit" /> 
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui" />
        <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        {eyou:static file="ask/skin/css/ey-ask.css"/}
        {eyou:static file="ask/skin/css/font-awesome.min.css"/}
        {eyou:static file="ask/skin/css/iconfont.css"/}
        {eyou:static file="ask/skin/js/jquery.min.js"/}
        {eyou:static file="ask/skin/js/layer-v3.1.0/layer.js"/}

	</head>

	<body>
        <!-- 头部框 -->
        {eyou:include file="ask/ask_header.htm" /}
        <!-- 头部 END -->
        <!-- 中部 -->
        <div class="ask-content mt20">
            <!-- 版块导航 -->
            <div class="ask-aside ">
               <div class="ask-aside-list bg-f bor">
                    <div class="ask-title"> 问答版块 </div>
                    <ul>
                        {eyou:volist name="$eyou.field.TypeData" id="vo"}
                            <li {eq name='$vo.type_id' value='$eyou.field.TypeId'} class="cur" {/eq}>
                               <a href="javascript:void(0);" onclick="Linkjump(this);" data-url="{$vo.Url}">{$vo.type_name}</a>
                               <ul>
                                    {eyou:volist name="$vo.SubType" id="vo2"}
                                        <li {eq name='$vo2.type_id' value='$eyou.field.TypeId'} class="cur" {/eq}>
                                            <a href="javascript:void(0);" onclick="Linkjump(this);" data-url="{$vo2.Url}">{$vo2.type_name}</a>
                                        </li>
                                    {/eyou:volist}
                               </ul>
                            </li>
                        {/eyou:volist}
                    </ul>
               </div>
            </div>
            <!-- 版块导航 END -->
            <!-- 问答列表 -->
            <div class="ask-left">
                <!-- 列表筛选 -->
                <div class="nav-cate bg-f bor">
                    <ul>
                        {eyou:empty name="$eyou.field.SearchName"}
                            {eyou:empty name='$eyou.field.TypeId'}
                                <li>
                                    <a {eyou:eq name="$eyou.field.IsRecom" value="0"}class="cur"{/eyou:eq} href="javascript:void(0);" onclick="Linkjump(this);" data-url="{$eyou.field.NewDateUrl}"><i class="fa fa-refresh" aria-hidden="true"></i>最新</a>
                                </li>
                                <li>
                                    <a {eyou:eq name="$eyou.field.IsRecom" value="1"}class="cur"{/eyou:eq} href="javascript:void(0);" onclick="Linkjump(this);" data-url="{$eyou.field.RecomDateUrl}"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>推荐</a>
                                </li>
                                <li>
                                    <a {eyou:eq name="$eyou.field.IsRecom" value="3"}class="cur"{/eyou:eq} href="javascript:void(0);" onclick="Linkjump(this);" data-url="{$eyou.field.RewardUrl}"><i class="iconfont icon-hongbao" aria-hidden="true"></i>悬赏</a>
                                </li>
                            {eyou:else/}
                                <li><a class="cur" href="javascript:void(0);"></i>{$eyou.field.TypeName}</a></li>
                            {/eyou:empty}    
                        {eyou:else/}
                            <li><a class="cur" href="javascript:void(0);"></i>{$eyou.field.SearchNameRed}</a></li>
                        {/eyou:empty}
                    </ul>
                </div>
                <!-- 列表筛选 END -->
                <!-- 内容列表 -->
                <div class="bg-f bor mt15">
                    <div class="ask-list">
                        {eyou:volist name="$eyou.field.AskData" id="vo"}
                        <div class="ask-item">
                            <div class="ask-item-l"> <div class="num"> {$vo.replies} </div> <div class="label">回答</div> </div>
                            <div class="ask-item-r">
                                <div class="question-box">
                                    <div class="title">
                                        <a href="{$vo.AskUrl}"> {eyou:eq name="$eyou.field.IsRecom" value="3"}<div class="reward"><i class="iconfont icon-hongbao"></i>{$vo.money}</div>{/eyou:eq} {$vo.ask_title} </a>
                                    </div>
                                    <p class="desc"> <a href="{$vo.AskUrl}"> {$vo.content} </a> </p>
                                </div>
                                <div class="question-foot">
                                    <div class="tags">
                                       <ul>
                                            {eyou:volist name="$vo.HeadPic" id="pic"}
                                            <li><a href="javascript:void(0);"><img src="{$pic.head_pic|get_head_pic=###}"></a></li>
                                            {/eyou:volist}
                                       </ul>
                                       <span> {$vo.UsersConut} </span>
                                    </div>
                                    <div class="user-box">
                                        <div class="name"> {$vo.nickname} </div>
                                        <a href="{$vo.TypeUrl}" target="_blank" class="cate"> {$vo.type_name} </a>
                                        <div class="data"> {$vo.add_time} </div>
                                    </div>
                                </div>
                            </div>   
                        </div>
                        {/eyou:volist}
                    </div>
                </div>
                <!-- 内容列表 END -->
                <!-- 分页输出 -->{$eyou.field.pageStr}<!-- 分页输出 END -->
            </div>
            <!-- 问答列表 END -->
            <!-- 中部右边项 -->
            {eyou:include file="ask/ask_right.htm" /}
            <!-- 中部右边项 END -->
        </div>
        <!-- 中部 END -->
        <!-- 底部 -->
        {eyou:include file="ask/ask_footer.htm" /}
        <!-- 底部 END -->
        <script type="text/javascript">
            //JQ 左侧浮动方法
            $.fn.asideFloat = function() {
                var position = function(element) {
                    var top = element.position().top, pos = element.css("position");
                    $(window).scroll(function() {
                        var scrolls = $(this).scrollTop();
                        if (scrolls > top) {
                            if (window.XMLHttpRequest) {
                                element.css({
                                    position: "fixed",
                                    top: 0
                                });    
                            } else {
                                element.css({
                                    top: scrolls
                                });    
                            }
                        }else {
                            element.css({
                                position: "absolute",
                                top: top
                            });    
                        }
                    });
                };
                return $(this).each(function() {
                    position($(this));                         
                });
            };
            //JQ 左侧浮动方法调用
            $(".ask-aside-list").asideFloat();
        </script>
	</body>
</html>