{eyou:static file="skin/js/jquery.min.js" /}
<!-- 友好的弹出提示框 -->
{eyou:static file="/public/plugins/layer-v3.1.0/layer.js" /}
<!-- 支持子目录 -->
{eyou:global name='ey_common_hidden' /}


<header id="pc-header">
    <div class="layout navbar">
        <div class="container-layout">
            <div class="line">
                <div class="x2 logo">
                    <a href="{eyou:global name='web_basehost' /}"><img src="{eyou:global name='web_logo' /}" alt="{eyou:global name='web_name' /}" class="img-responsive"/></a>
                </div>
                <div class="x9 text-center">
                <ul class="nav nav-menu nav-inline" >
                 <li{eyou:eq name='$Request.param.m' value='Index'} class="active"{/eyou:eq}><a href="{eyou:global name='web_cmsurl' /}" title="首页">首页</a></li>
                {eyou:models type="top" id="field" currentstyle="active"}
                <li class="{$field.currentstyle}">
                    <a href="{$field.typeurl}" class="first-level">
                    {$field.typename}
                    {eyou:notempty name="$field.children"}<i class="iconfont icon-down margin-small-left"></i>{/eyou:notempty}</a>
                    {eyou:notempty name="$field.children"}
                    <ul class="drop-menu">
                        {eyou:models name="$field.children" id="field2"}
                        <li><a href="{$field2.typeurl}">{$field2.typename}</a></li>
                        {/eyou:models}
                    </ul>
                    {/eyou:notempty}
                    </a>
                </li>
                {/eyou:models}
              </ul>
                </div>
                <div class="x1">
                    <!-- 登录后的效果：文件模板存放在 system/users_info.htm ，具体更多写法请熟悉 ey_users 表字段 -->
                    {eyou:user type='open'}
                        {eyou:user type='userinfo'}
                        <div id="{$field.htmlid}">
                            <!-- 登录前 begin -->
                            <div class="log-in">
                                <div class="button-group">
                                    <a href="javascript:;" {$field.loginPopupId} data-target="#log" data-width="22%" data-toggle="click" data-mask="1" class="dialogs user-ico radius-circle dropdown-toggle text-center text-big">
                                    <i class="iconfont icon-huiyuanzhongxin"></i></a>
                                </div>
                            </div>
                            {eyou:if condition="getUsersConfigData('shop.shop_open') == 1"}
                            <div class="shopBar badge-corner">
                                <a href="{eyou:Diyurl link='user/Shop/shop_cart_list' /}" class="shop-ico">
                                    <!-- <span class="badge bg-yellow">0</span> -->
                                    <i class="iconfont icon-shopping-cart" aria-hidden="true"></i>
                                </a>
                            </div>
                            {/eyou:if}
                            <!-- 登录前 end -->      
                        </div> 
                        {$field.hidden}
                        {/eyou:user}
                    {/eyou:user}
                    <span class="searchBar" {eyou:if condition="getUsersConfigData('shop.shop_open') == 0"}style="right: 60px;"{/eyou:if}><a href="#none" class="search-ico"><i class="iconfont icon-search" aria-hidden="true"></i></a></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!--弹出搜索 begin -->
<div class="searchBar-m">
    <div class="mask"></div>
    <a href="javascript:void(0)" class="mask-ico"><i class="iconfont icon-x"></i></a>
    <div class="form-group">
    {eyou:searchform type='default'}
        <form method="get" action="{$field.action}" onsubmit="return searchForm();">
            <input type="text" name="keywords" id="keywords" class="input radius-none text-middle" value="{eyou:lang name='yybl6' /}" onFocus="this.value=''" onBlur="if(!value){value=defaultValue}"/>
            <button type="submit" name="submit" class="button radius-none border-none" value="Search"/></button>
            {$field.hidden}
        </form>
    {/eyou:searchform}
    </div>
</div>
<!-- 弹出搜索 end -->
<div class="clearfix"></div>




<script type="text/javascript">
    //头像下拉
    function head_nav_a()
    {
        $("#user_nav_z").show();
    }
    function head_nav_b()
    {
        $("#user_nav_z").hide();
    }

    var GetUploadify_url = "{:url('Uploadify/upload')}";
</script>

<!-- <script type="text/javascript">
    function logins_drop_menu()
    {
        $('#ul_logins_drop-menu').toggle();
    }
</script> -->