<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--首页seo标题-->
<title>{eyou:global name='web_title' /}_{eyou:global name='web_name' /}</title>
<!--首页seo关键词-->
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<!--首页seo描述-->
<meta name="description" content="{eyou:global name='web_description' /}" />
<!--网站地址栏图标-->
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/style/pintuer.css" /}
{eyou:static file="skin/style/header.css" /}
{eyou:static file="skin/style/style.css" /}
{eyou:static file="skin/style/iconfont.css" /}
<!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /}<![endif]-->
</head>
<body>
<!-- 公用头部 begin -->
{eyou:include file="header.htm" /}
<!-- 公用头部 end -->

<!-- 轮播广告 begin -->
<div class="layout bg-gray">
	<div class="line">
		<div class="x12">
			<div class="slides owl-carousel dot-center slides-arrow">
			{eyou:adv pid='1'}
				<div class="item">
					<a href='{$field.links}' {$field.target}><img src="{$field.litpic}" class="img-responsive"></a>
				</div>
			{/eyou:adv}
			</div>
		</div>
	</div>
</div>
<!-- 轮播广告 end -->

<!-- 产品推荐 begin-->
<div class="layout bg-gray">
	<div class="line">
		<div class="blank-middle"></div>
		<div class="title-c text-center">
			<h3>产品推荐</h3>
		</div>
	</div>
	<div class="container tab-normal">
		<div class="line tab">
			{eyou:modelsartlist typeid='3'}
			<div class="tab-head text-center">
				<ul class="tab-nav">
					{eyou:models type="son"}
					<li {eyou:eq name='$i' value='1'}class="active"{/eyou:eq}><a href="#tab-{$i}">{$field.typename}</a> </li>
					{/eyou:models}
				</ul>
			</div>
			<div class="blank-middle"></div>
			<div class="tab-body">
				{eyou:models type="son"}
				<div class="tab-panel {eyou:eq name='$i' value='1'}active{/eyou:eq}" id="tab-{$i}">
					<div class="line">
						<div class="owl-carousel dot-center carousel-pro">
						{eyou:artlist typeid='$field.typeid' titlelen='25' infolen='60' loop='12'}
							<div class="item media media-y bg-white">
								<div class="padding-large">
									<a href="{$field.arcurl}" title="{$field.title}"><img src="{$field.litpic}" class="img-responsive"></a>
									<div class="media-body text-center">
										<h2><a href="{$field.arcurl}" class="height-middle text-main text-middle">{$field.title}</a></h2>
									</div>
								</div>
							</div>
						{/eyou:artlist}
						</div>
					</div>
				</div>
				{/eyou:models}
			</div>
			{/eyou:modelsartlist}
		</div>
	</div>
	<div class="blank-large"></div>
</div>
<!-- 产品推荐 end -->

<!-- 关于我们 begin -->
<div class="layout home-about" style="background-image:url({eyou:global name='web_templets_pc' /}/skin/images/indpic.jpg)">
	{eyou:type typeid='8'}
	<div class="blank-big"></div>
	<div class="title-c text-center">
		<h3 class="text-white">{$field.typename}</h3>
	</div>
	{/eyou:type}
	<div class="container">
	<div class="line bg-white">
		<div class="x6">
			<div class="padding-large">
				<!--公司简介 begin -->
				<h2 class="text-main">{eyou:global name='web_name' /}</h2>
				<p class="text-sub text-default height-big">
				{eyou:type typeid='8' addtable='single_content'}{$field.content|html_msubstr=###,0,200}...{/eyou:type}</p>
				<div class="blank-small"></div>
				{eyou:modelsartlist typeid='1'}
				<a href="{eyou:field name='typeurl' /}" class="button radius-rounded bg-yellow">查看更多<i class="iconfont icon-right margin-small-left"></i></a>
				{/eyou:modelsartlist}
				<!--公司简介 end -->
			</div>
		</div>
		<div class="x6">
		  <img src="{eyou:global name='web_templets_pc' /}/skin/images/aboutpic.jpg" class="img-responsive">
		</div>
	</div>
	</div>
	<div class="blank-large"></div>
</div>
<!-- 关于我们 end -->

<!-- 解决方案 begin -->
{eyou:modelsartlist typeid='4'}
<div class="layout bg-white">
	<div class="container">
		<div class="line-small">
				<div class="blank-big"></div>
				<div class="title-c text-center">
					<h3>{eyou:field name='typename' /}</h3>
				</div>
			<div class="solution">
				{eyou:artlist titlelen='20' loop='6' infolen='100'}
				<div class="x4">
					<div class="media-img margin-little-bottom">
						<a href="{$field.arcurl}" target="_blank">
							<img src="{$field.litpic}" alt="{$field.title}" class="img-responsive">
							<div class="mask">
								<div class="subtitle">
									<h2 class="text-white text-big margin-bottom padding-big-top">{$field.title}</h2>
									<p class="text-white text-default">{$field.seo_description}</p>
									<p class="more text-white padding-bottom">更多</p>
								</div>
							</div>
							<div class="linear-link">
							<div class="subtitle">
								<h3 class="text-white text-middle margin-small-bottom">{$field.title}</h3>
							</div>
							</div>
						</a>
					</div>
				</div>
				{/eyou:artlist}
			</div>
		</div>
	</div>
	<div class="blank-large"></div>
</div>
{/eyou:modelsartlist}
<!-- 解决方案 end-->

<!-- 新闻动态 begin-->
{eyou:modelsartlist typeid='2'}
<div class="layout bg-gray">
	<div class="container">
		<div class="line">
			<div class="blank-big"></div>
			<div class="title-c text-center">
				<h3>{eyou:field name='typename' /}</h3>
			</div>
			<div class="x6">
				<div class="home-news-l">
					{eyou:artlist limit='0,1' titlelen='30'}
					<div class="home-news-h">
						<div class="media-img">
							<img src="{$field.litpic}" alt="{$field.title}" class="img-responsive img-new-h">
							<div class="post-title">
								<h3><a href="{$field.arcurl}" target="_blank">{$field.title}</a></h3>
								<p class="padding-top text-gray">{$field.update_time|MyDate='Y-m-d',###}</p>
								<a href="{$field.arcurl}" class="button radius-none border-none text-center hidden-l"><i class="iconfont icon-xiangqing"></i></a>
							</div>
						</div>
					</div>
					{/eyou:artlist}
				</div>
			</div>
			<div class="x6">
				<div class="home-news-r">
				{eyou:artlist limit='1,5' titlelen='20'}
					<div class="line home-news-c margin-bottom bg-white">
						<div class="x3">
							<a href="{$field.arcurl}" title="{$field.title}"><img src="{$field.litpic|thumb_img=###,145,95,2}" class="img-responsive img-new-w" alt="{$field.title}"></a>
						</div>
						<div class="x2 text-center">
							<div class="news-time Conv_DINCondensedC">
								<p class="text-large text-sub">{$field.update_time|MyDate='d',###}</p>
								<p class="text-middle text-gray">{$field.update_time|MyDate='Y-m',###}</p>
							</div>
						</div>
						<div class="x7">
							<div class="news-title">
								<h2><a href="{$field.arcurl}" class="text-main">{$field.title}</a></h2>
								<p class="text-gray hidden-l">{$field.seo_description|html_msubstr=###,0,18,true}</p>
							</div>
						</div>
					</div>
				{/eyou:artlist}
				</div>
			</div>
		</div>
	</div>
	<div class="blank-large"></div>
</div>
{/eyou:modelsartlist}
<!-- 新闻动态 end-->

<!-- 公用底部 begin -->
{eyou:include file="footer.htm" /}
<!-- 公用底部 end -->

{eyou:static file="skin/js/pintuer.js" /}
{eyou:static file="skin/js/common.js" /}
<!-- Owl Carousel -->
{eyou:static file="skin/Lib/OwlCarousel2.21/owl.carousel.min.css" /}
{eyou:static file="skin/Lib/OwlCarousel2.21/owl.carousel.min.js" /}
{eyou:static file="skin/Lib/OwlCarousel2.21/custom.js" /}
</body>
</html>