<!DOCTYPE html>
<html>
 <head> 
  <title>{$eyou.field.seo_title}</title> 
  <meta name="renderer" content="webkit" /> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui" /> 
  <meta name="description" content="{$eyou.field.seo_description}" /> 
  <meta name="keywords" content="{$eyou.field.seo_keywords}" />
  <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
  {eyou:static file="skin/css/basic.css" /} 
  {eyou:static file="skin/css/common.css" /} 
    <!--[if lte IE 9]>
    {eyou:static file="skin/js/lteie9.js" /}
    <![endif]--> 
 </head> 
 <!--[if lte IE 8]>
    <div class="text-xs-center m-b-0 bg-blue-grey-100 alert">
    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
        <span>×</span>
    </button>
    你正在使用一个 <strong>过时</strong> 的浏览器。请 <a href=https://browsehappy.com/ target=_blank>升级您的浏览器</a>，以提高您的体验。</div>
<![endif]--> 
 <body> 
<!--header-s-->
    {eyou:include file="header.htm"/}
<!--header-e-->
<main e-page="lists_download">
  <div class="ey-banner-ny vertical-align text-center"> 
   <h1 class="vertical-align-middle">{$eyou.field.typename}</h1> 
  </div> 
  <section class="ey-crumbs hidden-sm-down" m-id="met_position" m-type="nocontent"> 
   <div class="container"> 
    <div class="row"> 
     <div class="border-bottom clearfix"> 
      <ol class="breadcrumb m-b-0 subcolumn-crumbs breadcrumb-arrow"> 
       <li class="breadcrumb-item"> {eyou:lang name='yybl5' /}：{eyou:position style="crumb" /} </li> 
      </ol> 
     </div> 
    </div> 
   </div> 
  </section> 
  <section class="ey-download animsition"> 
   <div class="container"> 
    <div class="row"> 
     <div class="col-md-9 ey-download-body"> 
      <div class="row"> 
       <div class="ey-download-list"> 
        <ul class="ulstyle ey-pager-ajax imagesize"> 
          {eyou:list pagesize="10" titlelen="20" id='field'}
          <li class="list-group-item"> 
          <div class="media"> 
           <div class="media-left p-r-5 p-l-10 hidden-xs-down"> 
            <a href="{$field.arcurl}" title="{$field.title}"> <i class="icon fa-file-archive-o blue-grey-400"></i> </a> 
           </div> 
           <div class="media-body"> 
            {eyou:arcview aid='$field.aid' id='view'}
              {eyou:volist name="$view.file_list" id='vo'}
              <a class="btn btn-outline btn-primary btn-squared pull-xs-right" href="{$vo.downurl}" title="{$vo.title}">{eyou:lang name='yybl10' /}({$i})</a>
              {/eyou:volist}
            {/eyou:arcview}
            <h4 class="media-heading font-size-16"> <a class="name" href="{$field.arcurl}" title="{$field.title}">{$field.title}</a> </h4> 
            <small class="font-size-14 blue-grey-500"> <span>浏览量：{$field.click}次</span> <span class="m-l-10">日期：{$field.add_time|MyDate='Y-m-d',###}</span> </small> 
           </div> 
          </div>
          </li> 
          {/eyou:list}
        </ul> 
        <div class="m-t-20 text-xs-center hidden-sm-down"> 
          <ul class="tcdPageCode">
          {eyou:pagelist listitem="index,end,pre,next" listsize="2"/}
          </ul>
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="col-md-3"> 
      <div class="row"> 
       <div class="ey-bar"> 
        {eyou:searchform type='default'}
        <form class="sidebar-search" method="get" action="{$field.action}">
          {$field.hidden}
         <div class="form-group"> 
          <div class="input-search"> 
           <button type="submit" class="input-search-btn"> <i class="icon fa-search"></i> </button> 
           <input type="text" class="form-control" name="keywords" placeholder="{eyou:lang name='yybl6' /}" /> 
          </div> 
         </div> 
        </form> 
        {/eyou:searchform}
        <div class="sidebar-news-list recommend"> 
         <h3 class="m-0">{eyou:lang name='yybl7' /}</h3> 
         <ul class="list-icons list-group-bordered m-t-10 m-b-0"> 
         <!-- 循环输出指定最顶级栏目ID的文档列表，并按随机排序 start -->
         {eyou:arclist typeid='5' limit="0,5" titlelen="30" orderby='rand'}
         <li> <a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a> </li> 
         {/eyou:arclist}
         <!-- 循环输出指定最顶级栏目ID的文档列表，并按随机排序 end -->
         </ul> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </section> 
</main>
  <!--footer-s-->
  {eyou:include file="footer.htm" /}
  <!--footer-e-->
  {eyou:ui open='off' /}
 </body>
</html>