<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$eyou.field.seo_title}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/style/pintuer.css" /}
{eyou:static file="skin/style/header.css" /}
{eyou:static file="skin/style/style.css" /}
{eyou:static file="skin/style/iconfont.css" /}
<!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
</head>
<body>
<div id="mobile-mask">
<!--公用头部 begin -->
{eyou:include file="header.htm" /}
<!-- 公用头部 end -->
<!--公用栏目图片 begin -->
{eyou:include file="banner.htm" /}
<!-- 公用栏目图片 end -->
<!--当前位置 begin -->
<div class="layout bg-white">
	<div class="container">
		<div class="line nav-bread">
			<div class="x6">
				<h2 class="text-main">{$eyou.field.typename}</h2>
			</div>
			<div class="x6 text-right">
				{eyou:position/}
			</div>
		</div>
	</div>
</div>
<!--当前位置 end -->
<div class="layout bg-gray">
	<div class="blank-big"></div>
	<div class="container">
		<div class="line-big">
			{eyou:list titlelen='30' pagesize='10' addfields='gzdd,zprs,xzdy'}
			<div class="x4">
				<a href="{$field.arcurl}">
				<dl class="job-list bg-white padding-large margin-big-bottom">
					<dt>
						<p class="text-gray">{$field.update_time|MyDate='Y-m-d',###}</p>
						<h2 class="text-main margin-small-top">{$field.title}</h2>
					</dt>
					<hr class="bg-gray">
					<dd class="text-gray margin-top height-big">
						<p>工作地点：{$field.gzdd}</p>
						<p>招聘人数：{$field.zprs}</p>
						<p>薪资待遇：{$field.xzdy}</p>
						<p class="text-right"><span class="button button-small bg-yellow">详细</span></p>
					</dd>
				</dl>
				</a>
			</div>
			{/eyou:list}
		</div>
        <div class="blank-small"></div>
        <!-- 分页 begin -->
        <div class="text-center">
        	<ul class="pagination">
        	   {eyou:pagelist listitem='pre,pageno,next' listsize='9' /}
        	</ul>
        </div>
        <!-- 分页 end -->
	</div>
    <div class="blank-large"></div>
</div>
<!--网站公用底部 begin -->
{eyou:include file="footer.htm" /}
<!--网站公用底部 end -->
</div>
{eyou:static file="skin/js/pintuer.js" /}
{eyou:static file="skin/js/common.js" /}
</body>
</html>