<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$eyou.field.seo_title}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/style/pintuer.css" /}
{eyou:static file="skin/style/header.css" /}
{eyou:static file="skin/style/style.css" /}
{eyou:static file="skin/style/iconfont.css" /}
<!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
<body>
<div id="mobile-mask">
<!--公用头部 begin -->
{eyou:include file="header.htm" /}
<!-- 公用头部 end -->    
<!--公用栏目图片 begin -->
{eyou:include file="banner.htm" /}
<!-- 公用栏目图片 end -->    
<!-- 横向栏目样式 begin -->
<div class="nav-x">
    <div class="container">
        <div class="menu-toggle">
            <h3>{$eyou.field.typename}</h3>
            <ul class="nav-navicon text-center" id="subnav">
                <li class="col-2">
                    <a href="{$eyou.field.ptypeurl}" {eyou:gt name="$eyou.field.has_children" value="0"}class="active"{/eyou:gt}>全部</a>
                </li>
                {eyou:models type="first" id="field2" currentstyle="active"}
                <li class="col-2">
                    <a href="{$field2.typeurl}" class="{$field2.currentstyle}">{$field2.typename}</a>
                </li>
                {/eyou:models}
            </ul>
        </div>
    </div>
</div>
<!-- 横向栏目样式 end -->
<div class="layout bg-gray">
	<!--当前位置 begin -->
	<div class="container hidden-l">
		<div class="line">
			<div class="nav-bread">
				<i class="iconfont icon-home margin-small-right" aria-hidden="true"></i>{eyou:position/}
			</div>
		</div>
	</div>
	<!--当前位置 end-->
	<div class="container">
		<div class="line-large">
			<div class="solution">
			{eyou:list pagesize='6' mod='3'}
				<div class="x4">
					<div class="media-img margin-large-bottom">
						<a href="{$field.arcurl}" target="_blank">
							<img src="{$field.litpic}" alt="{$field.title}" class="img-responsive">
							<div class="mask">
								<div class="subtitle">
									<h2 class="text-white text-big margin-bottom">{$field.title}</h2>
									<p class="text-white">{$field.seo_description}</p>
									<p class="more text-white">更多</p>
								</div>
							</div>
							<div class="linear-link">
							<div class="subtitle">
								<h3 class="text-white text-middle margin-small-bottom">{$field.title}</h3>
								<p class="text-white">{$field.seo_keywords}</p>
							</div>
							</div>
						</a>
					</div>
				</div>
                {eyou:eq name='$mod' value='0'}<div style="clear:both"></div>{/eyou:eq}
			{/eyou:list}
			</div>
            <div class="blank-middle"></div>
            <!-- 分页 begin -->
            <div class="text-center">
            	<ul class="pagination">
            	   {eyou:pagelist listitem='pre,pageno,next' listsize='9' /}
            	</ul>
            </div>
            <!-- 分页 end -->
		</div>
	</div>
	<div class="blank-large"></div>
</div>
<!--网站公用底部 begin -->
{eyou:include file="footer.htm" /}
<!--网站公用底部 end -->
{eyou:static file="skin/js/pintuer.js" /}
{eyou:static file="skin/js/common.js" /}
</body>
</html>