<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/style/pintuer.css" /}
{eyou:static file="skin/style/header.css" /}
{eyou:static file="skin/style/style.css" /}
{eyou:static file="skin/Lib/font-awesome/css/font-awesome.min.css" /}
<!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
</head>
<body>
<!--网站公用头部——开始-->
{eyou:include file="header.htm" /}
{eyou:include file="banner.htm" /}
<div class="layout bg-white">
	<div class="container">
		<div class="line nav-bread">
			<div class="x6">
				<h2 class="text-main">{$eyou.field.typename}</h2>
			</div>
			<div class="xm6 text-right">
				{eyou:position/}
			</div>
		</div>
	</div>
</div>
<div class="layout bg-gray">
	<div class="blank-big"></div>
	<div class="container">
		<div class="line">
			<ul class="normal-list">
				{eyou:list titlelen='60' pagesize='10'}
				<li class="dot">
					<a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a>
					<span class="hidden-l">{$field.add_time|MyDate='Y-m-d',###}</span>
				</li>
				{/eyou:list}
			</ul>
			<!-- 分页 -->
			<div class="blank-small"></div>
			<div class="text-center">
				<ul class="pagination">
				   {eyou:pagelist listitem='pre,pageno,next' listsize='9' /}
				</ul>
			</div>
			<div class="blank-large"></div>
			<!-- 分页 -->			
		</div>
	</div>
</div>
<!--网站公用底部——开始-->
{eyou:include file="footer.htm" /}
<!--网站公用底部——结束-->
{eyou:static file="skin/js/pintuer.js" /}
{eyou:static file="skin/js/common.js" /}
</body>
</html>