<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$eyou.field.seo_title}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/style/pintuer.css" /}
{eyou:static file="skin/style/header.css" /}
{eyou:static file="skin/style/style.css" /}
{eyou:static file="skin/style/iconfont.css" /}
<!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
</head>
<body>
<!--公用头部 begin -->
{eyou:include file="header.htm" /}
<!-- 公用头部 end -->    
<div class="layout bg-gray">
    <!--当前位置 begin -->
	<div class="container">
		<div class="line">
			<div class="x12">
				<div class="nav-bread">
					<i class="iconfont icon-home margin-small-right" aria-hidden="true"></i>{eyou:position/}
				</div>
			</div>
		</div>
	</div>
    <!--当前位置 end -->
	<div class="container">
		<div class="line">
			<div class="x9">
				<div class="sidebar-l">
					<div class="article">
						<div class="padding-large bg-white">
							<div class="post">
                                <!-- 标题 begin -->
								<h1>{$eyou.field.title}</h1>
                                <!-- 标题 end -->
								<div class="blank"></div>
								<div class="text-gray padding-big-bottom text-default">
									<span class="margin-right">作者：{$eyou.field.author}</span>
									<span class="margin-right">更新时间：{$eyou.field.update_time|MyDate='Y-m-d',###}</span>
									<span class="margin-right">点击数：{eyou:arcclick /}</span>
                                    
								</div>
								<hr class="bg-gray">
								<div class="blank"></div>
                                <!-- 内容详情 begin -->
								{$eyou.field.content}
                                <!-- 内容详情 end -->
							</div>
                            <div class="blank-small"></div>
                            <!-- 收藏 begin -->
                            <div class="text-center">
                            {eyou:collect id='collect' cancel="<i class='iconfont icon-shoucang1 margin-small-right'></i>加入收藏" collect="<i class='iconfont icon-shoucang1 margin-small-right'></i>已收藏" }
                                <a class="button hidden-l bg-gray border-none radius-rounded text-center text-main" {$collect.onclick}>{$collect.cancel}</a>
                                {$collect.hidden}
                            {/eyou:collect}
                            </div>
                            <!-- 收藏 end -->
							<!-- tag begin -->
							<div class="blank-middle"></div>
							{eyou:notempty name='$eyou.field.tags'}
								<span>Tag：</span>
								{eyou:tags getall='0'}
								<a href="{$field.link}" class="tag tags bg-yellow radius-rounded text-white margin-small-bottom padding-small" {$field.target}>{$field.tag}</a>
								{/eyou:tags}
							{/eyou:notempty}
							<div class="blank-small"></div>
							<!-- tag end -->
							<div class="padding-large-top border-top height">
								<div class="line">
									<div class="x10">
                                        <!-- 上一篇 begin -->
										{eyou:prenext get='pre' titlelen='30'}
										{eyou:lang name='sys11' /}：<a href="{$field.arcurl}" class="text-main" title="{eyou:lang name='sys11' /}：{$field.title}">{$field.title}</a>
										{eyou:else /}
											{eyou:lang name='sys11' /}：<span class="text-gray">{eyou:lang name='sys10' /}</span>
										{/eyou:prenext}
                                        <!-- 上一篇 end -->
										<div class="blank"></div>
                                        <!-- 下一篇 begin -->
										{eyou:prenext get='next' titlelen='30'}
										{eyou:lang name='sys12' /}：<a href="{$field.arcurl}" class="text-main" title="{eyou:lang name='sys12' /}：{$field.title}">{$field.title}</a>
										{eyou:else /}
											{eyou:lang name='sys12' /}：<span class="text-gray">{eyou:lang name='sys10' /}</span>
										{/eyou:prenext}
                                        <!-- 下一篇 end -->
									</div>
									<div class="x2 text-center">
										{eyou:type typeid="$eyou.field.typeid"}
										<a href="{$field.typeurl}" class="button button-big button-block bg-yellow margin-top radius-rounded border-none text-default"><i class="iconfont icon-back margin-small-right"></i>返回列表</a>
										{/eyou:type}
									</div>
							   </div>
							</div>
						</div>
					</div>
				</div>
				<div class="blank"></div>
			</div>
			<div class="x3">
				<div class="sidebar-r">
					<div class="bg-white padding-big">
						<div class="title-l">
							<h2>随便看看</h2>
						</div>
						<ul class="list-post-text">
							 {eyou:artlist loop='10' orderby='rand'}
								<li class="dot"><a href="{$field.arcurl}" title="{$field.title}" class="height">{$field.title}</a></li>
							 {/eyou:artlist}
						</ul>
					</div>
					<div class="blank-small"></div>
					<div class="bg-white padding-big">
						<div class="title-l">
							<h2>产品推荐</h2>
						</div>

						<div class="list-post-x">
							{eyou:artlist typeid='3' loop='5'}
								<div class="media media-x">
									{eyou:eq name='$field.is_litpic' value='1'}
									<div class="thumb-md float-left radius">
										<a href="{$field.arcurl}" title="{$field.title}"><img src="{$field.litpic}" class="img-responsive" alt="{$field.title}"></a>
									</div>
									{/eyou:eq}
									<div class="media-body">
										<h3><a href="{$field.arcurl}" class="text-middle">{$field.title}</a></h3>
									</div>
								</div>
							{/eyou:artlist}
						</div>
					</div>
					<div class="blank-small"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="blank-big"></div>
</div>
<!--网站公用底部 begin -->
{eyou:include file="footer.htm" /}
<!--网站公用底部 end -->
{eyou:static file="skin/js/pintuer.js" /}
{eyou:static file="skin/js/common.js" /}
</body>
</html>