<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$eyou.field.seo_title}</title>
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<meta name="description" content="{$eyou.field.seo_description}" />
<link href="{eyou:global name='web_ico' /}" rel="shortcut icon" type="image/x-icon" />
{eyou:static file="skin/style/pintuer.css" /}
{eyou:static file="skin/style/header.css" /}
{eyou:static file="skin/style/style.css" /}
{eyou:static file="skin/style/iconfont.css" /}
<!--[if lt IE 9]>{eyou:static file="skin/js/respond.js" /} <![endif]-->
</head>
<body>
<!--公用头部 begin -->
{eyou:include file="header.htm" /}
<!-- 公用头部 end -->
<div class="layout bg-gray">
    <!--当前位置 begin -->
    <div class="container">
        <div class="line">
            <div class="nav-bread">
                <i class="iconfont icon-home margin-small-right" aria-hidden="true"></i>{eyou:position/}
            </div>
        </div>
    </div>
    <!--当前位置 end -->
    <div class="container product-description">
        <div class="line-large">
            <div class="x5">
                <div class="padding-large-top">
                    {eyou:notempty name='$eyou.field.image_list' /}
                    {eyou:volist name="$eyou.field.image_list" limit='0,1'}
                    <a href="{$field.image_url}" id="zoom1" class="MagicZoom MagicThumb">
                        <img src="{$field.image_url}" class="zoomimg" id="zoomimg" alt="{$field.intro}"/>
                    </a>
                    {/eyou:volist}
                    {eyou:else /}
                    <a href="{$eyou.field.litpic}" id="zoom1" class="MagicZoom MagicThumb">
                        <img src="{$eyou.field.litpic}" class="zoomimg" id="zoomimg" alt="{$eyou.field.title}"/>
                    </a>
                    {/eyou:notempty}
                    <div class="blank"></div>
                    <div class="owl-carousel arrow-style pro-thumb">
                        {eyou:notempty name='$eyou.field.image_list' /}
                        {eyou:volist name="$eyou.field.image_list"}
                        <a href="{$field.image_url}" rel="zoom1" rev="{$field.image_url}">
                            <div class="item bg-white"><img src="{$field.image_url}" class="img-responsive" alt="{$field.intro}"/></div>
                        </a>
                        {/eyou:volist}
                         {eyou:else /}
                        <a href="{$eyou.field.litpic}" rel="zoom1" rev="{$eyou.field.litpic}">
                            <div class="item bg-white"><img src="{$eyou.field.litpic}" class="img-responsive" alt="{$eyou.field.title}"/></div>
                        </a>
                        {/eyou:notempty}
                        
                    </div>
                </div>
            </div>
           
            <div class="x7">
                <div class="padding-large">
                    <div class="article">
                        <div class="post">
                        <!-- 标题 begin -->
                        <h1>{$eyou.field.title}</h1>
                        <!-- 标题 end -->
                        <div class="blank"></div>
                        <!-- 描述 begin -->
                        <p class="text-gray text-default">{$eyou.field.seo_description}</p>
                        <!-- 描述 end -->
                        <div class="blank-small"></div>
                        </div>
                        <!-- 价格 begin-->
                        <div class="ey-price text-large text-yellow Conv_DINCondensedC">￥{$eyou.field.users_price}</div> 
                        <!-- 价格 begin-->
                        <!-- 购物车组件 begin-->
                        {eyou:sppurchase id='field' currentstyle='btn-danger'}
                            <!-- 规格 begin -->
                            <div class="ey-spec">
                            {eyou:volist name="$field.ReturnData" id='field2'}
                                <div class="row m-t-15">
                                    <label class="form-control-label col-sm-7">{$field2.spec_name}</label>
                                    <div class="col-sm-10">
                                    {eyou:volist name="$field2.spec_value" id='field3'}
                                        <a href="JavaScript:void(0);" {$field3.SpecData} class="btn btn-default btn-selected {$field3.SpecClass}">{$field3.spec_value}</a>
                                    {/eyou:volist}
                                    </div>
                                </div>
                            {/eyou:volist}
                            </div>
                            <!-- 规格 end -->
                        
                            <!-- 数量操作 begin -->
                            <div class="ey-number">
                                <label>数量</label>
                                <div class="btn-input">
                                    <button class="layui-btn" {$field.ReduceQuantity}>-</button>
                                    <input type="text" class="layui-input" {$field.UpdateQuantity}>
                                    <button class="layui-btn" {$field.IncreaseQuantity}>+</button>
                                </div>
                            </div>
                            <!-- 数量操作 end -->
                        
                            <!-- 库存量 begin -->
                            <span {$field.stock_show}>库存量：{$field.stock_count} 件</span>
                            <!-- 库存量 end -->
                        
                            <!-- 购买按钮 begin -->
                            <div class="ey-buyaction">
                                <a class="ey-joinin" href="JavaScript:void(0);" {$field.ShopAddCart}>加入购物车</a>
                                <a class="ey-joinbuy" href="JavaScript:void(0);" {$field.BuyNow}>立即购买</a>
                            </div>
                            <!-- 购买按钮 end -->
                        
                            {$field.hidden}
                        {/eyou:sppurchase}
                        <!-- 购物车组件 end -->
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="blank-big"></div>
</div>

<div class="layout">
<div class="product-overview">
    <div class="tab">
        <div class="layout bg-white tab-head">
            <div class="container">
                <div class="line">
                    <ul class="tab-nav">
                        <li class="active"><a href="#overview">商品介绍</a></li>
                        <!-- <li><a href="#specification">商品参数</a> </li> -->
                    </ul>
                </div>
            </div>
        </div>

        <div class="layout bg-white">
            <div class="blank-middle"></div>
            <div class="container">
                <div class="line">
                    <div class="tab-body">
                        <div class="tab-panel active" id="overview">
                            <div class="content overflow-x">
                            <!-- 内容详情 begin -->
                            {$eyou.field.content}
                            <!-- 内容详情 end -->
                            </div>
                        </div>
                        <!--产品参数调用自动——开始-->
                        <!-- <div class="tab-panel" id="specification">
                            <div class="content overflow-x">
                            <ul class="attribute">
                                {eyou:attribute type='newattr' attrid='$eyou.field.attrlist_id'}
                                <li><span>{$attr.name}：</span>{$attr.value} </li>
                                {/eyou:attribute}
                            </ul>
                            </div>
                        </div> -->
                        <!--产品参数调用——结束-->
                    </div>
                </div>
            </div>
            <div class="blank-big"></div>
        </div>
    </div>
</div>
</div>

<div class="layout bg-gray">
    <div class="blank-big"></div>
    <div class="container">
        <div class="title-l"><h2>产品推荐</h2></div>
        <div class="blank-middle"></div>
        <div class="line">
            <div class="owl-carousel dot-center carousel-pro">
                {eyou:artlist flag='c' orderby='now' titlelen='30' loop='9' typeid='3'}
                    <div class="item media media-y bg-white">
                        <div class="padding-large">
                            <a href="{$field.arcurl}" title="{$field.title}"><img src="{$field.litpic}" class="img-responsive"></a>
                            <div class="media-body text-left">
                                <h2><a href="{$field.arcurl}" class="text-middle">{$field.title}</a></h2>
                                <div class="price-info height margin-big-top">
                                    <ul>
                                        <li class="v2-1 text-yellow float-left">
                                            <span class="Conv_DINCondensedC text-big">￥{$field.users_price}</span>
                                        </li>
                                        <li class="v2-2 text-gray text-right float-right">
                                            <i class="iconfont icon-eye margin-small-right margin-left"></i>{$field.click}
                                        </li>
                                        <div class="clearfix"></div>
                                    </ul>
                                </div>                              
                            </div>
                        </div>
                    </div>
                {/eyou:artlist}
            </div>
        </div>
    </div>
    <div class="blank-large"></div>
</div>

<!--网站公用底部 begin -->
{eyou:include file="footer.htm" /}
<!--网站公用底部 end -->
{eyou:static file="skin/js/pintuer.js" /}
{eyou:static file="skin/js/common.js" /}
<!-- 放大镜 begin-->
{eyou:static file="skin/Lib/MagicZoom/magiczoomplus.css" /}
{eyou:static file="skin/Lib/MagicZoom/mzp-packed.js" /}
<!-- Owl Carousel -->
{eyou:static file="skin/Lib/OwlCarousel2.21/owl.carousel.min.css" /}
{eyou:static file="skin/Lib/OwlCarousel2.21/owl.carousel.min.js" /}
{eyou:static file="skin/Lib/OwlCarousel2.21/custom.js" /}
<!-- 放大镜 end-->
</body>
</html>
