<!DOCTYPE html>
<html>
 <head> 
  <title>{$eyou.field.seo_title}</title> 
  <meta name="renderer" content="webkit" /> 
  <meta charset="utf-8" /> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0,minimal-ui" /> 
  <meta name="description" content="{$eyou.field.seo_description}" /> 
  <meta name="keywords" content="{$eyou.field.seo_keywords}" />
  <link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
  {eyou:static file="skin/css/basic.css" /} 
  {eyou:static file="skin/css/common.css" /} 
  <style>
    body{background-position: center;background-repeat: no-repeat;background-color: ;font-family:;}
  </style> 
    <!--[if lte IE 9]>
    {eyou:static file="skin/js/lteie9.js" /}
    <![endif]--> 
 </head> 
 <!--[if lte IE 8]>
    <div class="text-xs-center m-b-0 bg-blue-grey-100 alert">
    <button type="button" class="close" aria-label="Close" data-dismiss="alert">
        <span>×</span>
    </button>
    你正在使用一个 <strong>过时</strong> 的浏览器。请 <a href=https://browsehappy.com/ target=_blank>升级您的浏览器</a>，以提高您的体验。</div>
<![endif]--> 
 <body> 
<!--header-s-->
    {eyou:include file="header.htm"/}
<!--header-e-->
<main e-page="view_download">
  <div class="ey-banner-ny vertical-align text-center"> 
   <h1 class="vertical-align-middle">{$eyou.field.typename}</h1> 
  </div> 
  <section class="ey-crumbs hidden-sm-down" m-id="met_position" m-type="nocontent"> 
   <div class="container"> 
    <div class="row"> 
     <div class="border-bottom clearfix"> 
      <ol class="breadcrumb m-b-0 subcolumn-crumbs breadcrumb-arrow"> 
       <li class="breadcrumb-item"> {eyou:lang name='yybl5' /}：{eyou:position style="crumb" /} </li> 
      </ol> 
     </div> 
    </div> 
   </div> 
  </section> 
  <div> 
   <section class="ey-showdownload animsition"> 
    <div class="container"> 
     <div class="row"> 
      <div class="col-md-9 ey-showdownload-body" m-id="noset"> 
       <div class="row"> 
        <section class="details-title"> 
         <h1 class="m-t-10 m-b-5">{$eyou.field.title}</h1> 
         <div class="info"> 
          <span>{$eyou.field.add_time|MyDate='Y-m-d H:i:s',###}</span> 
          <span>{$eyou.field.author}</span> 
          <span> <i class="icon fa-eye m-r-5"></i> {eyou:arcclick /} </span> 
         </div> 
        </section> 
        <section class="download-paralist"> 
         <dl class="dl-horizontal clearfix blocks font-size-16"> 
          <dt class="font-weight-300">
           <span>{eyou:lang name='yybl11' /}</span> :
           <span class="p-x-10"></span>
          </dt> 
         </dl> 
         {eyou:volist name="$eyou.field.file_list" id="field"}
         <a class="btn btn-outline btn-primary btn-squared ey-showdownload-btn m-t-20" href="{$field.downurl}" title="{$field.title}">{eyou:lang name='yybl10' /}（{$i}）</a> 
         {/eyou:volist}
        </section> 
        <section class="ey-editor clearfix"> 
         {$eyou.field.content}
        </section> 
         <div class="ey-page ey-shownews-footer"> 
          <ul class="pagination block blocks-2"> 
            <li class="page-item m-b-0 ">
            {eyou:prenext get='pre'}
             <a href="{$field.arcurl}" title="{$field.title}" class="page-link text-truncate"> {eyou:lang name='sys11' /} <span class="hidden-xs-down">: {$field.title}</span> </a>  
            {eyou:else /}
            <a class="page-link text-truncate">{eyou:lang name='sys11' /}：{eyou:lang name='sys10' /}</a>
            {/eyou:prenext}
            </li>
            <li class="page-item m-b-0 ">
            {eyou:prenext get='next'}
              <a href="{$field.arcurl}" title="{$field.title}" class="page-link pull-xs-right text-truncate"> {eyou:lang name='sys12' /} <span class="hidden-xs-down">: {$field.title}</span> </a>
             {eyou:else /} 
              <a class="page-link pull-xs-right text-truncate">{eyou:lang name='sys12' /}：{eyou:lang name='sys10' /}</a>
            {/eyou:prenext}
            </li>
          </ul> 
         </div> 
       </div> 
      </div> 
      <div class="col-md-3"> 
       <div class="row"> 
        <div class="ey-bar"> 
        {eyou:searchform type='default'}
        <form class="sidebar-search" method="get" action="{$field.action}">
          {$field.hidden}
          <div class="form-group"> 
           <div class="input-search"> 
            <button type="submit" class="input-search-btn"> <i class="icon fa-search"></i> </button> 
            <input type="text" class="form-control" name="keywords" placeholder="{eyou:lang name='yybl6' /}" /> 
           </div> 
          </div> 
         </form> 
        {/eyou:searchform}
         <div class="sidebar-news-list recommend"> 
          <h3 class="m-0">{eyou:lang name='yybl7' /}</h3> 
          <ul class="list-icons list-group-bordered m-t-10 m-b-0"> 
         <!-- 循环输出指定最顶级栏目ID的文档列表，并按随机排序 start -->
         {eyou:arclist limit="0,5" titlelen="30" orderby='rand'}
         <li> <a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a> </li> 
         {/eyou:arclist}
         <!-- 循环输出指定最顶级栏目ID的文档列表，并按随机排序 end -->
          </ul> 
         </div> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </section> 
  </div> 
</main>
  <!--footer-s-->
  {eyou:include file="footer.htm" /}
  <!--footer-e-->
  {eyou:ui open='off' /}
 </body>
</html>